Repository bitnami/containers, pull requests merged in 2022-08, with the labels that each got.

#1450 [bitnami/*] Ensuring all developers are properly added to bitnami-team
  .github/workflows/.env
  .github/workflows/sync-teams.yml
Labels: bitnami

#1553 [bitnami/*] Add vuln. scan note in the README
  README.md
Labels: bitnami

#1775 [bitnami/*] Bumping the action version to assign PRs
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: bitnami

#1829 [bitnami/reportserverenterprise] Add deprecation notice to the README
  bitnami/reportserverenterprise/README.md
Labels: bitnami

#1913 Remove ReportServer Enterprise folder after being deprecated
  bitnami/reportserverenterprise/4/debian-11/Dockerfile
  bitnami/reportserverenterprise/4/debian-11/docker-compose.yml
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libcomponent.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/reportserverenterprise/4/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/libmysqlclient.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/libreportserver.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/mysql-client-env.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/mysql-client/postunpack.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/mysql-client/setup.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/reportserver-env.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/reportserver/entrypoint.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/reportserver/postunpack.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/reportserver/setup.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/post-init.d/shell.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/post-init.d/sql-mysql.sh
  bitnami/reportserverenterprise/4/debian-11/rootfs/post-init.sh
  bitnami/reportserverenterprise/README.md
  bitnami/reportserverenterprise/docker-compose.yml
Labels: bitnami

#2065 [bitnami/dotnet & dotnet-sdk] Remove .Net 5.x.x
  bitnami/dotnet-sdk/5/debian-11/Dockerfile
  bitnami/dotnet-sdk/5/debian-11/docker-compose.yml
  bitnami/dotnet-sdk/5/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet-sdk/5/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet-sdk/5/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet-sdk/5/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet-sdk/5/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet-sdk/5/debian-11/rootfs/opt/bitnami/scripts/dotnet-sdk/entrypoint.sh
  bitnami/dotnet-sdk/5/debian-11/rootfs/opt/bitnami/scripts/dotnet-sdk/postunpack.sh
  bitnami/dotnet/5/debian-11/Dockerfile
  bitnami/dotnet/5/debian-11/docker-compose.yml
  bitnami/dotnet/5/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet/5/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet/5/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet/5/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet/5/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet/5/debian-11/rootfs/opt/bitnami/scripts/dotnet/entrypoint.sh
  bitnami/dotnet/5/debian-11/rootfs/opt/bitnami/scripts/dotnet/postunpack.sh
Labels: bitnami

#1062 [bitnami/redis] fix: only check passphrase file if set
  bitnami/redis/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
Labels: verify, in-progress, redis

#2622 New workflow to build SRP report
  .github/workflows/srp-report.yml
Labels: bitnami

#2638 Fix Provenance UID and secret typo
  .github/workflows/srp-report.yml
Labels: bitnami

#1654 [bitnami/argo-cd] SSH is needed for repository to work correcly
  bitnami/argo-cd/2/debian-11/Dockerfile
Labels: in-progress, argo-cd

#2735 [bitnami/aspnet-core] Remove branch 6.0 files (renamed as 6)
  bitnami/aspnet-core/6.0/debian-11/Dockerfile
  bitnami/aspnet-core/6.0/debian-11/docker-compose.yml
  bitnami/aspnet-core/6.0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/aspnet-core/6.0/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/aspnet-core/6.0/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/aspnet-core/6.0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/aspnet-core/6.0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/aspnet-core/6.0/debian-11/rootfs/opt/bitnami/scripts/aspnet-core/entrypoint.sh
  bitnami/aspnet-core/6.0/debian-11/rootfs/opt/bitnami/scripts/aspnet-core/postunpack.sh
Labels: bitnami

#2734 [bitnami/dotnet] Remove branch 6.0 files (renamed as 6)
  bitnami/dotnet/6.0/debian-11/Dockerfile
  bitnami/dotnet/6.0/debian-11/docker-compose.yml
  bitnami/dotnet/6.0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet/6.0/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet/6.0/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet/6.0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet/6.0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet/6.0/debian-11/rootfs/opt/bitnami/scripts/dotnet/entrypoint.sh
  bitnami/dotnet/6.0/debian-11/rootfs/opt/bitnami/scripts/dotnet/postunpack.sh
Labels: bitnami

#2738 [bitnami-bot] Update Bitnami team members
  .github/workflows/.env
Labels: bitnami

#3270 [bitnami/mariadb-galera] fix TLS environment variable in documentation
  bitnami/mariadb-galera/README.md
Labels: verify, in-progress, mariadb-galera

#3387 [bitnami/harbor-portal] Fix broken link on README.md
  bitnami/harbor-portal/README.md
Labels: bitnami

#3358 [bitnami/cassandra] Add CASSANDRA_AUTOMATIC_SSTABLE_UPGRADE environment variable
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/cassandra-env.sh
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/libcassandra.sh
  bitnami/cassandra/README.md
Labels: verify, in-progress, cassandra

#3583 [bitnami/node] Deprecate NodeJS 12.x.x
  bitnami/node/12/debian-11/Dockerfile
  bitnami/node/12/debian-11/docker-compose.yml
  bitnami/node/12/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/node/12/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/node/12/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/node/12/debian-11/tags-info.yaml
  bitnami/node/README.md
Labels: bitnami, node

#3585 [bitnami/grafana] Deprecate Grafana 8.x.x
  bitnami/grafana/8/debian-11/Dockerfile
  bitnami/grafana/8/debian-11/docker-compose.yml
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libcomponent.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/grafana/8/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/grafana/8/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/grafana/8/debian-11/rootfs/opt/bitnami/scripts/grafana-env.sh
  bitnami/grafana/8/debian-11/rootfs/opt/bitnami/scripts/grafana/entrypoint.sh
  bitnami/grafana/8/debian-11/rootfs/opt/bitnami/scripts/grafana/postunpack.sh
  bitnami/grafana/8/debian-11/rootfs/opt/bitnami/scripts/grafana/run.sh
  bitnami/grafana/8/debian-11/rootfs/opt/bitnami/scripts/grafana/setup.sh
  bitnami/grafana/8/debian-11/rootfs/opt/bitnami/scripts/libgrafana.sh
  bitnami/grafana/8/debian-11/rootfs/post-init.d/shell.sh
  bitnami/grafana/8/debian-11/rootfs/post-init.sh
  bitnami/grafana/8/debian-11/tags-info.yaml
  bitnami/grafana/README.md
Labels: bitnami, grafana

#1696 [bitnami/moodle] Add support for auroramysql driver
  bitnami/moodle/3/debian-11/rootfs/opt/bitnami/scripts/libmoodle.sh
  bitnami/moodle/4/debian-11/rootfs/opt/bitnami/scripts/libmoodle.sh
  bitnami/moodle/README.md
Labels: verify, in-progress, moodle

#2061 [bitnami/rabbitmq] Support additional virtual host via RABBITMQ_VHOSTS
  bitnami/rabbitmq/3.10/debian-11/rootfs/opt/bitnami/scripts/librabbitmq.sh
  bitnami/rabbitmq/3.10/debian-11/rootfs/opt/bitnami/scripts/rabbitmq-env.sh
  bitnami/rabbitmq/3.9/debian-11/rootfs/opt/bitnami/scripts/librabbitmq.sh
  bitnami/rabbitmq/3.9/debian-11/rootfs/opt/bitnami/scripts/rabbitmq-env.sh
  bitnami/rabbitmq/README.md
Labels: verify, in-progress, rabbitmq

#3331 [bitnami/*] Change workflow to fix issues retrieving tag information
  .github/workflows/cd-pipeline.yaml
  .github/workflows/ci-automated-pipeline.yaml
  .github/workflows/ci-pipeline.yaml
Labels: bitnami

#4317 [binami/redis-cluster] Add instructions on how to override configuration
  bitnami/redis-cluster/README.md
Labels: in-progress, redis-cluster

#4313 [bitnami/harbor-portal] Fix TL;DR instructions
  bitnami/harbor-portal/README.md
Labels: bitnami, harbor

#4452 [bitnami/*]Use github token to reduce the number of labeled events
  .github/workflows/ci-automated-pipeline.yaml
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: bitnami

#4453 [bitnami/*]Use github token to reduce the number of labeled events
  .github/workflows/ci-automated-pipeline.yaml
  .github/workflows/comments.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: verify

#4457 [bitnami/*]Use github token to reduce the number of labeled events
  .github/workflows/clossing-issues.yml
  .github/workflows/comments.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: verify

#4450 [bitnami/*] Move failed automated PRs into Support Dashboard
  .github/workflows/ci-automated-pipeline.yaml
Labels: bitnami

#4693 [bitnami/*] Move failed automated PRs into Support Dashboard
  .github/workflows/ci-automated-pipeline.yaml
Labels: verify, bitnami
