Repository bitnami/containers, pull requests merged in 2022-11, with the labels that each got.

#12221 [bitnami/containers] Add OSM reporting action (second batch)
  .vib/aspnet-core/vib-publish.json
  .vib/aws-cli/vib-publish.json
  .vib/clickhouse/vib-publish.json
  .vib/contour/vib-publish.json
  .vib/dotnet-sdk/vib-publish.json
  .vib/dotnet/vib-publish.json
  .vib/drupal-nginx/vib-publish.json
  .vib/drupal/vib-publish.json
  .vib/elasticsearch/vib-publish.json
  .vib/etcd/vib-publish.json
  .vib/ghost/vib-publish.json
  .vib/golang/vib-publish.json
  .vib/joomla/vib-publish.json
  .vib/jupyter-base-notebook/vib-publish.json
  .vib/kibana/vib-publish.json
  .vib/logstash/vib-publish.json
  .vib/mongodb/vib-publish.json
  .vib/moodle/vib-publish.json
  .vib/odoo/13/vib-publish.json
  .vib/odoo/14/vib-publish.json
  .vib/odoo/vib-publish.json
  .vib/openldap/vib-publish.json
  .vib/parse-dashboard/vib-publish.json
  .vib/parse/4/vib-publish.json
  .vib/parse/vib-publish.json
  .vib/percona-xtrabackup/vib-publish.json
  .vib/php-fpm/vib-publish.json
  .vib/rabbitmq/3.9/vib-publish.json
  .vib/rabbitmq/vib-publish.json
  .vib/redis-sentinel/vib-publish.json
  .vib/redis/vib-publish.json
  .vib/solr/vib-publish.json
  .vib/sonarqube/vib-publish.json
  .vib/spark/vib-publish.json
  .vib/suitecrm/vib-publish.json
  .vib/trivy/vib-publish.json
  .vib/wavefront-proxy/vib-publish.json
  .vib/zookeeper/vib-publish.json
Labels: verify, bitnami

#12303 Revert "[bitnami/containers] Add OSM reporting action (second batch)"
  .vib/aspnet-core/vib-publish.json
  .vib/aws-cli/vib-publish.json
  .vib/clickhouse/vib-publish.json
  .vib/contour/vib-publish.json
  .vib/dotnet-sdk/vib-publish.json
  .vib/dotnet/vib-publish.json
  .vib/drupal-nginx/vib-publish.json
  .vib/drupal/vib-publish.json
  .vib/elasticsearch/vib-publish.json
  .vib/etcd/vib-publish.json
  .vib/ghost/vib-publish.json
  .vib/golang/vib-publish.json
  .vib/joomla/vib-publish.json
  .vib/jupyter-base-notebook/vib-publish.json
  .vib/kibana/vib-publish.json
  .vib/logstash/vib-publish.json
  .vib/mongodb/vib-publish.json
  .vib/moodle/vib-publish.json
  .vib/odoo/13/vib-publish.json
  .vib/odoo/14/vib-publish.json
  .vib/odoo/vib-publish.json
  .vib/openldap/vib-publish.json
  .vib/parse-dashboard/vib-publish.json
  .vib/parse/4/vib-publish.json
  .vib/parse/vib-publish.json
  .vib/percona-xtrabackup/vib-publish.json
  .vib/php-fpm/vib-publish.json
  .vib/rabbitmq/3.9/vib-publish.json
  .vib/rabbitmq/vib-publish.json
  .vib/redis-sentinel/vib-publish.json
  .vib/redis/vib-publish.json
  .vib/solr/vib-publish.json
  .vib/sonarqube/vib-publish.json
  .vib/spark/vib-publish.json
  .vib/suitecrm/vib-publish.json
  .vib/trivy/vib-publish.json
  .vib/wavefront-proxy/vib-publish.json
  .vib/zookeeper/vib-publish.json
Labels: verify, bitnami

#12305 Revert "[bitnami/containers] Add OSM reporting action (first batch)"
  .github/workflows/cd-pipeline.yml
  .vib/envoy/1.20/vib-publish.json
  .vib/envoy/vib-publish.json
  .vib/java/vib-publish.json
  .vib/kafka/vib-publish.json
  .vib/ksql/vib-publish.json
  .vib/kubectl/vib-publish.json
  .vib/mariadb-galera/10.3/vib-publish.json
  .vib/mariadb-galera/10.4/vib-publish.json
  .vib/mariadb-galera/vib-publish.json
  .vib/mariadb/10.3/vib-publish.json
  .vib/mariadb/10.4/vib-publish.json
  .vib/mariadb/vib-publish.json
  .vib/mysql/vib-publish.json
  .vib/nginx/vib-publish.json
  .vib/node/vib-publish.json
  .vib/postgresql-repmgr/vib-publish.json
  .vib/postgresql/vib-publish.json
  .vib/python/vib-publish.json
  .vib/ruby/vib-publish.json
  .vib/schema-registry/vib-publish.json
  .vib/symfony/vib-publish.json
  .vib/tomcat/vib-publish.json
Labels: verify, bitnami

#12289 Remove java 18.x.x
  bitnami/java/18/debian-11/Dockerfile
  bitnami/java/18/debian-11/docker-compose.yml
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/java/18/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/java/18/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/java/18/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/java/18/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/java/18/debian-11/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  bitnami/java/18/debian-11/tags-info.yaml
  bitnami/java/README.md
Labels: verify, java

#12462 [bitnami/kubernetes-event-exporter] Deprecate branch 0
  bitnami/kubernetes-event-exporter/0/debian-11/Dockerfile
  bitnami/kubernetes-event-exporter/0/debian-11/docker-compose.yml
  bitnami/kubernetes-event-exporter/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kubernetes-event-exporter/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kubernetes-event-exporter/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/kubernetes-event-exporter/0/debian-11/tags-info.yaml
  bitnami/kubernetes-event-exporter/README.md
Labels: verify, bitnami, kubernetes-event-exporter

#13136 Use 0.4.7 as pinned version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#12827 fix readme [The user is able to specify a custom file in the default …
  bitnami/mysql/README.md
Labels: verify, in-progress, mysql

#13241 Use 0.4.10 as pinned version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13254 [bitnami/jaeger] Add VIB pipelines for Jaeger
  .vib/jaeger/vib-publish.json
  .vib/jaeger/vib-verify.json
Labels: verify, jaeger

#13324 [bitnami/several] Rename Cert Manager to cert-manager
  bitnami/acmesolver/README.md
  bitnami/cert-manager-webhook/README.md
  bitnami/cert-manager/README.md
Labels: verify, bitnami

#13457 Use 0.4.11 as pinned version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#12535 [bitnami/dokuwiki] fix DOKU_INC path
  bitnami/dokuwiki/20220731/debian-11/rootfs/opt/bitnami/scripts/dokuwiki/postunpack.sh
Labels: verify, in-progress, dokuwiki

#12817 [bitnami/phpmyadmin] Support user & password for phpmyadmin
  bitnami/phpmyadmin/5/debian-11/rootfs/opt/bitnami/scripts/libphpmyadmin.sh
  bitnami/phpmyadmin/5/debian-11/rootfs/opt/bitnami/scripts/phpmyadmin-env.sh
  bitnami/phpmyadmin/README.md
Labels: verify, in-progress, phpmyadmin

#13655 Remove tomcat 10
  bitnami/tomcat/10/debian-11/Dockerfile
  bitnami/tomcat/10/debian-11/docker-compose.yml
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/tomcat/10/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/tomcat/10/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/tomcat/10/debian-11/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/tomcat/10/debian-11/tags-info.yaml
Labels: verify, bitnami, tomcat

#13662 [bitnami/several] Deprecate .Net, .Net SDK and ASPNET Core 3.1.x
  bitnami/aspnet-core/3.1/debian-11/Dockerfile
  bitnami/aspnet-core/3.1/debian-11/docker-compose.yml
  bitnami/aspnet-core/3.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/aspnet-core/3.1/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/aspnet-core/3.1/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/aspnet-core/3.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/aspnet-core/3.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/aspnet-core/3.1/debian-11/rootfs/opt/bitnami/scripts/aspnet-core/entrypoint.sh
  bitnami/aspnet-core/3.1/debian-11/rootfs/opt/bitnami/scripts/aspnet-core/postunpack.sh
  bitnami/aspnet-core/3.1/debian-11/tags-info.yaml
  bitnami/dotnet-sdk/3.1/debian-11/Dockerfile
  bitnami/dotnet-sdk/3.1/debian-11/docker-compose.yml
  bitnami/dotnet-sdk/3.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet-sdk/3.1/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet-sdk/3.1/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet-sdk/3.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet-sdk/3.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet-sdk/3.1/debian-11/rootfs/opt/bitnami/scripts/dotnet-sdk/entrypoint.sh
  bitnami/dotnet-sdk/3.1/debian-11/rootfs/opt/bitnami/scripts/dotnet-sdk/postunpack.sh
  bitnami/dotnet-sdk/3.1/debian-11/tags-info.yaml
  bitnami/dotnet/3.1/debian-11/Dockerfile
  bitnami/dotnet/3.1/debian-11/docker-compose.yml
  bitnami/dotnet/3.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet/3.1/debian-11/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet/3.1/debian-11/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet/3.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet/3.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet/3.1/debian-11/rootfs/opt/bitnami/scripts/dotnet/entrypoint.sh
  bitnami/dotnet/3.1/debian-11/rootfs/opt/bitnami/scripts/dotnet/postunpack.sh
  bitnami/dotnet/3.1/debian-11/tags-info.yaml
Labels: verify, bitnami

#13647 [bitnami/redis-cluster] perf: add cluster-announce port and bus-port
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
  bitnami/redis-cluster/README.md
Labels: verify, in-progress, redis-cluster

#13908 [bitnami/appsmith] chore: :wrench: Add VIB integration
  .vib/appsmith/vib-publish.json
  .vib/appsmith/vib-verify.json
Labels: verify, bitnami, postgresql

#13920 [bitnami/mysql] Fix wrong my_custom.cnf directory
  bitnami/mysql/README.md
Labels: verify, in-progress, mysql

#14419 [bitnami/kong] Deprecate Kong 2
  bitnami/kong/2/debian-11/Dockerfile
  bitnami/kong/2/debian-11/docker-compose.yml
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/kong/2/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/kong/2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/kong/2/debian-11/rootfs/opt/bitnami/scripts/kong-env.sh
  bitnami/kong/2/debian-11/rootfs/opt/bitnami/scripts/kong/entrypoint.sh
  bitnami/kong/2/debian-11/rootfs/opt/bitnami/scripts/kong/postunpack.sh
  bitnami/kong/2/debian-11/rootfs/opt/bitnami/scripts/kong/run.sh
  bitnami/kong/2/debian-11/rootfs/opt/bitnami/scripts/kong/setup.sh
  bitnami/kong/2/debian-11/rootfs/opt/bitnami/scripts/libkong.sh
  bitnami/kong/2/debian-11/tags-info.yaml
  bitnami/kong/docker-compose-cassandra.yml
Labels: verify, bitnami, kong

#14558 [bitnami/postgresql-repmgr] remove branch 10
  bitnami/postgresql-repmgr/10/debian-11/Dockerfile
  bitnami/postgresql-repmgr/10/debian-11/docker-compose.yml
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/postgresql-repmgr/10/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/includes/anotate_event_processing.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/includes/lock_primary.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/includes/lock_standby.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/includes/unlock_primary.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/includes/unlock_standby.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/primary_register.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/repmgrd_failover_follow.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/standby_follow.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/execs/standby_promote.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/events/router.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/postgresql-repmgr/postunpack.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/postgresql-repmgr/run.sh
  bitnami/postgresql-repmgr/10/debian-11/rootfs/opt/bitnami/scripts/postgresql-repmgr/setup.sh
  bitnami/postgresql-repmgr/10/debian-11/tags-info.yaml
Labels: verify, bitnami, postgresql-repmgr

#14566 [bitnami/kafka] Mark KRaft as production-ready in README.md
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#14472 [bitnami/mariadb] specifically mention how custom scripts are executed
  bitnami/mariadb/README.md
Labels: verify, in-progress, mariadb

#14633 [bitnami/gitea] chore: :construction_worker: Add VIB integration
  .vib/gitea/vib-publish.json
  .vib/gitea/vib-verify.json
Labels: verify, bitnami

#14213 [bitnami/ejbca] Extend initial CA cert configs
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/libejbca.sh
  bitnami/ejbca/README.md
Labels: verify, in-progress, ejbca

#14838 [bitnami/discourse] added missing env variables
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse-env.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/libdiscourse.sh
Labels: verify, in-progress, discourse
