Repository bitnami/containers, pull requests merged in 2022-10, with the labels that each got.

#4458 [bitnami/discourse] Fix postgresql-client version mismatch
  bitnami/discourse/2/debian-11/Dockerfile
Labels: verify, in-progress, discourse

#8772 [bitnami/containers] Fix result check in automatic PRs
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#8873 Revert "[bitnami/containers] Fix result check in automatic PRs"
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#7190 [bitnami/jasperreports] Fix SMTP settings for Jasperreports
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/jasperreports-env.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libjasperreports.sh
  bitnami/jasperreports/README.md
Labels: verify, in-progress, jasperreports

#8906 [bitnami/containers] Fix result check in automatic PRs
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#6994 [bitnami/cassandra] honor for broadcast-address in nodetool-output
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/libcassandra.sh
Labels: verify, in-progress, cassandra

#9424 Removing and old and not updated kubernetes.yml
  bitnami/tensorflow-serving/kubernetes.yml
Labels: verify, bitnami, tensorflow-serving

#9435 [bitnami/containers] Remove CD pipeline harbor
  .github/workflows/cd-pipeline-harbor.yml
Labels: verify, bitnami

#9445 [bitnami/containers] Fix movements for staled issues
  .github/workflows/clossing-issues.yml
  .github/workflows/comments.yml
  .github/workflows/stale.yml
Labels: verify, bitnami

#9092 [bitnami/dokuwiki] fix ldap connection issues (#6999)
  bitnami/dokuwiki/20220731/debian-11/Dockerfile
Labels: verify, in-progress, dokuwiki

#5145 [bitnami/minio] adding remark concerning minimum password length
  bitnami/minio/README.md
Labels: verify, stale, in-progress, minio

#10071 [bitnami/keycloak] Allow to prepend run flags
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/README.md
Labels: verify, in-progress, keycloak

#10439 Bump actions/stale version to v5
  .github/workflows/clossing-issues.yml
  .github/workflows/stale.yml
Labels: verify, bitnami

#10506 Bump hmarr/auto-approve-action version to v3.0.0
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#6969 [bitnami/matomo] Proxy host headers
  bitnami/matomo/4/debian-11/rootfs/opt/bitnami/scripts/libmatomo.sh
  bitnami/matomo/README.md
Labels: verify, in-progress, matomo

#10529 Increase retry-count from 3 (default) to 6 in VIB action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#8871 [bitnami/odoo] support custom addons directory as env var
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/14/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/15/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/README.md
Labels: verify, in-progress, odoo

#10530 Remove unused test workflow
  .github/workflows/fmulero-test.yml
Labels: verify, bitnami

#10516 [bitnami/**] Bump and changing origin for labeler action to fmulero/labeler@1.0.5
  .github/workflows/assign-asset-label.yml
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#9077 [bitnami/clickhouse] find symlink configuration to override settings
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/libclickhouse.sh
Labels: verify, in-progress, clickhouse

#10528 [bitnami/keycloak] deprecate keycloak 18.x.x
  bitnami/keycloak/18/debian-11/Dockerfile
  bitnami/keycloak/18/debian-11/docker-compose.yml
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/keycloak/18/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/keycloak/18/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/keycloak/entrypoint.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/keycloak/postunpack.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/keycloak/setup.sh
  bitnami/keycloak/18/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/18/debian-11/tags-info.yaml
  bitnami/keycloak/README.md
Labels: verify, bitnami, keycloak

#10540 Bump xom9ikk/dotenv version to v2
  .github/workflows/comments.yml
  .github/workflows/moving-cards.yml
  .github/workflows/sync-teams.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#10731 Revert retry-count increment from #10529
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#10812 [bitnami/mysql] Correction on README.MD
  bitnami/mysql/README.md
Labels: verify, in-progress, mysql

#10734 [bitnami/jasperreports] fix valid SMTP protocols.
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libjasperreports.sh
  bitnami/jasperreports/README.md
Labels: verify, in-progress, jasperreports

#10791 [bitnami/minio] update minio container to use mc anonymous command when setting default bucket policies
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/libminio.sh
Labels: verify, in-progress, minio

#7219 [bitnami/kafka] Clean Incorrect Warning Messages for 3.0/3.1/3.2/3.3
  bitnami/kafka/3.0/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
Labels: verify, in-progress, kafka

#11489 [bitnami/containers] Use Environment Files instead of set-output
  .github/workflows/assign-asset-label.yml
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/moving-cards.yml
  .github/workflows/srp-report.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#11537 Deprecate Odoo 13.x.x
  bitnami/odoo/13/debian-11/Dockerfile
  bitnami/odoo/13/debian-11/docker-compose.yml
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/odoo/13/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/odoo/13/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/libodoo.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/libpostgresqlclient.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo/entrypoint.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo/postunpack.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo/run.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/odoo/setup.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/postgresql-client-env.sh
  bitnami/odoo/13/debian-11/rootfs/opt/bitnami/scripts/postgresql-client/setup.sh
  bitnami/odoo/13/debian-11/rootfs/post-init.d/python.sh
  bitnami/odoo/13/debian-11/rootfs/post-init.d/shell.sh
  bitnami/odoo/13/debian-11/rootfs/post-init.d/sql-postgresql.sh
  bitnami/odoo/13/debian-11/rootfs/post-init.sh
  bitnami/odoo/13/debian-11/tags-info.yaml
Labels: verify, odoo, bitnami

#11453 [bitnami/kafka] chore: Fixed double default for `KAFKA_INTER_BROKER_USER` in README
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#11720 [bitnami/containers] Compact output for assignee list
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#11725 [bitnami/containers] Upgrading actions/stale version
  .github/workflows/clossing-issues.yml
  .github/workflows/stale.yml
Labels: verify, bitnami

#11740 [bitnami/*] Deprecate JupyterHub & Jupyter Base Notebook 1.x.x and 2.x.x
  bitnami/jupyter-base-notebook/1/debian-11/Dockerfile
  bitnami/jupyter-base-notebook/1/debian-11/docker-compose.yml
  bitnami/jupyter-base-notebook/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyter-base-notebook/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyter-base-notebook/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jupyter-base-notebook/1/debian-11/tags-info.yaml
  bitnami/jupyter-base-notebook/2/debian-11/Dockerfile
  bitnami/jupyter-base-notebook/2/debian-11/docker-compose.yml
  bitnami/jupyter-base-notebook/2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyter-base-notebook/2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyter-base-notebook/2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jupyter-base-notebook/2/debian-11/tags-info.yaml
  bitnami/jupyterhub/1/debian-11/Dockerfile
  bitnami/jupyterhub/1/debian-11/docker-compose.yml
  bitnami/jupyterhub/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyterhub/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyterhub/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jupyterhub/1/debian-11/tags-info.yaml
Labels: verify, bitnami

#11389 [bitnami/containers] Add OSM reporting action (first batch)
  .github/workflows/cd-pipeline.yml
  .vib/envoy/1.20/vib-publish.json
  .vib/envoy/vib-publish.json
  .vib/java/vib-publish.json
  .vib/kafka/vib-publish.json
  .vib/ksql/vib-publish.json
  .vib/kubectl/vib-publish.json
  .vib/mariadb-galera/10.3/vib-publish.json
  .vib/mariadb-galera/10.4/vib-publish.json
  .vib/mariadb-galera/vib-publish.json
  .vib/mariadb/10.3/vib-publish.json
  .vib/mariadb/10.4/vib-publish.json
  .vib/mariadb/vib-publish.json
  .vib/mysql/vib-publish.json
  .vib/nginx/vib-publish.json
  .vib/node/vib-publish.json
  .vib/postgresql-repmgr/vib-publish.json
  .vib/postgresql/vib-publish.json
  .vib/python/vib-publish.json
  .vib/ruby/vib-publish.json
  .vib/schema-registry/vib-publish.json
  .vib/symfony/vib-publish.json
  .vib/tomcat/vib-publish.json
Labels: verify, bitnami

#12046 Bump reitermarkus/automerge version
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami
