Repository bitnami/containers, pull requests merged in 2022-12, with the labels that each got.

#15573 [bitnami/geode] Remove bitnami/geode container
  bitnami/geode/1/debian-11/Dockerfile
  bitnami/geode/1/debian-11/docker-compose.yml
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/geode/1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/geode/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/geode-env.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/geode/entrypoint.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/geode/postunpack.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/geode/run.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/geode/setup.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/geode/1/debian-11/rootfs/opt/bitnami/scripts/libgeode.sh
  bitnami/geode/1/debian-11/tags-info.yaml
  bitnami/geode/README.md
  bitnami/geode/docker-compose-cluster.yml
  bitnami/geode/docker-compose.yml
Labels: verify, bitnami, geode

#15664 [bitnami/mastodon] wrench: :construction_worker: Add VIB integration
  .vib/mastodon/vib-publish.json
  .vib/mastodon/vib-verify.json
Labels: verify, bitnami, mastodon

#16213 [bitnami/mastodon] Remove architectures field in publish action
  .vib/mastodon/vib-publish.json
Labels: verify, bitnami

#15545 [bitnami/openldap] New option LDAP_CUSTOM_SCHEMA_DIR
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#16824 [bitnami/*] Merge automated PRs instead of enabling auto-merge
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#16905 [bitnami/jruby] Delete bitnami/jruby/9.3 directory
  bitnami/jruby/9.3/debian-11/Dockerfile
  bitnami/jruby/9.3/debian-11/docker-compose.yml
  bitnami/jruby/9.3/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jruby/9.3/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jruby/9.3/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jruby/9.3/debian-11/tags-info.yaml
Labels: verify, jruby

#14567 Redis-Cluster: Ensure Proper Host Resolution
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
Labels: verify, in-progress, redis-cluster

#16928 [bitnami/rabbitmq] add info for proper SSL/TLS cert/key files permission for bitnami/rabbitmq #16566
  bitnami/rabbitmq/README.md
Labels: verify, in-progress, rabbitmq

#15349 Fix Configuration file mount not working
  bitnami/tensorflow-serving/2/debian-11/rootfs/opt/bitnami/scripts/libtensorflow-serving.sh
Labels: verify, stale, in-progress, tensorflow-serving

#15671 [bitnami/wordpress] set PHP error_log to /dev/stderr
  bitnami/wordpress/6/debian-11/rootfs/opt/bitnami/scripts/php/postunpack.sh
Labels: verify, in-progress, wordpress

#16897 [bitnami/README] Fixed typos and update tutorials for Kafka image
  bitnami/cassandra/README.md
  bitnami/kafka/README.md
  bitnami/spark/README.md
  bitnami/zookeeper/README.md
Labels: verify, in-progress, kafka

#15986 [bitnami/redis] - Include overrides config once only
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
Labels: verify, in-progress, redis

#17601 [bitnami/keycloak] Deprecate Keycloak 19.x
  bitnami/keycloak/19/debian-11/Dockerfile
  bitnami/keycloak/19/debian-11/docker-compose.yml
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/keycloak/19/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/keycloak/19/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak/entrypoint.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak/postunpack.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/keycloak/setup.sh
  bitnami/keycloak/19/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/19/debian-11/tags-info.yaml
Labels: verify, bitnami, keycloak

#17886 [bitnami/gitea] Add VIB integration
  .vib/grafana-mimir/vib-publish.json
  .vib/grafana-mimir/vib-verify.json
Labels: verify, bitnami

#15553 Remove airflow-worker.pid file
  bitnami/airflow-worker/2/debian-11/rootfs/opt/bitnami/scripts/libairflowworker.sh
Labels: verify, in-progress, airflow-worker
