Repository bitnami/containers, pull requests merged in 2023-12, with the labels that each got.

#53349 [bitnami/clickhouse] Deprecate Clickhouse branch 22.8
  bitnami/clickhouse/22.8/debian-11/Dockerfile
  bitnami/clickhouse/22.8/debian-11/docker-compose.yml
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/clickhouse/22.8/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/clickhouse/22.8/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/clickhouse-env.sh
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/clickhouse/entrypoint.sh
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/clickhouse/postunpack.sh
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/clickhouse/run.sh
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/clickhouse/setup.sh
  bitnami/clickhouse/22.8/debian-11/rootfs/opt/bitnami/scripts/libclickhouse.sh
  bitnami/clickhouse/22.8/debian-11/tags-info.yaml
Labels: verify, bitnami

#51278 [bitnami/moodle] Handle --prefix (table prefix) being overridden via MOODLE_INSTALL_EXTRA_ARGS
  bitnami/moodle/4.2/debian-11/rootfs/opt/bitnami/scripts/libmoodle.sh
Labels: verify, in-progress, moodle

#53369 [bitnami/opensearch] Fix: Set correct `LD_LIBRARY_PATH` for OpenSearch
  bitnami/opensearch/1/debian-11/Dockerfile
  bitnami/opensearch/2/debian-11/Dockerfile
Labels: verify, in-progress, opensearch

#53910 [bitnami/percona-xtrabackup] Remove branch 8
  bitnami/percona-xtrabackup/8/debian-11/Dockerfile
  bitnami/percona-xtrabackup/8/debian-11/docker-compose.yml
  bitnami/percona-xtrabackup/8/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/percona-xtrabackup/8/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/percona-xtrabackup/8/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/percona-xtrabackup/8/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/percona-xtrabackup/8/debian-11/tags-info.yaml
Labels: verify, bitnami

#53871 Patching the Gaps: Essential Kibana Configurations added
  bitnami/kibana/7/debian-11/rootfs/opt/bitnami/scripts/kibana-env.sh
  bitnami/kibana/7/debian-11/rootfs/opt/bitnami/scripts/libkibana.sh
  bitnami/kibana/8/debian-11/rootfs/opt/bitnami/scripts/kibana-env.sh
  bitnami/kibana/8/debian-11/rootfs/opt/bitnami/scripts/libkibana.sh
Labels: verify, triage, kibana

#53722 [bitnami/minio-client] add jq
  bitnami/minio-client/2023/debian-11/Dockerfile
Labels: verify, in-progress, minio-client

#53352 [bitnami/nginx] Specify ciphers suites and set strong ciphers
  bitnami/nginx/1.25/debian-11/rootfs/opt/bitnami/nginx/conf/nginx.conf
Labels: verify, nginx, in-progress

#52264 [bitnami/pgbouncer] Add auth_dbname to available environment variables
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#53960 Update openldap libopenldap.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#54056 Renames sealed-secrets to sealed-secrets-controller
  .vib/sealed-secrets-controller/vib-verify.json
  bitnami/sealed-secrets-controller/0/debian-11/Dockerfile
  bitnami/sealed-secrets-controller/0/debian-11/docker-compose.yml
  bitnami/sealed-secrets-controller/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/sealed-secrets-controller/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/sealed-secrets-controller/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/sealed-secrets-controller/0/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/sealed-secrets-controller/0/debian-11/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/sealed-secrets-controller/0/debian-11/tags-info.yaml
  bitnami/sealed-secrets-controller/README.md
  bitnami/sealed-secrets-controller/docker-compose.yml
Labels: verify, bitnami, sealed-secrets-controller

#54065 [bitnami/kong] Lua not required anymore
  .vib/kong/goss/kong.yaml
Labels: verify, bitnami

#54067 Revert "[bitnami/kong] Lua not required anymore"
  .vib/kong/goss/kong.yaml
Labels: verify, bitnami

#53359 [bitnami/opencart] Fix opencart urls on OPENCART_ENABLE_HTTPS=true
  bitnami/opencart/4/debian-11/rootfs/opt/bitnami/scripts/libopencart.sh
Labels: verify, in-progress, opencart

#54253 Deprecate Keycloak 22
  bitnami/keycloak/22/debian-11/Dockerfile
  bitnami/keycloak/22/debian-11/docker-compose.yml
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/keycloak/22/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/keycloak/22/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak/22/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/keycloak/entrypoint.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/keycloak/postunpack.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/keycloak/setup.sh
  bitnami/keycloak/22/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/22/debian-11/tags-info.yaml
Labels: verify, bitnami

#54274 [bitnami/node] Deprecate Node 16
  bitnami/node/16/debian-11/Dockerfile
  bitnami/node/16/debian-11/docker-compose.yml
  bitnami/node/16/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/node/16/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/node/16/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/node/16/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/node/16/debian-11/tags-info.yaml
Labels: verify, bitnami
