Repository bitnami/containers, pull requests merged in 2023-08, with the labels that each got.

#41416 [bitnami/*] Create a TESTING.md document
  TESTING.md
Labels: verify, bitnami

#43164 [bitnami/*] Fix discrepancies between CI and CD pipelines
  .vib/kubeapps-oci-catalog/vib-verify.json
  .vib/mastodon/vib-verify.json
  .vib/milvus/vib-verify.json
Labels: verify, bitnami

#43214 [containers/*] Remove CD pipelines
  .github/workflows/cd-pipeline.yml
  .github/workflows/cd-prepare.yml
Labels: verify, bitnami

#32665 [bitnami/mongodb] Create replicaset keyFile before mongo starts
  bitnami/mongodb/5.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb.sh
  bitnami/mongodb/6.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb.sh
Labels: verify, in-progress, mongodb

#42309 [bitnami/kafka] Issue 32224- Allow empty values in Kafka config as environment variable
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.4/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.5/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
Labels: verify, in-progress, kafka

#43311 [bitnami/codeigniter] Fix CodeIgniter database name configuration
  bitnami/codeigniter/4/debian-11/rootfs/opt/bitnami/scripts/libcodeigniter.sh
Labels: verify, in-progress, codeigniter

#43526 [bitnami/mongodb-sharded] Fix "Authentication Failed" error if the mongodb-sharded Helm chart is deployed with custom root username
  bitnami/mongodb-sharded/5.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb-sharded.sh
  bitnami/mongodb-sharded/6.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb-sharded.sh
Labels: verify, in-progress, mongodb-sharded

#43871 [bitnami/moodle] Update README.md to include information about debug logging
  bitnami/moodle/README.md
Labels: verify, in-progress, moodle

#44285 [bitnami/apache-exporter] Deprecate branch 0
  bitnami/apache-exporter/0/debian-11/Dockerfile
  bitnami/apache-exporter/0/debian-11/docker-compose.yml
  bitnami/apache-exporter/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/apache-exporter/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/apache-exporter/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/apache-exporter/0/debian-11/tags-info.yaml
Labels: verify, bitnami

#44288 [bitnami/keycloak] Deprecate branch 21
  bitnami/keycloak/21/debian-11/Dockerfile
  bitnami/keycloak/21/debian-11/docker-compose.yml
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/keycloak/21/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/keycloak/entrypoint.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/keycloak/postunpack.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/keycloak/setup.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/21/debian-11/tags-info.yaml
Labels: verify, bitnami

#44292 [bitnami/deepspeed] ci: :construction_worker: Remove arm64 verification
  .vib/deepspeed/vib-verify.json
Labels: verify, bitnami

#44617 Deprecate Envoy 1.23
  bitnami/envoy/1.23/debian-11/Dockerfile
  bitnami/envoy/1.23/debian-11/docker-compose.yml
  bitnami/envoy/1.23/debian-11/examples/frontend.yaml
  bitnami/envoy/1.23/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.23/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.23/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.23/debian-11/tags-info.yaml
Labels: verify, bitnami

#44863 [bitnami/*] Add paragraph in notable changes section about scratch renaming
  bitnami/argo-workflow-cli/README.md
  bitnami/argo-workflow-controller/README.md
  bitnami/kaniko/README.md
  bitnami/kube-rbac-proxy/README.md
  bitnami/kubeapps-apprepository-controller/README.md
  bitnami/kubeapps-asset-syncer/README.md
  bitnami/oras/README.md
  bitnami/pinniped/README.md
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rmq-default-credential-updater/README.md
  bitnami/rmq-messaging-topology-operator/README.md
  bitnami/sealed-secrets/README.md
  bitnami/thanos/README.md
Labels: verify, bitnami

#44732 [bitnami/openldap:2.6] Additional env vars
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#45664 [bitnami/kafka] Fix typo in README.md
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka
