Repository bitnami/containers, pull requests merged in 2023-07, with the labels that each got.

#39442 [bitnami/containers] Automate license checks
  .github/workflows/license-headers.yml
  .licenserc.yaml
  bitnami/argo-workflow-controller/3/scratch/Dockerfile
  bitnami/drupal-nginx/10/debian-11/Dockerfile
  bitnami/drupal/10/debian-11/Dockerfile
  bitnami/kube-rbac-proxy/0/scratch/Dockerfile
  bitnami/kubeapps-apprepository-controller/2/scratch/Dockerfile
  bitnami/kubeapps-asset-syncer/2/scratch/Dockerfile
  bitnami/oras/1/scratch/Dockerfile
  bitnami/rabbitmq-cluster-operator/2/scratch/Dockerfile
  bitnami/rmq-default-credential-updater/1/scratch/Dockerfile
  bitnami/rmq-messaging-topology-operator/1/scratch/Dockerfile
  bitnami/sealed-secrets/0/scratch/Dockerfile
  bitnami/thanos/0/scratch/Dockerfile
Labels: verify, bitnami

#39069 [bitnami/spring-cloud-skipper] Increase test timeouts
  .vib/spring-cloud-skipper/goss/spring-cloud-skipper.yaml
Labels: verify, bitnami

#39867 [bitnami/redis-cluster] Revert "Update redis-cluster-env.sh (#35992)"
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
Labels: verify, bitnami, redis-cluster

#38424 [feature] [postgresql] Add support for setting the password_encryption
  bitnami/postgresql/11/debian-11/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql/11/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/12/debian-11/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql/12/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/13/debian-11/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql/13/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/14/debian-11/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql/14/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/15/debian-11/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql/15/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
Labels: verify, in-progress, postgresql

#39888 [CONTENT-5654] Deprecate GitLab Runner & GitLab Runner Helper 15
  bitnami/gitlab-runner-helper/15/debian-11/Dockerfile
  bitnami/gitlab-runner-helper/15/debian-11/docker-compose.yml
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/gitlab-runner-helper/15/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/gitlab-runner-helper/15/debian-11/rootfs/opt/bitnami/scripts/gitlab-runner-helper/entrypoint.sh
  bitnami/gitlab-runner-helper/15/debian-11/tags-info.yaml
  bitnami/gitlab-runner/15/debian-11/Dockerfile
  bitnami/gitlab-runner/15/debian-11/docker-compose.yml
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/gitlab-runner/15/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/gitlab-runner/15/debian-11/rootfs/opt/bitnami/scripts/gitlab-runner/entrypoint.sh
  bitnami/gitlab-runner/15/debian-11/tags-info.yaml
Labels: verify, bitnami

#39864 [bitnami/containers] Fix permissions in license-headers workflow
  .github/workflows/license-headers.yml
Labels: verify, bitnami

#38520 [bitnami/nats] Add support for CLI arguments
  bitnami/nats/2/debian-11/rootfs/opt/bitnami/scripts/nats-env.sh
  bitnami/nats/2/debian-11/rootfs/opt/bitnami/scripts/nats/run.sh
  bitnami/nats/README.md
Labels: verify, in-progress, nats

#40525 [bitnami/wildfly] Deprecate Wildfly 27
  bitnami/wildfly/27/debian-11/Dockerfile
  bitnami/wildfly/27/debian-11/docker-compose.yml
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/27/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/27/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/27/debian-11/tags-info.yaml
Labels: verify, bitnami

#40523 [bitnami/containers] Run license check on modified files #17542
  .github/workflows/license-headers.yml
Labels: verify, bitnami

#39824 fix typo in libetcd.sh - NOTE->NODE
  bitnami/etcd/3.5/debian-11/rootfs/opt/bitnami/scripts/libetcd.sh
Labels: verify, in-progress, etcd

#40741 [bitnami/jax] chore: :construction_worker: Add VIB files
  .vib/jax/goss/goss.yaml
  .vib/jax/goss/jax.yaml
  .vib/jax/goss/vars.yaml
  .vib/jax/vib-publish.json
  .vib/jax/vib-verify.json
Labels: verify, bitnami

#40938 [bitnami/grafana][bitnami/grafana-operator] Deprecate branch 9 and 4
  bitnami/grafana-operator/4/debian-11/Dockerfile
  bitnami/grafana-operator/4/debian-11/docker-compose.yml
  bitnami/grafana-operator/4/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-operator/4/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-operator/4/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-operator/4/debian-11/tags-info.yaml
  bitnami/grafana/9/debian-11/Dockerfile
  bitnami/grafana/9/debian-11/docker-compose.yml
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/grafana/9/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/grafana/9/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/grafana/9/debian-11/rootfs/opt/bitnami/scripts/grafana-env.sh
  bitnami/grafana/9/debian-11/rootfs/opt/bitnami/scripts/grafana/entrypoint.sh
  bitnami/grafana/9/debian-11/rootfs/opt/bitnami/scripts/grafana/postunpack.sh
  bitnami/grafana/9/debian-11/rootfs/opt/bitnami/scripts/grafana/run.sh
  bitnami/grafana/9/debian-11/rootfs/opt/bitnami/scripts/grafana/setup.sh
  bitnami/grafana/9/debian-11/rootfs/opt/bitnami/scripts/libgrafana.sh
  bitnami/grafana/9/debian-11/rootfs/post-init.d/shell.sh
  bitnami/grafana/9/debian-11/rootfs/post-init.sh
  bitnami/grafana/9/debian-11/tags-info.yaml
Labels: verify, bitnami

#40893 [bitnami/keycloak] Support enabling health endpoints via environment variable
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/README.md
Labels: verify, in-progress, keycloak

#40948 [bitnami/keycloak] Remove reference to defunct environment variables in documentation
  bitnami/keycloak/README.md
Labels: verify, in-progress, keycloak

#40224 [bitnami/keycloak] Add support for ipv6
  bitnami/keycloak/21/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
Labels: verify, in-progress, keycloak

#41421 Remove bitnami-shell from containers repo
  .vib/bitnami-shell/goss/bitnami-shell.yaml
  .vib/bitnami-shell/goss/goss.yaml
  .vib/bitnami-shell/goss/vars.yaml
  .vib/bitnami-shell/vib-publish.json
  .vib/bitnami-shell/vib-verify.json
  bitnami/bitnami-shell/11/debian-11/Dockerfile
  bitnami/bitnami-shell/11/debian-11/docker-compose.yml
  bitnami/bitnami-shell/11/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/bitnami-shell/11/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/bitnami-shell/11/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/bitnami-shell/11/debian-11/tags-info.yaml
  bitnami/bitnami-shell/README.md
  bitnami/bitnami-shell/docker-compose.yml
Labels: verify, bitnami

#39731 [bitnami/minio] fix data_dir not effective in minio snsd mode
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-env.sh
Labels: verify, in-progress, minio

#41765 Notify failing CD pipelines in Slack
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#42103 [bitnami/*] Modify workflow property used to create notification msg
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#42419 [bitnami/*] GOSS templates' standardization
  .vib/common/goss/templates/check-ca-certs.yaml
  .vib/common/goss/templates/check-php-fpm.yaml
Labels: verify, bitnami
