Repository bitnami/containers, pull requests merged in 2023-01, with the labels that each got.

#19764 [bitnami/php-fpm] Deprecate PHP 7.4
  bitnami/php-fpm/7.4/debian-11/Dockerfile
  bitnami/php-fpm/7.4/debian-11/docker-compose.yml
  bitnami/php-fpm/7.4/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/php-fpm/7.4/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/php-fpm/7.4/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/php-fpm/7.4/debian-11/tags-info.yaml
Labels: verify, bitnami, php-fpm

#17851 [bitnami/etcd] update hostname_has_N_ips ready host check in dual-stack scene
  bitnami/etcd/3.5/debian-11/rootfs/opt/bitnami/scripts/libetcd.sh
Labels: verify, in-progress, etcd

#20418 [bitnami/kong] Disable ARM
  .vib/kong/vib-publish.json
Labels: verify, bitnami

#20410 [bitnami/kubectl] Deprecate kubectl 1.23
  bitnami/kubectl/1.23/debian-11/Dockerfile
  bitnami/kubectl/1.23/debian-11/docker-compose.yml
  bitnami/kubectl/1.23/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kubectl/1.23/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kubectl/1.23/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/kubectl/1.23/debian-11/tags-info.yaml
Labels: verify, bitnami, kubectl

#19995 [bitnami/containers] Avoid concurrency over the same PR
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#20455 [bitnami/containers] Add workflow to move issue cards based on PR changes
  .github/workflows/pr-reviews.yml
Labels: verify, bitnami

#20488 [bitnami/envoy] Deprecate branch 1.21.x
  bitnami/envoy/1.21/debian-11/Dockerfile
  bitnami/envoy/1.21/debian-11/docker-compose.yml
  bitnami/envoy/1.21/debian-11/examples/frontend.yaml
  bitnami/envoy/1.21/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.21/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.21/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.21/debian-11/tags-info.yaml
Labels: verify, bitnami, envoy

#13911 [bitnami/pgbouncer] Remove IPv4 listen_addr validation
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
Labels: verify, in-progress, pgbouncer

#17562 added package krb5-user for Kerberos authentication to work
  bitnami/keycloak/20/debian-11/Dockerfile
Labels: verify, in-progress, keycloak

#19711 [bitnami/schema-registry] Added SCHEMA_REGISTRY_KAFKA_KEY_PASSWORD env to be able to used ssl secured kafka broker with SR
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.0/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.0/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.1/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.2/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.3/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.3/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
Labels: verify, in-progress, schema-registry

#21189 [bitnami/containers] Fix workflow issues with existing cards
  .github/workflows/comments.yml
  .github/workflows/delete-solved-cards.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#21510 [bitnami/supabase] :wrench: Add containers to VIB
  .vib/gotrue/vib-publish.json
  .vib/gotrue/vib-verify.json
  .vib/postgrest/vib-publish.json
  .vib/postgrest/vib-verify.json
  .vib/supabase-postgres-meta/vib-publish.json
  .vib/supabase-postgres-meta/vib-verify.json
  .vib/supabase-realtime/vib-publish.json
  .vib/supabase-realtime/vib-verify.json
  .vib/supabase-storage/vib-publish.json
  .vib/supabase-storage/vib-verify.json
  .vib/supabase-studio/vib-publish.json
  .vib/supabase-studio/vib-verify.json
Labels: verify, bitnami

#21508 [bitnami/**] Creating the needed packages.json for 3rd party components
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#21514 [bitnami/minio] Deprecate Minio 2022.x
  bitnami/minio/2022/debian-11/Dockerfile
  bitnami/minio/2022/debian-11/docker-compose.yml
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/minio/2022/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/minio/2022/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/libminio.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/libminioclient.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client-env.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/entrypoint.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/postunpack.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/run.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/setup.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio-env.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio/entrypoint.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio/postunpack.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio/run.sh
  bitnami/minio/2022/debian-11/rootfs/opt/bitnami/scripts/minio/setup.sh
  bitnami/minio/2022/debian-11/tags-info.yaml
Labels: verify, bitnami, minio

#21515 [bitnami/minio-client] Deprecate Minio-Client 2022.x
  bitnami/minio-client/2022/debian-11/Dockerfile
  bitnami/minio-client/2022/debian-11/docker-compose.yml
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/minio-client/2022/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/minio-client/2022/debian-11/rootfs/opt/bitnami/scripts/libminioclient.sh
  bitnami/minio-client/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client-env.sh
  bitnami/minio-client/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/entrypoint.sh
  bitnami/minio-client/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/postunpack.sh
  bitnami/minio-client/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/run.sh
  bitnami/minio-client/2022/debian-11/rootfs/opt/bitnami/scripts/minio-client/setup.sh
  bitnami/minio-client/2022/debian-11/tags-info.yaml
Labels: verify, bitnami, minio-client

#21545 [bitnami/containers] Feature: retry CD pipeline manually
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#21801 [bitnami/zookeeper] Deprecate branch 3.6
  bitnami/zookeeper/3.6/debian-11/Dockerfile
  bitnami/zookeeper/3.6/debian-11/docker-compose.yml
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/zookeeper/3.6/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/zookeeper/3.6/debian-11/rootfs/opt/bitnami/scripts/libzookeeper.sh
  bitnami/zookeeper/3.6/debian-11/rootfs/opt/bitnami/scripts/zookeeper-env.sh
  bitnami/zookeeper/3.6/debian-11/rootfs/opt/bitnami/scripts/zookeeper/entrypoint.sh
  bitnami/zookeeper/3.6/debian-11/rootfs/opt/bitnami/scripts/zookeeper/postunpack.sh
  bitnami/zookeeper/3.6/debian-11/rootfs/opt/bitnami/scripts/zookeeper/run.sh
  bitnami/zookeeper/3.6/debian-11/rootfs/opt/bitnami/scripts/zookeeper/setup.sh
  bitnami/zookeeper/3.6/debian-11/tags-info.yaml
Labels: verify, bitnami, zookeeper

#21550 Add $MATOMO_DATABASE_TABLE_PREFIX [default: "matomo_"] as wizard option
  bitnami/matomo/4/debian-11/rootfs/opt/bitnami/scripts/libmatomo.sh
  bitnami/matomo/4/debian-11/rootfs/opt/bitnami/scripts/matomo-env.sh
  bitnami/matomo/README.md
Labels: verify, in-progress, matomo

#21215 [bitnami/cassandra] cassandra.yaml changed from 4 Spaces to 2 Spaces in V4.1
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/libcassandra.sh
  bitnami/cassandra/4.1/debian-11/rootfs/opt/bitnami/scripts/libcassandra.sh
Labels: verify, in-progress, cassandra

#14323 [bitnami/pgbouncer] Socket+log options and few connections
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
Labels: verify, in-progress, pgbouncer
