Repository bitnami/containers, pull requests merged in 2023-03, with the labels that each got.

#25331 [bitnami/keycloak] Upgrade java version in keycloak image from 11 to 17
  bitnami/keycloak/20/debian-11/Dockerfile
Labels: verify, in-progress, keycloak

#25801 [bitnami/fluxcd-*-controller] chore: :wrench: Add VIB integration
  .vib/fluxcd-helm-controller/vib-publish.json
  .vib/fluxcd-helm-controller/vib-verify.json
  .vib/fluxcd-kustomize-controller/vib-publish.json
  .vib/fluxcd-kustomize-controller/vib-verify.json
  .vib/fluxcd-source-controller/vib-publish.json
  .vib/fluxcd-source-controller/vib-verify.json
Labels: verify, bitnami

#25666 [bitnami/kafka] Clean up a little grammar
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#26081 [bitnami/whereabouts] chore: :construction_worker: Add VIB integration
  .vib/whereabouts/vib-publish.json
  .vib/whereabouts/vib-verify.json
Labels: verify, bitnami, whereabouts

#25808 [bitnami/python] Add VIB tests
  .vib/python/goss/goss.yaml
  .vib/python/goss/python.yaml
  .vib/python/goss/vars.yaml
  .vib/python/vib-publish.json
  .vib/python/vib-verify.json
Labels: verify, bitnami, python

#22777 [bitnami/keycloak] Support for h2 database (#22776)
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/README.md
Labels: verify, in-progress, keycloak

#25658 [bitnami/openldap] Use uidNumber=0 in bootstrap slapd.ldif
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#26434 [bitnami/airflow] Add Kerberos package libkrb5-dev to airflow container Dockerfile
  bitnami/airflow/2/debian-11/Dockerfile
Labels: verify, airflow, in-progress

#25810 [bitnami/java] Add VIB tests
  .vib/java/goss/goss.yaml
  .vib/java/goss/java.yaml
  .vib/java/goss/testfiles/HelloTest.jar
  .vib/java/goss/vars.yaml
  .vib/java/vib-publish.json
  .vib/java/vib-verify.json
Labels: verify, bitnami, java

#26064 [bitnami/node] Add verification tests for NodeJS container
  .vib/node/goss/goss.yaml
  .vib/node/goss/node.yaml
  .vib/node/goss/vars.yaml
  .vib/node/vib-publish.json
  .vib/node/vib-verify.json
Labels: verify, bitnami

#26723 [bitnami/telegraf] Add VIB tests
  .vib/common/goss/scripts/check-spdx.sh
  .vib/common/goss/templates/check-spdx.yaml
  .vib/telegraf/goss/goss.yaml
  .vib/telegraf/goss/vars.yaml
  .vib/telegraf/vib-publish.json
  .vib/telegraf/vib-verify.json
Labels: verify, bitnami, telegraf

#26505 [bitnami/clickhouse] Fix the issue 26500
  bitnami/clickhouse/README.md
Labels: verify, in-progress, clickhouse

#26789 [bitnami/cosign] Add VIB tests
  .vib/common/goss/scripts/check-spdx.sh
  .vib/cosign/goss/cosign.yaml
  .vib/cosign/goss/goss.yaml
  .vib/cosign/goss/vars.yaml
  .vib/cosign/vib-publish.json
  .vib/cosign/vib-verify.json
Labels: verify, bitnami, cosign

#26705 [bitnami/jruby] Add VIB tests
  .vib/common/goss/scripts/check-linked-libraries.sh
  .vib/common/goss/templates/check-directories.yaml
  .vib/common/goss/templates/check-files.yaml
  .vib/common/goss/templates/check-linked-libraries.yaml
  .vib/jruby/goss/goss.yaml
  .vib/jruby/goss/jruby.yaml
  .vib/jruby/goss/vars.yaml
  .vib/jruby/vib-publish.json
  .vib/jruby/vib-verify.json
Labels: verify, bitnami, jruby

#19124 [bitnami/pgpool] extend health check configuration
  bitnami/pgpool/4/debian-11/rootfs/opt/bitnami/scripts/libpgpool.sh
  bitnami/pgpool/README.md
Labels: verify, stale, in-progress, pgpool

#26821 [bitnami/*] Fix linked libraries test
  .vib/common/goss/templates/check-linked-libraries.yaml
Labels: verify, bitnami

#26719 [bitnami/multus-cni] chore: :construction_worker: Add VIB files
  .vib/multus-cni/vib-publish.json
  .vib/multus-cni/vib-verify.json
Labels: verify, bitnami

#26707 [bitnami/redis] Revert "fix: only check passphrase file if set (#1062)"
  bitnami/redis/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
Labels: verify, in-progress, redis

#26087 Ignore comments in databases section
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
Labels: verify, in-progress, pgbouncer

#26794 [bitnami/rabbitmq] update readme to fix persistence settings
  bitnami/rabbitmq/README.md
Labels: verify, in-progress, rabbitmq

#27059 [bitnami/laravel] Execute post-init script
  bitnami/laravel/10/debian-11/rootfs/opt/bitnami/scripts/laravel/entrypoint.sh
  bitnami/laravel/9/debian-11/rootfs/opt/bitnami/scripts/laravel/entrypoint.sh
Labels: verify, in-progress, laravel

#26728 [bitnami/containers] Add markdown linter
  .github/workflows/markdown-linter.yml
  .markdownlint.json
  .markdownlintignore
  README.md
Labels: verify, bitnami

#27045 [bitnami/mysql] Fix the `initialize-insecure` command not using the `MYSQL_EXTRA_FLAGS`
  bitnami/mysql/8.0/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
Labels: verify, in-progress, mysql

#27472 [bitnami/several] Fix README linter issues
  bitnami/concourse/README.md
  bitnami/harbor-core/README.md
  bitnami/harbor-exporter/README.md
  bitnami/harbor-jobservice/README.md
  bitnami/harbor-registry/README.md
  bitnami/harbor-registryctl/README.md
  bitnami/jaeger/README.md
  bitnami/jenkins-agent/README.md
  bitnami/keycloak/README.md
  bitnami/kubeapps-apprepository-controller/README.md
  bitnami/kubeapps-asset-syncer/README.md
  bitnami/mariadb-galera/README.md
  bitnami/mariadb/README.md
  bitnami/multus-cni/README.md
  bitnami/pgbouncer/README.md
  bitnami/sealed-secrets/README.md
  bitnami/spark/README.md
  bitnami/wavefront-hpa-adapter/README.md
  bitnami/wavefront-kubernetes-collector/README.md
  bitnami/wavefront-prometheus-storage-adapter/README.md
  bitnami/wavefront-proxy/README.md
  bitnami/zookeeper/README.md
Labels: verify, bitnami

#26832 [bitnami/redis] Added support for hostname announcement in cluster setup
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
  bitnami/redis-cluster/README.md
Labels: verify, in-progress, redis-cluster

#24225 [bitnami/codeigniter] Add codeigniter tests
  .vib/codeigniter/goss/codeigniter.yaml
  .vib/codeigniter/goss/goss.yaml
  .vib/codeigniter/goss/vars.yaml
  .vib/codeigniter/vib-publish.json
  .vib/codeigniter/vib-verify.json
Labels: verify, bitnami

#26795 [bitnami/couchdb] Add VIB tests
  .vib/couchdb/goss/couchdb.yaml
  .vib/couchdb/goss/goss.yaml
  .vib/couchdb/goss/vars.yaml
  .vib/couchdb/vib-publish.json
  .vib/couchdb/vib-verify.json
Labels: verify, bitnami, couchdb

#27476 [bitnami/memcached] Add VIB tests
  .vib/memcached/goss/goss.yaml
  .vib/memcached/goss/memcached.yaml
  .vib/memcached/goss/vars.yaml
  .vib/memcached/vib-publish.json
  .vib/memcached/vib-verify.json
Labels: verify, bitnami, memcached

#27514 [bitnami/sonarqube] Remove ARM achitecture
  .vib/sonarqube/vib-publish.json
Labels: verify, bitnami

#26499 [bitnami/ruby] Add Ruby container VIB tests
  .vib/ruby/goss/goss.yaml
  .vib/ruby/goss/ruby.yaml
  .vib/ruby/goss/vars.yaml
  .vib/ruby/vib-publish.json
  .vib/ruby/vib-verify.json
Labels: verify, bitnami

#26791 [bitnami/git] Add VIB tests to Git container
  .vib/git/goss/git.yaml
  .vib/git/goss/goss.yaml
  .vib/git/goss/vars.yaml
  .vib/git/vib-publish.json
  .vib/git/vib-verify.json
Labels: verify, bitnami, git

#27521 [bitnami/*] Standarize initial testing suites
  .vib/apache/goss/apache.yaml
  .vib/apache/goss/goss.yaml
  .vib/aspnet-core/goss/aspnet-core.yaml
  .vib/aspnet-core/goss/goss.yaml
  .vib/codeigniter/goss/goss.yaml
  .vib/dotnet-sdk/goss/dotnet-sdk.yaml
  .vib/dotnet-sdk/goss/goss.yaml
  .vib/dotnet/goss/dotnet.yaml
  .vib/dotnet/goss/goss.yaml
  .vib/express/goss/goss.yaml
  .vib/golang/goss/goss.yaml
  .vib/gradle/goss/goss.yaml
  .vib/java/goss/goss.yaml
  .vib/jruby/goss/goss.yaml
  .vib/mariadb/goss/goss.yaml
  .vib/mariadb/goss/mariadb.yaml
  .vib/node/goss/goss.yaml
  .vib/python/goss/goss.yaml
  .vib/rails/goss/goss.yaml
  .vib/rails/goss/vars.yaml
  .vib/wordpress/goss/goss.yaml
  .vib/wordpress/goss/wordpress.yaml
Labels: verify, bitnami

#27474 [bitnami/ksql] Add ksql container tests
  .vib/ksql/goss/goss.yaml
  .vib/ksql/goss/ksql.yaml
  .vib/ksql/goss/vars.yaml
  .vib/ksql/vib-publish.json
  .vib/ksql/vib-verify.json
Labels: verify, bitnami, ksql

#27473 [bitnami/influxdb] Add influxdb container tests
  .vib/influxdb/goss/goss.yaml
  .vib/influxdb/goss/influxdb.yaml
  .vib/influxdb/goss/vars.yaml
  .vib/influxdb/vib-publish.json
  .vib/influxdb/vib-verify.json
Labels: verify, bitnami, influxdb

#27809 [bitnami/cassandra] Add VIB tests
  .vib/cassandra/goss/goss.yaml
  .vib/cassandra/goss/vars.yaml
  .vib/cassandra/vib-publish.json
  .vib/cassandra/vib-verify.json
  .vib/common/goss/scripts/check-sed-in-place.sh
  .vib/common/goss/templates/check-directories.yaml
  .vib/common/goss/templates/check-files.yaml
  .vib/common/goss/templates/check-linked-libraries.yaml
  .vib/common/goss/templates/check-sed-in-place.yaml
Labels: verify, bitnami, cassandra

#27830 [bitnami/postgrest] Add VIB tests
  .vib/postgrest/goss/goss.yaml
  .vib/postgrest/goss/vars.yaml
  .vib/postgrest/vib-publish.json
  .vib/postgrest/vib-verify.json
Labels: verify, bitnami, postgrest

#27835 [bitnami/containers] Reduce GitHub API requests
  .github/workflows/assign-asset-label.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#28153 [bitnami/cassandra] Fix goss tests
  .vib/cassandra/goss/vars.yaml
Labels: verify, bitnami, cassandra

#27512 [bitnami/elasticsearch] Add VIB tests
  .vib/elasticsearch/goss/elasticsearch.yaml
  .vib/elasticsearch/goss/goss.yaml
  .vib/elasticsearch/goss/vars.yaml
  .vib/elasticsearch/vib-publish.json
  .vib/elasticsearch/vib-verify.json
Labels: verify, bitnami, elasticsearch

#28184 [bitnami/keycloack] Updates in README.md environment variable documentation
  bitnami/keycloak/README.md
Labels: verify, bitnami, keycloak

#27831 [bitnami/redis] Added dependency for running official Redis module
  bitnami/redis/6.2/debian-11/Dockerfile
  bitnami/redis/7.0/debian-11/Dockerfile
Labels: verify, in-progress, redis

#28187 [bitnami/containers] Use latest changes from labeler action
  .github/workflows/assign-asset-label.yml
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#24336 [bitnami/pgbouncer] Allow override of PGBOUNCER_LOG_FILE
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
Labels: verify, in-progress, pgbouncer

#27806 [bitnami/mongodb] Add MongoDB container VIB tests
  .vib/mongodb/goss/goss.yaml
  .vib/mongodb/goss/mongodb.yaml
  .vib/mongodb/goss/vars.yaml
  .vib/mongodb/vib-publish.json
  .vib/mongodb/vib-verify.json
Labels: verify, bitnami

#27833 [bitnami/postgresql] Add postgresql tests
  .vib/postgresql/goss/goss.yaml
  .vib/postgresql/goss/postgresql.yaml
  .vib/postgresql/goss/vars.yaml
  .vib/postgresql/vib-publish.json
  .vib/postgresql/vib-verify.json
Labels: verify, bitnami, postgresql

#28627 [bitnami/containers] Use Main Catalog Testing CSP Org for GitHub testing pipelines
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#28165 [bitnami/java] Add linked-libs test
  .vib/java/goss/goss.yaml
  .vib/java/goss/vars.yaml
Labels: verify, bitnami, java

#28155 [bitnami/mysql] Add VIB tests
  .vib/mysql/goss/goss.yaml
  .vib/mysql/goss/mysql.yaml
  .vib/mysql/goss/vars.yaml
  .vib/mysql/vib-publish.json
  .vib/mysql/vib-verify.json
Labels: verify, bitnami, mysql

#28130 [bitnami/mariadb-galera] Add VIB tests
  .vib/mariadb-galera/10.3/vib-publish.json
  .vib/mariadb-galera/10.4/vib-publish.json
  .vib/mariadb-galera/goss/goss.yaml
  .vib/mariadb-galera/goss/mariadb-galera.yaml
  .vib/mariadb-galera/goss/vars.yaml
  .vib/mariadb-galera/vib-publish.json
  .vib/mariadb-galera/vib-verify.json
Labels: verify, bitnami, mariadb-galera

#28649 [bitnami/containers] Prevent card self assignment
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#28670 [bitnami/redis-cluster] fix nodes.conf not found
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
Labels: verify, in-progress, redis-cluster
