Repository bitnami/containers, pull requests merged in 2023-05, with the labels that each got.

#28662 [bitnami/schema-registry] Add VIB tests
  .vib/schema-registry/goss/goss.yaml
  .vib/schema-registry/goss/schema-registry.yaml
  .vib/schema-registry/goss/vars.yaml
  .vib/schema-registry/vib-publish.json
  .vib/schema-registry/vib-verify.json
Labels: verify, bitnami

#32485 [bitnami/gitlab-runner-helper] Symlink gitlab-runner-helper binary to expected path
  bitnami/gitlab-runner-helper/15/debian-11/Dockerfile
Labels: verify, in-progress, gitlab-runner-helper

#30679 [bitnami/redis-cluster] Add VIB tests
  .vib/redis-cluster/goss/goss.yaml
  .vib/redis-cluster/goss/redis-cluster.yaml
  .vib/redis-cluster/goss/vars.yaml
  .vib/redis-cluster/vib-publish.json
  .vib/redis-cluster/vib-verify.json
Labels: verify, bitnami, redis-cluster

#32635 Deprecate NGINX branch 1.22
  bitnami/nginx/1.22/debian-11/Dockerfile
  bitnami/nginx/1.22/debian-11/docker-compose.yml
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/nginx/1.22/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/nginx/conf/bitnami/protect-hidden-files.conf
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/nginx/conf/nginx.conf
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/libnginx.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx-env.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-http-server-block.conf.tpl
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-https-server-block.conf.tpl
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-php-prefix.conf.tpl
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-prefix.conf.tpl
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/default-https-server-block.conf
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/entrypoint.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/postunpack.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/reload.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/restart.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/run.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/setup.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/start.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/status.sh
  bitnami/nginx/1.22/debian-11/rootfs/opt/bitnami/scripts/nginx/stop.sh
  bitnami/nginx/1.22/debian-11/tags-info.yaml
Labels: verify, bitnami

#32633 [bitnami/haproxy] Add VIB tests
  .vib/haproxy/goss/goss.yaml
  .vib/haproxy/goss/haproxy.yaml
  .vib/haproxy/goss/vars.yaml
  .vib/haproxy/vib-publish.json
  .vib/haproxy/vib-verify.json
Labels: verify, haproxy

#33011 [bitnami/containers] Fix comments workflow to manage any comment from users
  .github/workflows/comments.yml
Labels: verify, bitnami

#32279 [bitnami/solr] Introducing SOLR_ZK_CHROOT
  bitnami/solr/8/debian-11/rootfs/opt/bitnami/scripts/libsolr.sh
  bitnami/solr/8/debian-11/rootfs/opt/bitnami/scripts/solr-env.sh
  bitnami/solr/8/debian-11/rootfs/opt/bitnami/scripts/solr/run.sh
  bitnami/solr/9/debian-11/rootfs/opt/bitnami/scripts/libsolr.sh
  bitnami/solr/9/debian-11/rootfs/opt/bitnami/scripts/solr-env.sh
  bitnami/solr/9/debian-11/rootfs/opt/bitnami/scripts/solr/run.sh
  bitnami/solr/README.md
Labels: verify, in-progress, solr

#31574 [bitnami/keycloak] Redact db password from debug log
  bitnami/keycloak/21/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
Labels: verify, in-progress, keycloak

#31970 [bitnami/tomcat] Only enable remote management on default webapps if default webapps are installed (#31969).
  bitnami/tomcat/10.1/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/tomcat/8.5/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/tomcat/9.0/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
Labels: verify, in-progress, tomcat

#31971 [bitnami/jasperreports] Only enable remote management on default webapps if default webapps are installed (#31969).
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
Labels: verify, in-progress, jasperreports

#32704 [bitnami/containers] Revisit the script to retrieve additional packages
  .github/workflows/cd-prepare.yml
Labels: verify, bitnami

#32549 [bitnami/grafana-loki] Add Grafana Loki VIB tests
  .vib/grafana-loki/goss/goss.yaml
  .vib/grafana-loki/goss/vars.yaml
  .vib/grafana-loki/vib-publish.json
  .vib/grafana-loki/vib-verify.json
Labels: verify, bitnami, grafana-loki

#32552 [bitnami/grafana-tempo-vulture] Add Grafana Tempo Vulture VIB tests
  .vib/grafana-tempo-vulture/goss/goss.yaml
  .vib/grafana-tempo-vulture/goss/grafana-tempo-vulture.yaml
  .vib/grafana-tempo-vulture/goss/vars.yaml
  .vib/grafana-tempo-vulture/vib-publish.json
  .vib/grafana-tempo-vulture/vib-verify.json
Labels: verify, bitnami, grafana-tempo-vulture

#32653 [bitnami/jaeger] Add VIB tests
  .vib/jaeger/goss/goss.yaml
  .vib/jaeger/goss/jaeger.yaml
  .vib/jaeger/goss/vars.yaml
  .vib/jaeger/vib-publish.json
  .vib/jaeger/vib-verify.json
Labels: verify, bitnami, jaeger

#33347 Add wording for enterprise page
  README.md
Labels: verify, bitnami

#30852 [bitnami/jenkins] add support for custom Jenkins launcher parameters
  bitnami/jenkins/2/debian-11/rootfs/opt/bitnami/scripts/jenkins-env.sh
  bitnami/jenkins/2/debian-11/rootfs/opt/bitnami/scripts/jenkins/run.sh
  bitnami/jenkins/README.md
Labels: verify, in-progress, jenkins

#31183 [bitnami/harbor-notary-server] Add VIB tests
  .vib/harbor-notary-server/goss/goss.yaml
  .vib/harbor-notary-server/goss/harbor-notary-server.yaml
  .vib/harbor-notary-server/goss/vars.yaml
  .vib/harbor-notary-server/vib-publish.json
  .vib/harbor-notary-server/vib-verify.json
Labels: verify, bitnami, harbor-notary-server

#31193 [bitnami/harbor-adapter-trivy] Add VIB tests
  .vib/harbor-adapter-trivy/goss/goss.yaml
  .vib/harbor-adapter-trivy/goss/harbor-adapter-trivy.yaml
  .vib/harbor-adapter-trivy/goss/vars.yaml
  .vib/harbor-adapter-trivy/vib-publish.json
  .vib/harbor-adapter-trivy/vib-verify.json
Labels: verify, bitnami, harbor-adapter-trivy

#33426 [bitnami/several] Deprecated some branches unmaintained upstream
  bitnami/contour-operator/1.21/scratch/Dockerfile
  bitnami/contour-operator/1.21/scratch/docker-compose.yml
  bitnami/contour-operator/1.21/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour-operator/1.21/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour-operator/1.21/scratch/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/contour-operator/1.21/scratch/tags-info.yaml
  bitnami/contour/1.21/debian-11/Dockerfile
  bitnami/contour/1.21/debian-11/docker-compose.yml
  bitnami/contour/1.21/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour/1.21/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.21/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.21/debian-11/tags-info.yaml
  bitnami/cosign/1/debian-11/Dockerfile
  bitnami/cosign/1/debian-11/docker-compose.yml
  bitnami/cosign/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/cosign/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/cosign/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/cosign/1/debian-11/tags-info.yaml
  bitnami/grafana-tempo-query/1/debian-11/Dockerfile
  bitnami/grafana-tempo-query/1/debian-11/docker-compose.yml
  bitnami/grafana-tempo-query/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-tempo-query/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-tempo-query/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-tempo-query/1/debian-11/tags-info.yaml
  bitnami/grafana-tempo-vulture/1/debian-11/Dockerfile
  bitnami/grafana-tempo-vulture/1/debian-11/docker-compose.yml
  bitnami/grafana-tempo-vulture/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-tempo-vulture/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-tempo-vulture/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-tempo-vulture/1/debian-11/tags-info.yaml
  bitnami/grafana-tempo/1/debian-11/Dockerfile
  bitnami/grafana-tempo/1/debian-11/docker-compose.yml
  bitnami/grafana-tempo/1/debian-11/examples/tempo.yaml
  bitnami/grafana-tempo/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-tempo/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-tempo/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-tempo/1/debian-11/tags-info.yaml
Labels: verify, bitnami

#33236 [bitnami/apisix] chore: :construction_worker: Add VIB integration
  .vib/apisix-dashboard/goss/goss.yaml
  .vib/apisix-dashboard/goss/vars.yaml
  .vib/apisix-dashboard/vib-publish.json
  .vib/apisix-dashboard/vib-verify.json
  .vib/apisix-ingress-controller/goss/goss.yaml
  .vib/apisix-ingress-controller/goss/vars.yaml
  .vib/apisix-ingress-controller/vib-publish.json
  .vib/apisix-ingress-controller/vib-verify.json
  .vib/apisix/goss/goss.yaml
  .vib/apisix/goss/vars.yaml
  .vib/apisix/vib-publish.json
  .vib/apisix/vib-verify.json
Labels: verify, bitnami

#30739 [bitnami/harbor-jobservice] Add VIB tests
  .vib/harbor-jobservice/goss/goss.yaml
  .vib/harbor-jobservice/goss/harbor-jobservice.yaml
  .vib/harbor-jobservice/goss/vars.yaml
  .vib/harbor-jobservice/vib-publish.json
  .vib/harbor-jobservice/vib-verify.json
Labels: verify, bitnami, harbor-jobservice

#30799 [bitnami/harbor-notary-signer] Add VIB tests
  .vib/harbor-notary-signer/goss/goss.yaml
  .vib/harbor-notary-signer/goss/harbor-notary-signer.yaml
  .vib/harbor-notary-signer/goss/vars.yaml
  .vib/harbor-notary-signer/vib-publish.json
  .vib/harbor-notary-signer/vib-verify.json
Labels: verify, bitnami, harbor-notary-signer

#30686 [bitnami/redis-sentinel] Add VIB tests
  .vib/redis-sentinel/goss/goss.yaml
  .vib/redis-sentinel/goss/redis-sentinel.yaml
  .vib/redis-sentinel/goss/vars.yaml
  .vib/redis-sentinel/vib-publish.json
  .vib/redis-sentinel/vib-verify.json
Labels: verify, bitnami, redis-sentinel

#29156 [bitnami/drupal] Add VIB tests
  .vib/common/goss/templates/check-apache-libphp.yaml
  .vib/drupal/goss/drupal.yaml
  .vib/drupal/goss/goss.yaml
  .vib/drupal/goss/vars.yaml
  .vib/drupal/vib-publish.json
  .vib/drupal/vib-verify.json
Labels: verify, bitnami

#30867 [bitnami/etcd] Add VIB tests
  .vib/etcd/goss/goss.yaml
  .vib/etcd/goss/vars.yaml
  .vib/etcd/vib-publish.json
  .vib/etcd/vib-verify.json
Labels: verify, bitnami, etcd

#30865 [bitnami/ejbca] Add VIB tests
  .vib/ejbca/goss/ejbca.yaml
  .vib/ejbca/goss/goss.yaml
  .vib/ejbca/goss/vars.yaml
  .vib/ejbca/vib-publish.json
  .vib/ejbca/vib-verify.json
Labels: verify, bitnami

#30864 [bitnami/chartmuseum] Add VIB tests
  .vib/chartmuseum/goss/chartmuseum.yaml
  .vib/chartmuseum/goss/goss.yaml
  .vib/chartmuseum/goss/vars.yaml
  .vib/chartmuseum/vib-publish.json
  .vib/chartmuseum/vib-verify.json
Labels: verify, bitnami, chartmuseum

#30861 [bitnami/concourse] Add VIB tests
  .vib/concourse/goss/concourse.yaml
  .vib/concourse/goss/goss.yaml
  .vib/concourse/goss/vars.yaml
  .vib/concourse/vib-publish.json
  .vib/concourse/vib-verify.json
Labels: verify, bitnami, concourse

#31192 [bitnami/harbor-core] Add VIB tests
  .vib/harbor-core/goss/goss.yaml
  .vib/harbor-core/goss/harbor-core.yaml
  .vib/harbor-core/goss/vars.yaml
  .vib/harbor-core/vib-publish.json
  .vib/harbor-core/vib-verify.json
Labels: verify, bitnami, harbor-core

#32553 [bitnami/grafana-tempo-query] Add Grafana Tempo Query VIB tests
  .vib/grafana-tempo-query/goss/goss.yaml
  .vib/grafana-tempo-query/goss/grafana-tempo-query.yaml
  .vib/grafana-tempo-query/goss/vars.yaml
  .vib/grafana-tempo-query/vib-publish.json
  .vib/grafana-tempo-query/vib-verify.json
Labels: verify, bitnami, grafana-tempo-query

#31616 [bitnami/grafana] Add VIB tests
  .vib/grafana/goss/goss.yaml
  .vib/grafana/goss/grafana.yaml
  .vib/grafana/goss/vars.yaml
  .vib/grafana/vib-publish.json
  .vib/grafana/vib-verify.json
Labels: verify, bitnami

#32323 [bitnami/grafana-tempo] Add grafana tempo vib tests
  .vib/grafana-tempo/goss/goss.yaml
  .vib/grafana-tempo/goss/vars.yaml
  .vib/grafana-tempo/vib-publish.json
  .vib/grafana-tempo/vib-verify.json
Labels: verify, bitnami, grafana-tempo

#31886 [bitnami/kong-ingress-controller] Add VIB tests
  .vib/kong-ingress-controller/goss/goss.yaml
  .vib/kong-ingress-controller/goss/kong-ingress-controller.yaml
  .vib/kong-ingress-controller/goss/vars.yaml
  .vib/kong-ingress-controller/vib-publish.json
  .vib/kong-ingress-controller/vib-verify.json
Labels: verify, bitnami, kong-ingress-controller

#30856 [bitnami/alertmanager] Add VIB tests
  .vib/alertmanager/goss/alertmanager.yaml
  .vib/alertmanager/goss/goss.yaml
  .vib/alertmanager/goss/vars.yaml
  .vib/alertmanager/vib-publish.json
  .vib/alertmanager/vib-verify.json
Labels: verify, bitnami, alertmanager

#31115 [bitnami/fluentd] Add VIB tests
  .vib/fluentd/goss/fluentd.yaml
  .vib/fluentd/goss/goss.yaml
  .vib/fluentd/goss/vars.yaml
  .vib/fluentd/vib-publish.json
  .vib/fluentd/vib-verify.json
Labels: verify, bitnami, fluentd

#31490 [bitnami/jenkins] Add VIB tests
  .vib/jenkins/goss/goss.yaml
  .vib/jenkins/goss/jenkins.yaml
  .vib/jenkins/goss/vars.yaml
  .vib/jenkins/vib-publish.json
  .vib/jenkins/vib-verify.json
Labels: verify, jenkins, bitnami

#32299 [bitnami/minio-client] Add VIB tests
  .vib/minio-client/goss/goss.yaml
  .vib/minio-client/goss/minio-client.yaml
  .vib/minio-client/goss/vars.yaml
  .vib/minio-client/vib-publish.json
  .vib/minio-client/vib-verify.json
Labels: verify, bitnami, minio-client

#31174 [bitnami/gitea] Add VIB tests
  .vib/gitea/goss/gitea.yaml
  .vib/gitea/goss/goss.yaml
  .vib/gitea/goss/vars.yaml
  .vib/gitea/vib-publish.json
  .vib/gitea/vib-verify.json
Labels: verify, bitnami, gitea

#31178 [bitnami/harbor-registry] Add VIB tests
  .vib/harbor-registry/goss/goss.yaml
  .vib/harbor-registry/goss/harbor-registry.yaml
  .vib/harbor-registry/goss/vars.yaml
  .vib/harbor-registry/vib-publish.json
  .vib/harbor-registry/vib-verify.json
Labels: verify, bitnami, harbor-registry

#32324 [bitnami/harbor-portal] Add VIB tests
  .vib/harbor-portal/goss/goss.yaml
  .vib/harbor-portal/goss/harbor-portal.yaml
  .vib/harbor-portal/goss/vars.yaml
  .vib/harbor-portal/vib-publish.json
  .vib/harbor-portal/vib-verify.json
Labels: verify, bitnami, harbor-portal

#30858 [bitnami/discourse] Add VIB tests
  .vib/common/goss/templates/check-linked-libraries.yaml
  .vib/discourse/goss/discourse.yaml
  .vib/discourse/goss/goss.yaml
  .vib/discourse/goss/vars.yaml
  .vib/discourse/vib-publish.json
  .vib/discourse/vib-verify.json
Labels: verify, bitnami

#33926 [bitnami/contour-operator] deprecate
  bitnami/contour-operator/README.md
Labels: verify, bitnami, contour-operator

#33351 [bitnami/gotrue] Add VIB tests
  .vib/gotrue/goss/goss.yaml
  .vib/gotrue/goss/gotrue.yaml
  .vib/gotrue/goss/vars.yaml
  .vib/gotrue/vib-publish.json
  .vib/gotrue/vib-verify.json
Labels: verify, bitnami

#33366 [bitnami/joomla] Add VIB tests
  .vib/joomla/goss/goss.yaml
  .vib/joomla/goss/joomla.yaml
  .vib/joomla/goss/vars.yaml
  .vib/joomla/vib-publish.json
  .vib/joomla/vib-verify.json
Labels: verify, bitnami

#33316 [bitnami/discourse] Added timeout env configuration
  bitnami/discourse/3/debian-11/rootfs/opt/bitnami/scripts/discourse-env.sh
  bitnami/discourse/3/debian-11/rootfs/opt/bitnami/scripts/libdiscourse.sh
Labels: verify, in-progress, discourse

#33587 fix(pgbouncer): ini-file ignore-inline-comments
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
Labels: verify, in-progress, pgbouncer

#34162 [bitnami/contour-operator] Deprecate contour operator
  .vib/contour-operator/vib-publish.json
  .vib/contour-operator/vib-verify.json
  bitnami/contour-operator/1.22/scratch/Dockerfile
  bitnami/contour-operator/1.22/scratch/docker-compose.yml
  bitnami/contour-operator/1.22/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour-operator/1.22/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour-operator/1.22/scratch/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/contour-operator/1.22/scratch/tags-info.yaml
  bitnami/contour-operator/1.23/scratch/Dockerfile
  bitnami/contour-operator/1.23/scratch/docker-compose.yml
  bitnami/contour-operator/1.23/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour-operator/1.23/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour-operator/1.23/scratch/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/contour-operator/1.23/scratch/tags-info.yaml
  bitnami/contour-operator/1.24/scratch/Dockerfile
  bitnami/contour-operator/1.24/scratch/docker-compose.yml
  bitnami/contour-operator/1.24/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour-operator/1.24/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour-operator/1.24/scratch/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/contour-operator/1.24/scratch/tags-info.yaml
  bitnami/contour-operator/README.md
  bitnami/contour-operator/docker-compose.yml
Labels: verify, bitnami

#34264 [bitnami/contour] Add VIB tests
  .vib/contour/goss/goss.yaml
  .vib/contour/goss/vars.yaml
  .vib/contour/vib-publish.json
  .vib/contour/vib-verify.json
Labels: verify, bitnami

#30863 [bitnami/parse-dashboard] Add VIB tests
  .vib/common/goss/templates/check-directories.yaml
  .vib/common/goss/templates/check-files.yaml
  .vib/parse-dashboard/goss/goss.yaml
  .vib/parse-dashboard/goss/parse-dashboard.yaml
  .vib/parse-dashboard/goss/vars.yaml
  .vib/parse-dashboard/vib-publish.json
  .vib/parse-dashboard/vib-verify.json
Labels: verify, bitnami, parse-dashboard

#30860 [bitnami/airflow] Add VIB tests
  .vib/airflow/goss/airflow.yaml
  .vib/airflow/goss/goss.yaml
  .vib/airflow/goss/vars.yaml
  .vib/airflow/vib-publish.json
  .vib/airflow/vib-verify.json
Labels: verify, airflow, bitnami

#31816 [bitnami/kong] Add VIB tests
  .vib/kong/goss/goss.yaml
  .vib/kong/goss/kong.yaml
  .vib/kong/goss/vars.yaml
  .vib/kong/vib-publish.json
  .vib/kong/vib-verify.json
Labels: verify, bitnami, kong

#34273 [bitnami/fluxcd-source-controller] Add VIB tests
  .vib/fluxcd-source-controller/goss/fluxcd-source-controller.yaml
  .vib/fluxcd-source-controller/goss/goss.yaml
  .vib/fluxcd-source-controller/goss/vars.yaml
  .vib/fluxcd-source-controller/vib-publish.json
  .vib/fluxcd-source-controller/vib-verify.json
Labels: verify, bitnami

#32298 [bitnami/minio] Add VIB tests
  .vib/minio/goss/goss.yaml
  .vib/minio/goss/minio.yaml
  .vib/minio/goss/vars.yaml
  .vib/minio/vib-publish.json
  .vib/minio/vib-verify.json
Labels: verify, bitnami, minio

#34146 [bitnami/promtail] Add VIB tests
  .vib/promtail/goss/goss.yaml
  .vib/promtail/goss/vars.yaml
  .vib/promtail/vib-publish.json
  .vib/promtail/vib-verify.json
Labels: verify, bitnami

#33250 [bitnami/node-exporter] Add VIB tests
  .vib/node-exporter/goss/goss.yaml
  .vib/node-exporter/goss/node-exporter.yaml
  .vib/node-exporter/goss/vars.yaml
  .vib/node-exporter/vib-publish.json
  .vib/node-exporter/vib-verify.json
Labels: verify, bitnami

#33924 [bitnami/prometheus] Add VIB tests
  .vib/prometheus/goss/goss.yaml
  .vib/prometheus/goss/prometheus.yaml
  .vib/prometheus/goss/vars.yaml
  .vib/prometheus/vib-publish.json
  .vib/prometheus/vib-verify.json
Labels: verify, bitnami, prometheus

#34143 [bitnami/supabase-postgres] Add VIB tests
  .vib/supabase-postgres/goss/goss.yaml
  .vib/supabase-postgres/goss/supabase-postgres.yaml
  .vib/supabase-postgres/goss/vars.yaml
  .vib/supabase-postgres/vib-publish.json
  .vib/supabase-postgres/vib-verify.json
Labels: verify, bitnami, supabase-postgres

#34149 [bitnami/supabase-realtime] Add VIB tests
  .vib/supabase-realtime/goss/goss.yaml
  .vib/supabase-realtime/goss/vars.yaml
  .vib/supabase-realtime/vib-publish.json
  .vib/supabase-realtime/vib-verify.json
Labels: verify, bitnami

#34153 [bitnami/supabase-studio] Add VIB tests
  .vib/supabase-studio/goss/goss.yaml
  .vib/supabase-studio/goss/supabase-studio.yaml
  .vib/supabase-studio/goss/vars.yaml
  .vib/supabase-studio/vib-publish.json
  .vib/supabase-studio/vib-verify.json
Labels: verify, bitnami

#34148 [bitnami/prometheus-operator] Add VIB tests
  .vib/prometheus-operator/goss/goss.yaml
  .vib/prometheus-operator/goss/vars.yaml
  .vib/prometheus-operator/vib-publish.json
  .vib/prometheus-operator/vib-verify.json
Labels: verify, bitnami, prometheus-operator

#34387 [bitnami/jwt-cli] Add VIB tests
  .vib/jwt-cli/goss/goss.yaml
  .vib/jwt-cli/goss/jwt-cli.yaml
  .vib/jwt-cli/goss/vars.yaml
  .vib/jwt-cli/vib-publish.json
  .vib/jwt-cli/vib-verify.json
Labels: verify, bitnami

#34388 [bitnami/kiam] Add VIB tests
  .vib/kiam/goss/goss.yaml
  .vib/kiam/goss/kiam.yaml
  .vib/kiam/goss/vars.yaml
  .vib/kiam/vib-publish.json
  .vib/kiam/vib-verify.json
Labels: verify, bitnami

#34151 [bitnami/rabbitmq] Add VIB tests
  .vib/rabbitmq/3.9/vib-publish.json
  .vib/rabbitmq/goss/goss.yaml
  .vib/rabbitmq/goss/rabbitmq.yaml
  .vib/rabbitmq/goss/vars.yaml
  .vib/rabbitmq/vib-publish.json
  .vib/rabbitmq/vib-verify.json
Labels: verify, bitnami

#34548 Deprecate Postgrest 10 and Contour 1.22
  bitnami/contour/1.22/debian-11/Dockerfile
  bitnami/contour/1.22/debian-11/docker-compose.yml
  bitnami/contour/1.22/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour/1.22/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.22/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.22/debian-11/tags-info.yaml
  bitnami/postgrest/10/debian-11/Dockerfile
  bitnami/postgrest/10/debian-11/docker-compose.yml
  bitnami/postgrest/10/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/postgrest/10/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/postgrest/10/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/postgrest/10/debian-11/tags-info.yaml
Labels: verify, bitnami

#30871 [bitnami/appsmith] Add VIB tests
  .vib/appsmith/goss/appsmith.yaml
  .vib/appsmith/goss/goss.yaml
  .vib/appsmith/goss/vars.yaml
  .vib/appsmith/vib-publish.json
  .vib/appsmith/vib-verify.json
Labels: verify, bitnami, appsmith

#34150 [bitnami/supabase-storage] Add VIB tests
  .vib/supabase-storage/goss/goss.yaml
  .vib/supabase-storage/goss/supabase-storage.yaml
  .vib/supabase-storage/goss/vars.yaml
  .vib/supabase-storage/vib-publish.json
  .vib/supabase-storage/vib-verify.json
Labels: verify, bitnami

#34282 [bitnami/cainjector] Add VIB tests
  .vib/cainjector/goss/cainjector.yaml
  .vib/cainjector/goss/goss.yaml
  .vib/cainjector/goss/vars.yaml
  .vib/cainjector/vib-publish.json
  .vib/cainjector/vib-verify.json
Labels: verify, bitnami, cainjector

#32551 [bitnami/grafana-operator] Add Grafana Operator VIB tests
  .vib/grafana-operator/goss/goss.yaml
  .vib/grafana-operator/goss/grafana-operator.yaml
  .vib/grafana-operator/goss/vars.yaml
  .vib/grafana-operator/vib-publish.json
  .vib/grafana-operator/vib-verify.json
Labels: verify, bitnami, grafana-operator

#31098 [bitnami/airflow-scheduler] Add airflow-scheduler tests
  .vib/airflow-scheduler/goss/airflow-scheduler.yaml
  .vib/airflow-scheduler/goss/goss.yaml
  .vib/airflow-scheduler/goss/vars.yaml
  .vib/airflow-scheduler/vib-publish.json
  .vib/airflow-scheduler/vib-verify.json
Labels: verify, bitnami, airflow-scheduler

#31100 [bitnami/airflow-worker] Add VIB tests
  .vib/airflow-worker/goss/airflow-worker.yaml
  .vib/airflow-worker/goss/goss.yaml
  .vib/airflow-worker/goss/vars.yaml
  .vib/airflow-worker/vib-publish.json
  .vib/airflow-worker/vib-verify.json
Labels: verify, bitnami

#34916 [bitnami/*] Remove VIB pipelines from deprecated containers
  .vib/geode/vib-publish.json
  .vib/geode/vib-verify.json
  .vib/kubeapps-kubeops/vib-publish.json
  .vib/kubeapps-kubeops/vib-verify.json
Labels: verify, bitnami

#31589 [bitnami/ghost] Add Ghost vib tests
  .vib/ghost/goss/ghost.yaml
  .vib/ghost/goss/goss.yaml
  .vib/ghost/goss/vars.yaml
  .vib/ghost/vib-publish.json
  .vib/ghost/vib-verify.json
Labels: verify, bitnami, ghost

#34262 [bitnami/configmap-reload] Add VIB tests
  .vib/configmap-reload/goss/configmap-reload.yaml
  .vib/configmap-reload/goss/goss.yaml
  .vib/configmap-reload/goss/vars.yaml
  .vib/configmap-reload/vib-publish.json
  .vib/configmap-reload/vib-verify.json
Labels: verify, bitnami

#34267 [bitnami/external-dns] Add VIB tests
  .vib/external-dns/goss/goss.yaml
  .vib/external-dns/goss/vars.yaml
  .vib/external-dns/vib-publish.json
  .vib/external-dns/vib-verify.json
Labels: verify, bitnami

#34272 [bitnami/fluxcd-kustomize-controller] Add VIB tests
  .vib/fluxcd-kustomize-controller/goss/fluxcd-kustomize-controller.yaml
  .vib/fluxcd-kustomize-controller/goss/goss.yaml
  .vib/fluxcd-kustomize-controller/goss/vars.yaml
  .vib/fluxcd-kustomize-controller/vib-publish.json
  .vib/fluxcd-kustomize-controller/vib-verify.json
Labels: verify, bitnami

#34386 [bitnami/jupyterhub] Add VIB tests
  .vib/jupyterhub/goss/goss.yaml
  .vib/jupyterhub/goss/vars.yaml
  .vib/jupyterhub/vib-publish.json
  .vib/jupyterhub/vib-verify.json
Labels: verify, bitnami, jupyterhub

#34389 [bitnami/kube-state-metrics] Add VIB tests
  .vib/kube-state-metrics/goss/goss.yaml
  .vib/kube-state-metrics/goss/vars.yaml
  .vib/kube-state-metrics/vib-publish.json
  .vib/kube-state-metrics/vib-verify.json
Labels: verify, bitnami

#34399 [bitnami/metrics-server] Add VIB tests
  .vib/metrics-server/goss/goss.yaml
  .vib/metrics-server/goss/vars.yaml
  .vib/metrics-server/vib-publish.json
  .vib/metrics-server/vib-verify.json
Labels: verify, bitnami

#34395 [bitnami/kubectl] Add VIB tests
  .vib/kubectl/goss/goss.yaml
  .vib/kubectl/goss/kubectl.yaml
  .vib/kubectl/goss/vars.yaml
  .vib/kubectl/vib-publish.json
  .vib/kubectl/vib-verify.json
Labels: verify, bitnami

#34545 [bitnami/chartmuseum] Deprecate chartmuseum container
  .vib/chartmuseum/goss/chartmuseum.yaml
  .vib/chartmuseum/goss/goss.yaml
  .vib/chartmuseum/goss/vars.yaml
  .vib/chartmuseum/vib-publish.json
  .vib/chartmuseum/vib-verify.json
Labels: verify, bitnami

#34967 [bitnami/etcd] Deprecate branch 3.3.x
  bitnami/etcd/3.3/debian-11/Dockerfile
  bitnami/etcd/3.3/debian-11/docker-compose.yml
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/etcd/3.3/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd-env.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/entrypoint.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/healthcheck.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/postunpack.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/prestop.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/run.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/setup.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/snapshot.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/libetcd.sh
  bitnami/etcd/3.3/debian-11/tags-info.yaml
Labels: verify, bitnami

#34551 [bitnami/nats] Add VIB tests
  .vib/nats/goss/goss.yaml
  .vib/nats/goss/nats.yaml
  .vib/nats/goss/vars.yaml
  .vib/nats/vib-publish.json
  .vib/nats/vib-verify.json
Labels: verify, bitnami, nats

#33356 [bitnami/mediawiki] Add VIB tests
  .vib/mediawiki/goss/goss.yaml
  .vib/mediawiki/goss/mediawiki.yaml
  .vib/mediawiki/goss/vars.yaml
  .vib/mediawiki/vib-publish.json
  .vib/mediawiki/vib-verify.json
Labels: verify, bitnami, mediawiki

#34987 [bitnami/etcd] Support for ARM is dropped for branch 3.4
  .vib/etcd/3.4/vib-publish.json
Labels: verify, bitnami

#33604 [bitnami/prestashop] Add VIB tests
  .vib/prestashop/goss/goss.yaml
  .vib/prestashop/goss/prestashop.yaml
  .vib/prestashop/goss/vars.yaml
  .vib/prestashop/vib-publish.json
  .vib/prestashop/vib-verify.json
Labels: verify, prestashop, bitnami

#34962 [bitnami/vault-csi-provider] Add VIB tests
  .vib/vault-csi-provider/goss/goss.yaml
  .vib/vault-csi-provider/goss/vars.yaml
  .vib/vault-csi-provider/goss/vault-csi-provider.yaml
  .vib/vault-csi-provider/vib-publish.json
  .vib/vault-csi-provider/vib-verify.json
Labels: verify, bitnami

#34960 [bitnami/vault-k8s] Add VIB tests
  .vib/vault-k8s/goss/goss.yaml
  .vib/vault-k8s/goss/vars.yaml
  .vib/vault-k8s/vib-publish.json
  .vib/vault-k8s/vib-verify.json
Labels: verify, bitnami

#33593 [bitnami/opencart] Add VIB tests
  .vib/opencart/goss/goss.yaml
  .vib/opencart/goss/opencart.yaml
  .vib/opencart/goss/vars.yaml
  .vib/opencart/vib-publish.json
  .vib/opencart/vib-verify.json
Labels: verify, bitnami, opencart

#33416 [bitnami/phpmyadmin] Add VIB tests
  .vib/phpmyadmin/goss/goss.yaml
  .vib/phpmyadmin/goss/phpmyadmin.yaml
  .vib/phpmyadmin/goss/vars.yaml
  .vib/phpmyadmin/vib-publish.json
  .vib/phpmyadmin/vib-verify.json
Labels: verify, bitnami, phpmyadmin

#33417 [bitnami/osclass] Add VIB tests
  .vib/osclass/goss/goss.yaml
  .vib/osclass/goss/osclass.yaml
  .vib/osclass/goss/vars.yaml
  .vib/osclass/vib-publish.json
  .vib/osclass/vib-verify.json
Labels: verify, bitnami, osclass

#33421 [bitnami/suitecrm] Add VIB tests
  .vib/suitecrm/goss/goss.yaml
  .vib/suitecrm/goss/suitecrm.yaml
  .vib/suitecrm/goss/vars.yaml
  .vib/suitecrm/vib-publish.json
  .vib/suitecrm/vib-verify.json
Labels: verify, bitnami, suitecrm

#33619 [bitnami/odoo] Add VIB tests
  .vib/odoo/13/vib-publish.json
  .vib/odoo/14/vib-publish.json
  .vib/odoo/goss/goss.yaml
  .vib/odoo/goss/odoo.yaml
  .vib/odoo/goss/vars.yaml
  .vib/odoo/vib-publish.json
  .vib/odoo/vib-verify.json
Labels: verify, odoo, bitnami

#33412 [bitnami/kibana] Add VIB tests
  .vib/kibana/goss/goss.yaml
  .vib/kibana/goss/kibana.yaml
  .vib/kibana/goss/vars.yaml
  .vib/kibana/vib-publish.json
  .vib/kibana/vib-verify.json
Labels: verify, bitnami, kibana

#34959 [bitnami/vault] Add VIB tests
  .vib/vault/goss/goss.yaml
  .vib/vault/goss/vars.yaml
  .vib/vault/vib-publish.json
  .vib/vault/vib-verify.json
Labels: verify, bitnami, vault

#34256 [bitnami/cert-manager] Add VIB tests
  .vib/cert-manager/goss/cert-manager.yaml
  .vib/cert-manager/goss/goss.yaml
  .vib/cert-manager/goss/vars.yaml
  .vib/cert-manager/vib-publish.json
  .vib/cert-manager/vib-verify.json
Labels: verify, bitnami, cert-manager

#34975 [bitnami/tensorflow-resnet] Add VIB tests
  .vib/tensorflow-resnet/goss/goss.yaml
  .vib/tensorflow-resnet/goss/tensorflow-resnet.yaml
  .vib/tensorflow-resnet/goss/vars.yaml
  .vib/tensorflow-resnet/vib-publish.json
  .vib/tensorflow-resnet/vib-verify.json
Labels: verify, bitnami, tensorflow-resnet

#34549 [bitnami/mxnet] Add VIB tests
  .vib/mxnet/goss/goss.yaml
  .vib/mxnet/goss/mxnet.yaml
  .vib/mxnet/goss/vars.yaml
  .vib/mxnet/vib-publish.json
  .vib/mxnet/vib-verify.json
Labels: verify, bitnami, mxnet

#34942 [bitnami/mastodon] Add VIB tests
  .vib/mastodon/goss/goss.yaml
  .vib/mastodon/goss/mastodon.yaml
  .vib/mastodon/goss/vars.yaml
  .vib/mastodon/vib-publish.json
  .vib/mastodon/vib-verify.json
Labels: verify, bitnami, mastodon

#34973 [bitnami/tensorflow-serving] Add VIB tests
  .vib/tensorflow-serving/goss/goss.yaml
  .vib/tensorflow-serving/goss/tensorflow-serving.yaml
  .vib/tensorflow-serving/goss/vars.yaml
  .vib/tensorflow-serving/vib-publish.json
  .vib/tensorflow-serving/vib-verify.json
Labels: verify, bitnami, tensorflow-serving

#34397 [bitnami/metallb-controller] Add VIB tests
  .vib/metallb-controller/goss/goss.yaml
  .vib/metallb-controller/goss/metallb-controller.yaml
  .vib/metallb-controller/goss/vars.yaml
  .vib/metallb-controller/vib-publish.json
  .vib/metallb-controller/vib-verify.json
Labels: verify, bitnami, metallb-controller

#33628 [bitnami/parse] Add VIB tests
  .vib/parse/4/vib-publish.json
  .vib/parse/goss/goss.yaml
  .vib/parse/goss/parse.yaml
  .vib/parse/goss/vars.yaml
  .vib/parse/vib-publish.json
  .vib/parse/vib-verify.json
Labels: verify, bitnami, parse

#33411 [bitnami/logstash] Add VIB tests
  .vib/logstash/goss/goss.yaml
  .vib/logstash/goss/logstash.yaml
  .vib/logstash/goss/vars.yaml
  .vib/logstash/vib-publish.json
  .vib/logstash/vib-verify.json
Labels: verify, bitnami, kibana

#34547 [bitnami/clickhouse] Add VIB tests
  .vib/clickhouse/goss/clickhouse.yaml
  .vib/clickhouse/goss/goss.yaml
  .vib/clickhouse/goss/vars.yaml
  .vib/clickhouse/vib-publish.json
  .vib/clickhouse/vib-verify.json
Labels: verify, bitnami, clickhouse

#34147 [bitnami/pytorch] Add VIB tests
  .vib/pytorch/goss/goss.yaml
  .vib/pytorch/goss/pytorch.yaml
  .vib/pytorch/goss/vars.yaml
  .vib/pytorch/vib-publish.json
  .vib/pytorch/vib-verify.json
Labels: verify, bitnami

#34295 [bitnami/spring-cloud-dataflow-composed-task-runner] Add VIB tests
  .vib/spring-cloud-dataflow-composed-task-runner/goss/goss.yaml
  .vib/spring-cloud-dataflow-composed-task-runner/goss/spring-cloud-dataflow-composed-task-runner.yaml
  .vib/spring-cloud-dataflow-composed-task-runner/goss/vars.yaml
  .vib/spring-cloud-dataflow-composed-task-runner/vib-publish.json
  .vib/spring-cloud-dataflow-composed-task-runner/vib-verify.json
Labels: verify, bitnami

#34396 [bitnami/kubernetes-event-exporter] Add VIB tests
  .vib/kubernetes-event-exporter/goss/goss.yaml
  .vib/kubernetes-event-exporter/goss/kubernetes-event-exporter.yaml
  .vib/kubernetes-event-exporter/goss/vars.yaml
  .vib/kubernetes-event-exporter/vib-publish.json
  .vib/kubernetes-event-exporter/vib-verify.json
Labels: verify, bitnami

#29190 [bitnami/drupal-nginx] Add VIB tests
  .vib/drupal-nginx/goss/drupal-nginx.yaml
  .vib/drupal-nginx/goss/goss.yaml
  .vib/drupal-nginx/goss/vars.yaml
  .vib/drupal-nginx/vib-publish.json
  .vib/drupal-nginx/vib-verify.json
Labels: verify, bitnami

#34294 [bitnami/spring-cloud-skipper-shell] Add VIB tests
  .vib/spring-cloud-skipper-shell/goss/goss.yaml
  .vib/spring-cloud-skipper-shell/goss/spring-cloud-skipper-shell.yaml
  .vib/spring-cloud-skipper-shell/goss/vars.yaml
  .vib/spring-cloud-skipper-shell/vib-publish.json
  .vib/spring-cloud-skipper-shell/vib-verify.json
Labels: verify, bitnami, spring-cloud-skipper-shell

#34287 [bitnami/spring-cloud-dataflow-shell] Add VIB tests
  .vib/spring-cloud-dataflow-shell/goss/goss.yaml
  .vib/spring-cloud-dataflow-shell/goss/spring-cloud-dataflow-shell.yaml
  .vib/spring-cloud-dataflow-shell/goss/vars.yaml
  .vib/spring-cloud-dataflow-shell/vib-publish.json
  .vib/spring-cloud-dataflow-shell/vib-verify.json
Labels: verify, bitnami

#35293 [bitnami/containers] review and improve workflow permissions
  .github/workflows/assign-asset-label.yml
  .github/workflows/comments.yml
  .github/workflows/moving-cards.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/sync-teams.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#35005 [bitnami/wavefront-proxy] Add VIB tests
  .vib/wavefront-proxy/goss/goss.yaml
  .vib/wavefront-proxy/goss/vars.yaml
  .vib/wavefront-proxy/goss/wavefront-proxy.yaml
  .vib/wavefront-proxy/vib-publish.json
  .vib/wavefront-proxy/vib-verify.json
Labels: verify, bitnami, wavefront-proxy

#35284 [bitnami/fluxcd-notification-controller] Add VIB tests
  .vib/fluxcd-notification-controller/goss/fluxcd-notification-controller.yaml
  .vib/fluxcd-notification-controller/goss/goss.yaml
  .vib/fluxcd-notification-controller/goss/vars.yaml
  .vib/fluxcd-notification-controller/vib-publish.json
  .vib/fluxcd-notification-controller/vib-verify.json
Labels: verify, bitnami, fluxcd-notification-controller

#35286 [bitnami/fluxcd-image-automation-controller] Add VIB tests
  .vib/fluxcd-image-automation-controller/goss/fluxcd-image-automation-controller.yaml
  .vib/fluxcd-image-automation-controller/goss/goss.yaml
  .vib/fluxcd-image-automation-controller/goss/vars.yaml
  .vib/fluxcd-image-automation-controller/vib-publish.json
  .vib/fluxcd-image-automation-controller/vib-verify.json
Labels: verify, bitnami, fluxcd-image-automation-controller

#35287 [bitnami/fluxcd-image-reflector-controller] Add VIB tests
  .vib/fluxcd-image-reflector-controller/goss/fluxcd-image-reflector-controller.yaml
  .vib/fluxcd-image-reflector-controller/goss/goss.yaml
  .vib/fluxcd-image-reflector-controller/goss/vars.yaml
  .vib/fluxcd-image-reflector-controller/vib-publish.json
  .vib/fluxcd-image-reflector-controller/vib-verify.json
Labels: verify, bitnami, fluxcd-image-reflector-controller

#34401 [bitnami/nginx-ingress-controller] Add VIB tests
  .vib/nginx-ingress-controller/goss/goss.yaml
  .vib/nginx-ingress-controller/goss/nginx-ingress-controller.yaml
  .vib/nginx-ingress-controller/goss/vars.yaml
  .vib/nginx-ingress-controller/vib-publish.json
  .vib/nginx-ingress-controller/vib-verify.json
Labels: verify, bitnami

#34403 [bitnami/wavefront-prometheus-storage-adapter] Add VIB tests
  .vib/wavefront-prometheus-storage-adapter/goss/goss.yaml
  .vib/wavefront-prometheus-storage-adapter/goss/vars.yaml
  .vib/wavefront-prometheus-storage-adapter/goss/wavefront-prometheus-storage-adapter.yaml
  .vib/wavefront-prometheus-storage-adapter/vib-publish.json
  .vib/wavefront-prometheus-storage-adapter/vib-verify.json
Labels: verify, bitnami

#35104 [bitnami/pgpool] Add VIB tests
  .vib/pgpool/goss/goss.yaml
  .vib/pgpool/goss/pgpool.yaml
  .vib/pgpool/goss/vars.yaml
  .vib/pgpool/vib-publish.json
  .vib/pgpool/vib-verify.json
Labels: verify, bitnami

#34292 [bitnami/spark] Add VIB tests
  .vib/spark/goss/goss.yaml
  .vib/spark/goss/spark.yaml
  .vib/spark/goss/vars.yaml
  .vib/spark/vib-publish.json
  .vib/spark/vib-verify.json
Labels: verify, bitnami

#34542 [bitnami/kubeapps-pinniped-proxy] Add VIB tests
  .vib/kubeapps-pinniped-proxy/goss/goss.yaml
  .vib/kubeapps-pinniped-proxy/goss/vars.yaml
  .vib/kubeapps-pinniped-proxy/vib-publish.json
  .vib/kubeapps-pinniped-proxy/vib-verify.json
Labels: verify, bitnami, kubeapps-pinniped-proxy

#34939 [bitnami/flink] Add VIB tests
  .vib/flink/goss/flink.yaml
  .vib/flink/goss/goss.yaml
  .vib/flink/goss/vars.yaml
  .vib/flink/vib-publish.json
  .vib/flink/vib-verify.json
Labels: verify, bitnami

#34384 [bitnami/jupyter-base-notebook] Add VIB tests
  .vib/jupyter-base-notebook/goss/goss.yaml
  .vib/jupyter-base-notebook/goss/vars.yaml
  .vib/jupyter-base-notebook/vib-publish.json
  .vib/jupyter-base-notebook/vib-verify.json
Labels: verify, bitnami

#34268 [bitnami/argo-workflow-exec] Add argo-workflow exec VIB tests
  .vib/argo-workflow-exec/goss/argo-workflow-exec.yaml
  .vib/argo-workflow-exec/goss/goss.yaml
  .vib/argo-workflow-exec/goss/vars.yaml
  .vib/argo-workflow-exec/vib-publish.json
  .vib/argo-workflow-exec/vib-verify.json
Labels: verify, bitnami, argo-workflow-exec

#35335 [bitnami/wildfly] Add VIB tests
  .vib/wildfly/goss/goss.yaml
  .vib/wildfly/goss/vars.yaml
  .vib/wildfly/goss/wildfly.yaml
  .vib/wildfly/vib-publish.json
  .vib/wildfly/vib-verify.json
Labels: verify, bitnami, wildfly

#35675 [bitnami/multus-cni] Add VIB tests
  .vib/multus-cni/goss/goss.yaml
  .vib/multus-cni/goss/multus-cni.yaml
  .vib/multus-cni/goss/vars.yaml
  .vib/multus-cni/vib-publish.json
  .vib/multus-cni/vib-verify.json
Labels: verify, bitnami, multus-cni

#33251 [bitnami/moodle] Add VIB tests
  .vib/moodle/goss/goss.yaml
  .vib/moodle/goss/moodle.yaml
  .vib/moodle/goss/vars.yaml
  .vib/moodle/vib-publish.json
  .vib/moodle/vib-verify.json
Labels: verify, bitnami

#34404 [bitnami/kubeapps-apis] Add VIB tests
  .vib/kubeapps-apis/goss/goss.yaml
  .vib/kubeapps-apis/goss/kubeapps-apis.yaml
  .vib/kubeapps-apis/goss/vars.yaml
  .vib/kubeapps-apis/vib-publish.json
  .vib/kubeapps-apis/vib-verify.json
Labels: verify, bitnami

#29967 Fix fetching `REDIS_MASTER_HOST` via `REDIS_SENTINEL_HOST`
  bitnami/redis/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
Labels: verify, in-progress, redis

#35688 [bitnami/kaniko] chore: :construction_worker: Add VIB integration
  .vib/kaniko/vib-publish.json
  .vib/kaniko/vib-verify.json
Labels: verify, bitnami
