Repository bitnami/containers, pull requests merged in 2023-02, with the labels that each got.

#21886 [bitnami/airflow] Add Kerberos utilities package krb5-user to airflow Dockerfile
  bitnami/airflow/2/debian-11/Dockerfile
Labels: verify, airflow, in-progress

#21884 [bitnami/airflow-scheduler] Add Kerberos utilities package krb5-user to airflow-scheduler Dockerfile
  bitnami/airflow-scheduler/2/debian-11/Dockerfile
Labels: verify, in-progress, airflow-scheduler

#21885 [bitnami/airflow-worker] Add Kerberos utilities package krb5-user to airflow-worker Dockerfile
  bitnami/airflow-worker/2/debian-11/Dockerfile
Labels: verify, in-progress, airflow-worker

#22112 [bitnami/openldap] Fix timing issue where openldap is not yet ready
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#18547 [bitnami/mariadb] Change default charset to utf8mb4
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.3/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.4/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.5/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.6/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.8/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/README.md
Labels: verify, in-progress, mariadb

#23147 [bitnami/supabase-postgres] :construction_worker: Add vib integration
  .vib/supabase-postgres/vib-publish.json
  .vib/supabase-postgres/vib-verify.json
Labels: verify, bitnami

#22568 ensure that DOKU_INC gets set correctly on every startup
  bitnami/dokuwiki/20220731/debian-11/rootfs/opt/bitnami/scripts/libdokuwiki.sh
Labels: verify, in-progress, dokuwiki

#23151 [bitnami/containers] Fix issues in assets without additional packages
  .github/workflows/cd-prepare.yml
Labels: verify, bitnami

#23164 [bitnami/containers] Fix cd-workflow for scratch containers
  .github/workflows/cd-prepare.yml
Labels: verify, bitnami

#23185 [bitnami/containers] Use distro and arch from components
  .github/workflows/cd-prepare.yml
Labels: verify, bitnami

#23247 [bitnami/jwt-cli] :construction_worker: Add vib integration
  .vib/jwt-cli/vib-publish.json
  .vib/jwt-cli/vib-verify.json
Labels: verify, bitnami

#23438 [bitnami/clickhouse] Deprecate branch 22
  bitnami/clickhouse/22/debian-11/Dockerfile
  bitnami/clickhouse/22/debian-11/docker-compose.yml
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/clickhouse/22/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/clickhouse/22/debian-11/rootfs/opt/bitnami/scripts/clickhouse-env.sh
  bitnami/clickhouse/22/debian-11/rootfs/opt/bitnami/scripts/clickhouse/entrypoint.sh
  bitnami/clickhouse/22/debian-11/rootfs/opt/bitnami/scripts/clickhouse/postunpack.sh
  bitnami/clickhouse/22/debian-11/rootfs/opt/bitnami/scripts/clickhouse/run.sh
  bitnami/clickhouse/22/debian-11/rootfs/opt/bitnami/scripts/clickhouse/setup.sh
  bitnami/clickhouse/22/debian-11/rootfs/opt/bitnami/scripts/libclickhouse.sh
  bitnami/clickhouse/22/debian-11/tags-info.yaml
Labels: verify, bitnami, clickhouse

#19761 [bitnami/cassandra] add env for setting auto_snapshot_ttl
  bitnami/cassandra/4.1/debian-11/rootfs/opt/bitnami/scripts/cassandra-env.sh
  bitnami/cassandra/4.1/debian-11/rootfs/opt/bitnami/scripts/libcassandra.sh
Labels: verify, in-progress, cassandra

#23253 [bitnami/mariadb] Add VIB tests
  .vib/common/goss/scripts/check-linked-libraries.sh
  .vib/common/goss/scripts/check-sed-in-place.sh
  .vib/common/goss/templates/check-app-version.yaml
  .vib/common/goss/templates/check-broken-symlinks.yaml
  .vib/common/goss/templates/check-ca-certs.yaml
  .vib/common/goss/templates/check-components-binaries.yaml
  .vib/common/goss/templates/check-components-directories.yaml
  .vib/common/goss/templates/check-components-files.yaml
  .vib/common/goss/templates/check-directories-permissions.yaml
  .vib/common/goss/templates/check-linked-libraries.yaml
  .vib/common/goss/templates/check-sed-in-place.yaml
  .vib/mariadb/10.3/vib-publish.json
  .vib/mariadb/10.4/vib-publish.json
  .vib/mariadb/goss/goss.yaml
  .vib/mariadb/goss/templates/mariadb.yaml
  .vib/mariadb/goss/vars.yaml
  .vib/mariadb/vib-publish.json
  .vib/mariadb/vib-verify.json
Labels: verify, mariadb, bitnami

#23461 [bitnami/discourse] Deprecate Discourse 2.x
  bitnami/discourse/2/debian-11/Dockerfile
  bitnami/discourse/2/debian-11/docker-compose.yml
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/discourse/2/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/discourse/2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse-env.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse-sidekiq/run.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse-sidekiq/setup.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse/entrypoint.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse/postunpack.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse/run.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse/setup.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/discourse/updatehost.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/libdiscourse.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/libdiscoursesidekiq.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/libpostgresqlclient.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/postgresql-client-env.sh
  bitnami/discourse/2/debian-11/rootfs/opt/bitnami/scripts/postgresql-client/setup.sh
  bitnami/discourse/2/debian-11/rootfs/post-init.d/ruby.sh
  bitnami/discourse/2/debian-11/rootfs/post-init.d/shell.sh
  bitnami/discourse/2/debian-11/rootfs/post-init.d/sql-postgresql.sh
  bitnami/discourse/2/debian-11/rootfs/post-init.sh
  bitnami/discourse/2/debian-11/tags-info.yaml
Labels: verify, bitnami, discourse

#22519 [bitnami/wordpress-nginx] Reverting change that broke behavior
  bitnami/wordpress-nginx/6/debian-11/rootfs/opt/bitnami/scripts/nginx/setup.sh
Labels: verify, in-progress, wordpress-nginx

#23527 run dokuwiki_configure_DOKU_INC on every startup
  bitnami/dokuwiki/20220731/debian-11/rootfs/opt/bitnami/scripts/libdokuwiki.sh
Labels: verify, in-progress, dokuwiki

#23931 [bitnami/kafka][bitnami/tomcat] Remove deprecated branches
  bitnami/kafka/3.1/debian-11/Dockerfile
  bitnami/kafka/3.1/debian-11/docker-compose.yml
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/kafka/3.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/kafka/entrypoint.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/kafka/postunpack.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/kafka/run.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/kafka/setup.sh
  bitnami/kafka/3.1/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.1/debian-11/tags-info.yaml
  bitnami/tomcat/10.0/debian-11/Dockerfile
  bitnami/tomcat/10.0/debian-11/docker-compose.yml
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/tomcat/10.0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/tomcat/10.0/debian-11/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/tomcat/10.0/debian-11/tags-info.yaml
Labels: verify, kafka, bitnami, tomcat

#23564 fix ldap connection issues
  bitnami/matomo/4/debian-11/Dockerfile
Labels: verify, in-progress, matomo

#23835 [bitnami/wordpress] Add VIB tests
  .vib/wordpress/goss/goss.yaml
  .vib/wordpress/goss/vars.yaml
  .vib/wordpress/goss/wordpress.yaml
  .vib/wordpress/vib-publish.json
  .vib/wordpress/vib-verify.json
Labels: verify, wordpress, bitnami

#24127 [bitnami/*] Refactor Goss' common tests
  .vib/apache/goss/apache.yaml
  .vib/apache/goss/goss.yaml
  .vib/apache/goss/vars.yaml
  .vib/common/goss/templates/check-binaries.yaml
  .vib/common/goss/templates/check-components-directories.yaml
  .vib/common/goss/templates/check-components-files.yaml
  .vib/common/goss/templates/check-directories-permissions.yaml
  .vib/common/goss/templates/check-directories.yaml
  .vib/common/goss/templates/check-files.yaml
  .vib/mariadb/goss/goss.yaml
  .vib/mariadb/goss/mariadb.yaml
  .vib/mariadb/goss/vars.yaml
  .vib/wordpress/goss/goss.yaml
  .vib/wordpress/goss/vars.yaml
  .vib/wordpress/goss/wordpress.yaml
Labels: verify, bitnami

#23939 [bitnami/aspnet-core] Add VIB tests
  .vib/aspnet-core/goss/aspnet-core.yaml
  .vib/aspnet-core/goss/goss.yaml
  .vib/aspnet-core/goss/vars.yaml
  .vib/aspnet-core/vib-publish.json
  .vib/aspnet-core/vib-verify.json
Labels: verify, bitnami, aspnet-core

#24141 [bitnami/dotnet] Add VIB tests
  .vib/dotnet/goss/dotnet.yaml
  .vib/dotnet/goss/goss.yaml
  .vib/dotnet/goss/vars.yaml
  .vib/dotnet/vib-publish.json
  .vib/dotnet/vib-verify.json
Labels: verify, bitnami, dotnet

#23347 Change snapshot script to honor ETCD_SNAPSHOTS_DIR variable
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd-env.sh
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/etcd/snapshot.sh
  bitnami/etcd/3.4/debian-11/rootfs/opt/bitnami/scripts/etcd-env.sh
  bitnami/etcd/3.4/debian-11/rootfs/opt/bitnami/scripts/etcd/snapshot.sh
  bitnami/etcd/3.5/debian-11/rootfs/opt/bitnami/scripts/etcd-env.sh
  bitnami/etcd/3.5/debian-11/rootfs/opt/bitnami/scripts/etcd/snapshot.sh
Labels: verify, in-progress, etcd

#24496 [bitnami/dotnet] Fix vib-publish pipeline
  .vib/dotnet/vib-publish.json
  .vib/dotnet/vib-verify.json
Labels: verify, bitnami

#24824 [bitnami/gradle] Deprecate Gradle 7.x.x from containers repo
  bitnami/gradle/7/debian-11/Dockerfile
  bitnami/gradle/7/debian-11/docker-compose.yml
  bitnami/gradle/7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gradle/7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gradle/7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/gradle/7/debian-11/tags-info.yaml
Labels: verify, gradle

#24282 [bitnami/express] Add VIB tests
  .vib/express/goss/goss.yaml
  .vib/express/goss/vars.yaml
  .vib/express/vib-publish.json
  .vib/express/vib-verify.json
Labels: verify, bitnami, express

#24143 [bitnami/dotnet-sdk] Add VIB tests
  .vib/dotnet-sdk/goss/dotnet-sdk.yaml
  .vib/dotnet-sdk/goss/goss.yaml
  .vib/dotnet-sdk/goss/vars.yaml
  .vib/dotnet-sdk/vib-publish.json
  .vib/dotnet-sdk/vib-verify.json
Labels: verify, bitnami, dotnet-sdk

#24873 [bitnami/gradle] Add VIB tests
  .vib/gradle/goss/goss.yaml
  .vib/gradle/goss/gradle.yaml
  .vib/gradle/goss/vars.yaml
  .vib/gradle/vib-publish.json
  .vib/gradle/vib-verify.json
Labels: verify, bitnami, gradle

#24157 [bitnami/golang] Add VIB tests
  .vib/golang/goss/golang.yaml
  .vib/golang/goss/goss.yaml
  .vib/golang/goss/vars.yaml
  .vib/golang/vib-publish.json
  .vib/golang/vib-verify.json
Labels: verify, bitnami, golang

#25651 [bitnami/mariadb bitnami/mariadb-galera] Deprecate MariaDB & MariaDB Galera 10.7
  bitnami/mariadb-galera/10.7/debian-11/Dockerfile
  bitnami/mariadb-galera/10.7/debian-11/docker-compose.yml
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb-galera/10.7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/libldapclient.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/entrypoint.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/healthcheck.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/postunpack.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/run.sh
  bitnami/mariadb-galera/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/setup.sh
  bitnami/mariadb-galera/10.7/debian-11/tags-info.yaml
  bitnami/mariadb/10.7/debian-11/Dockerfile
  bitnami/mariadb/10.7/debian-11/docker-compose.yml
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb/10.7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/libmariadb.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb/entrypoint.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb/healthcheck.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb/postunpack.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb/run.sh
  bitnami/mariadb/10.7/debian-11/rootfs/opt/bitnami/scripts/mariadb/setup.sh
  bitnami/mariadb/10.7/debian-11/tags-info.yaml
Labels: verify, bitnami

#25395 [bitnami/redmine] adds ca_file and openssl_verify_mode for smtp config
  bitnami/redmine/5/debian-11/rootfs/opt/bitnami/scripts/libredmine.sh
  bitnami/redmine/5/debian-11/rootfs/opt/bitnami/scripts/redmine-env.sh
  bitnami/redmine/README.md
Labels: verify, in-progress, redmine
