Repository bitnami/containers, pull requests merged in 2023-04, with the labels that each got.

#28667 [bitnami/java] postunpack.sh should be copying the contents of JAVA_EXTRA_SECURITY_DIR, not the directory itself
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/cassandra/4.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/elasticsearch/7/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/elasticsearch/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/flink/1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/java/1.8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/java/11/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/java/17/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/jenkins-agent/0/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/jenkins/2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/kafka/3.4/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/7.0/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/7.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/7.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/7.3/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/logstash/7/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/logstash/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/neo4j/4/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/neo4j/5/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/7.0/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/7.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/7.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/7.3/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/solr/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/solr/9/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/sonarqube/9/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spark/3.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spark/3.3/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spring-cloud-dataflow-composed-task-runner/2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spring-cloud-dataflow/2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spring-cloud-skipper/2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tensorflow-serving/2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/10.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/8.5/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/9.0/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wavefront-proxy/11/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wavefront-proxy/12/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/27/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
Labels: verify, in-progress, java

#29016 [bitnami/rails] ARM not supported
  .vib/rails/vib-publish.json
Labels: verify, bitnami

#29019 [bitnami/containers] Use linux/amd64 as default architecture
  .github/workflows/cd-prepare.yml
Labels: verify, bitnami

#28162 [bitnami/mongodb-sharded] Add VIB tests
  .vib/mongodb-sharded/goss/goss.yaml
  .vib/mongodb-sharded/goss/mongodb-sharded.yaml
  .vib/mongodb-sharded/goss/vars.yaml
  .vib/mongodb-sharded/vib-publish.json
  .vib/mongodb-sharded/vib-verify.json
Labels: verify, bitnami, mongodb-sharded

#29078 [bitnami/containers] Use tag v0 for vmware-image-build-acion
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#28652 [bitnami/postgresql-repmgr] Add VIB tests
  .vib/postgresql-repmgr/goss/goss.yaml
  .vib/postgresql-repmgr/goss/postgresql-repmgr.yaml
  .vib/postgresql-repmgr/goss/vars.yaml
  .vib/postgresql-repmgr/vib-publish.json
  .vib/postgresql-repmgr/vib-verify.json
Labels: verify, bitnami, postgresql-repmgr

#28656 [bitnami/redmine] Add VIB tests
  .vib/redmine/goss/goss.yaml
  .vib/redmine/goss/redmine.yaml
  .vib/redmine/goss/vars.yaml
  .vib/redmine/vib-publish.json
  .vib/redmine/vib-verify.json
Labels: verify, bitnami, redmine

#29022 [bitnami/solr] Add VIB tests
  .vib/solr/goss/goss.yaml
  .vib/solr/goss/solr.yaml
  .vib/solr/goss/vars.yaml
  .vib/solr/vib-publish.json
  .vib/solr/vib-verify.json
Labels: verify, bitnami, solr

#28196 [bitnami/php-fpm] Add VIB tests
  .vib/php-fpm/goss/goss.yaml
  .vib/php-fpm/goss/php-fpm.yaml
  .vib/php-fpm/goss/vars.yaml
  .vib/php-fpm/vib-publish.json
  .vib/php-fpm/vib-verify.json
Labels: verify, bitnami, php-fpm

#28679 [bitnami/sonarqube] Add VIB tests
  .vib/sonarqube/goss/goss.yaml
  .vib/sonarqube/goss/sonarqube.yaml
  .vib/sonarqube/goss/vars.yaml
  .vib/sonarqube/vib-publish.json
  .vib/sonarqube/vib-verify.json
Labels: verify, bitnami, sonarqube

#28689 [bitnami/solr] Check if basic auth is already enabled before trying to create the user
  bitnami/solr/9/debian-11/rootfs/opt/bitnami/scripts/libsolr.sh
Labels: verify, in-progress, solr

#29353 [bitnami/keycloak] Deprecate Keycloak 20.x.x
  bitnami/keycloak/20/debian-11/Dockerfile
  bitnami/keycloak/20/debian-11/docker-compose.yml
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/keycloak/20/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/keycloak/20/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/keycloak/entrypoint.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/keycloak/postunpack.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/keycloak/setup.sh
  bitnami/keycloak/20/debian-11/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/20/debian-11/tags-info.yaml
Labels: verify, bitnami

#29689 [bitnami/pytorch] Deprecate branch 1.x.x
  bitnami/pytorch/1/debian-11/Dockerfile
  bitnami/pytorch/1/debian-11/docker-compose.yml
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/pytorch/1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/pytorch/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/pytorch/1/debian-11/rootfs/opt/bitnami/scripts/pytorch/entrypoint.sh
  bitnami/pytorch/1/debian-11/rootfs/opt/bitnami/scripts/pytorch/postunpack.sh
  bitnami/pytorch/1/debian-11/tags-info.yaml
Labels: verify, bitnami

#29331 [bitnami/jsonnet] Add VIB tests
  .vib/jsonnet/goss/goss.yaml
  .vib/jsonnet/goss/jsonnet.yaml
  .vib/jsonnet/goss/testfiles/test_template.jsonnet
  .vib/jsonnet/goss/vars.yaml
  .vib/jsonnet/vib-publish.json
  .vib/jsonnet/vib-verify.json
Labels: verify, bitnami, jsonnet

#29974 [bitnami/containers] Upgrade comments action
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#29058 [bitnami/tomcat] Add VIB tests
  .vib/tomcat/goss/goss.yaml
  .vib/tomcat/goss/tomcat.yaml
  .vib/tomcat/goss/vars.yaml
  .vib/tomcat/vib-publish.json
  .vib/tomcat/vib-verify.json
Labels: verify, bitnami, tomcat

#29337 [bitnami/kapacitor] Add VIB tests
  .vib/kapacitor/goss/goss.yaml
  .vib/kapacitor/goss/vars.yaml
  .vib/kapacitor/vib-publish.json
  .vib/kapacitor/vib-verify.json
Labels: verify, bitnami

#29178 [bitnami/fluent-bit] Add VIB tests
  .vib/fluent-bit/goss/fluent-bit.yaml
  .vib/fluent-bit/goss/goss.yaml
  .vib/fluent-bit/goss/vars.yaml
  .vib/fluent-bit/vib-publish.json
  .vib/fluent-bit/vib-verify.json
Labels: verify, bitnami

#29983 [bitnami/percona-mysql] Add VIB tests
  .vib/percona-mysql/goss/goss.yaml
  .vib/percona-mysql/goss/percona-mysql.yaml
  .vib/percona-mysql/goss/vars.yaml
  .vib/percona-mysql/vib-publish.json
  .vib/percona-mysql/vib-verify.json
Labels: verify, bitnami, percona-mysql

#29987 [bitnami/percona-xtrabackup] Add VIB tests
  .vib/common/goss/templates/check-app-version.yaml
  .vib/percona-xtrabackup/goss/goss.yaml
  .vib/percona-xtrabackup/goss/vars.yaml
  .vib/percona-xtrabackup/vib-publish.json
  .vib/percona-xtrabackup/vib-verify.json
Labels: verify, bitnami, percona-xtrabackup

#29700 [bitnami/openresty] Add VIB tests
  .vib/openresty/goss/goss.yaml
  .vib/openresty/goss/openresty.yaml
  .vib/openresty/goss/vars.yaml
  .vib/openresty/vib-publish.json
  .vib/openresty/vib-verify.json
Labels: verify, bitnami, openresty

#30024 [bitnami/pgbouncer] Add VIB tests
  .vib/pgbouncer/goss/goss.yaml
  .vib/pgbouncer/goss/vars.yaml
  .vib/pgbouncer/vib-publish.json
  .vib/pgbouncer/vib-verify.json
Labels: verify, bitnami, pgbouncer

#29328 [bitnami/gitlab-runner-helper] Add VIB tests
  .vib/gitlab-runner-helper/goss/goss.yaml
  .vib/gitlab-runner-helper/goss/vars.yaml
  .vib/gitlab-runner-helper/vib-publish.json
  .vib/gitlab-runner-helper/vib-verify.json
Labels: verify, bitnami, gitlab-runner-helper

#29326 [bitnami/gitlab-runner] Add VIB tests
  .vib/gitlab-runner/goss/goss.yaml
  .vib/gitlab-runner/goss/vars.yaml
  .vib/gitlab-runner/vib-publish.json
  .vib/gitlab-runner/vib-verify.json
Labels: verify, bitnami, gitlab-runner

#29980 [bitnami/pushgateway] Add VIB tests
  .vib/pushgateway/goss/goss.yaml
  .vib/pushgateway/goss/vars.yaml
  .vib/pushgateway/vib-publish.json
  .vib/pushgateway/vib-verify.json
Labels: verify, bitnami, pushgateway

#30035 [bitnami/blackbox-exporter] Add VIB tests
  .vib/blackbox-exporter/goss/blackbox-exporter.yaml
  .vib/blackbox-exporter/goss/goss.yaml
  .vib/blackbox-exporter/goss/vars.yaml
  .vib/blackbox-exporter/vib-publish.json
  .vib/blackbox-exporter/vib-verify.json
Labels: verify, bitnami

#30023 [bitnami/trivy] Add VIB tests
  .vib/trivy/goss/goss.yaml
  .vib/trivy/goss/trivy.yaml
  .vib/trivy/goss/vars.yaml
  .vib/trivy/vib-publish.json
  .vib/trivy/vib-verify.json
Labels: verify, bitnami, trivy

#30034 [bitnami/cassandra-exporter] Add VIB tests
  .vib/cassandra-exporter/goss/cassandra-exporter.yaml
  .vib/cassandra-exporter/goss/goss.yaml
  .vib/cassandra-exporter/goss/vars.yaml
  .vib/cassandra-exporter/vib-publish.json
  .vib/cassandra-exporter/vib-verify.json
Labels: verify, bitnami

#30032 [bitnami/apache-exporter] Add VIB tests
  .vib/apache-exporter/goss/apache-exporter.yaml
  .vib/apache-exporter/goss/goss.yaml
  .vib/apache-exporter/goss/vars.yaml
  .vib/apache-exporter/vib-publish.json
  .vib/apache-exporter/vib-verify.json
Labels: verify, bitnami

#29381 [bitnami/redis-cluster] fix: Fixed redis-cluster support RDB persistence mode parameters
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
  bitnami/redis-cluster/README.md
Labels: verify, in-progress, redis-cluster

#30100 [bitnami/*] Update app-version tests
  .vib/cosign/goss/cosign.yaml
  .vib/cosign/goss/goss.yaml
  .vib/cosign/goss/vars.yaml
  .vib/nginx/goss/goss.yaml
  .vib/nginx/goss/nginx.yaml
  .vib/openldap/goss/goss.yaml
  .vib/openldap/goss/openldap.yaml
Labels: verify, bitnami

#30335 [bitnami/oras] Deprecate branch 0.x.x
  bitnami/oras/0/scratch/Dockerfile
  bitnami/oras/0/scratch/docker-compose.yml
  bitnami/oras/0/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/oras/0/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/oras/0/scratch/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/oras/0/scratch/tags-info.yaml
Labels: verify, bitnami

#30334 [bitnami/vault] chore: :construction_worker: Add VIB integration
  .vib/vault-csi-provider/vib-publish.json
  .vib/vault-csi-provider/vib-verify.json
  .vib/vault-k8s/vib-publish.json
  .vib/vault-k8s/vib-verify.json
  .vib/vault/vib-publish.json
  .vib/vault/vib-verify.json
Labels: verify, bitnami

#30348 [bitnami/vault] Report ARM containers to OSM
  .vib/vault-csi-provider/vib-publish.json
  .vib/vault-k8s/vib-publish.json
  .vib/vault/vib-publish.json
Labels: verify, bitnami

#29330 [bitnami/jenkins-agent] Add VIB tests
  .vib/jenkins-agent/goss/goss.yaml
  .vib/jenkins-agent/goss/jenkins-agent.yaml
  .vib/jenkins-agent/goss/vars.yaml
  .vib/jenkins-agent/vib-publish.json
  .vib/jenkins-agent/vib-verify.json
Labels: verify, bitnami, jenkins-agent

#29193 [bitnami/zookeeper] Add VIB tests
  .vib/zookeeper/goss/goss.yaml
  .vib/zookeeper/goss/vars.yaml
  .vib/zookeeper/goss/zookeeper.yaml
  .vib/zookeeper/vib-publish.json
  .vib/zookeeper/vib-verify.json
Labels: verify, bitnami

#30690 [bitnami/jmx-exporter] Add VIB tests
  .vib/jmx-exporter/goss/goss.yaml
  .vib/jmx-exporter/goss/jmx-exporter.yaml
  .vib/jmx-exporter/goss/vars.yaml
  .vib/jmx-exporter/vib-publish.json
  .vib/jmx-exporter/vib-verify.json
Labels: verify, bitnami, jmx-exporter

#30093 [bitnami/acmesolver] Add VIB tests
  .vib/acmesolver/goss/acmesolver.yaml
  .vib/acmesolver/goss/goss.yaml
  .vib/acmesolver/goss/vars.yaml
  .vib/acmesolver/vib-publish.json
  .vib/acmesolver/vib-verify.json
Labels: verify, bitnami

#30696 [bitnami/kafka-exporter] Add VIB tests
  .vib/kafka-exporter/goss/goss.yaml
  .vib/kafka-exporter/goss/vars.yaml
  .vib/kafka-exporter/vib-publish.json
  .vib/kafka-exporter/vib-verify.json
Labels: verify, bitnami, kafka-exporter

#30005 [bitnami/suitecrm] SQL syntax error in mysql init script
  bitnami/suitecrm/7/debian-11/rootfs/opt/bitnami/scripts/libmysqlclient.sh
  bitnami/suitecrm/8/debian-11/rootfs/opt/bitnami/scripts/libmysqlclient.sh
Labels: verify, in-progress, suitecrm

#30728 [bitnami/memcached-exporter] Add VIB tests
  .vib/memcached-exporter/goss/goss.yaml
  .vib/memcached-exporter/goss/vars.yaml
  .vib/memcached-exporter/vib-publish.json
  .vib/memcached-exporter/vib-verify.json
Labels: verify, bitnami, memcached-exporter

#30738 [bitnami/mongodb-exporter] Add VIB tests
  .vib/mongodb-exporter/goss/goss.yaml
  .vib/mongodb-exporter/goss/vars.yaml
  .vib/mongodb-exporter/vib-publish.json
  .vib/mongodb-exporter/vib-verify.json
Labels: verify, bitnami, mongodb-exporter

#30749 [bitnami/nats-exporter] Add VIB tests
  .vib/nats-exporter/goss/goss.yaml
  .vib/nats-exporter/goss/vars.yaml
  .vib/nats-exporter/vib-publish.json
  .vib/nats-exporter/vib-verify.json
Labels: verify, bitnami, nats-exporter

#30751 [bitnami/nginx-exporter] Add VIB tests
  .vib/nginx-exporter/goss/goss.yaml
  .vib/nginx-exporter/goss/vars.yaml
  .vib/nginx-exporter/vib-publish.json
  .vib/nginx-exporter/vib-verify.json
Labels: verify, bitnami, nginx-exporter

#30752 [bitnami/redis-exporter] Add VIB tests
  .vib/redis-exporter/goss/goss.yaml
  .vib/redis-exporter/goss/vars.yaml
  .vib/redis-exporter/vib-publish.json
  .vib/redis-exporter/vib-verify.json
Labels: verify, bitnami, redis-exporter

#30743 [bitnami/mysqld-exporter] Add VIB tests
  .vib/mysqld-exporter/goss/goss.yaml
  .vib/mysqld-exporter/goss/vars.yaml
  .vib/mysqld-exporter/vib-publish.json
  .vib/mysqld-exporter/vib-verify.json
Labels: verify, bitnami, mysqld-exporter

#30807 [bitnami/sonarqube][bitnami/envoy] Deprecate unsupported branches
  bitnami/envoy/1.22/debian-11/Dockerfile
  bitnami/envoy/1.22/debian-11/docker-compose.yml
  bitnami/envoy/1.22/debian-11/examples/frontend.yaml
  bitnami/envoy/1.22/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.22/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.22/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.22/debian-11/tags-info.yaml
  bitnami/sonarqube/8/debian-11/Dockerfile
  bitnami/sonarqube/8/debian-11/docker-compose.yml
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/sonarqube/8/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/libpostgresqlclient.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/libsonarqube.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/postgresql-client-env.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/postgresql-client/setup.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/sonarqube-env.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/sonarqube/entrypoint.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/sonarqube/postunpack.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/sonarqube/run.sh
  bitnami/sonarqube/8/debian-11/rootfs/opt/bitnami/scripts/sonarqube/setup.sh
  bitnami/sonarqube/8/debian-11/rootfs/post-init.d/shell.sh
  bitnami/sonarqube/8/debian-11/rootfs/post-init.d/sql-postgresql.sh
  bitnami/sonarqube/8/debian-11/rootfs/post-init.sh
  bitnami/sonarqube/8/debian-11/tags-info.yaml
Labels: verify, bitnami

#30026 [bitnami/airflow-exporter] Add VIB tests
  .vib/airflow-exporter/goss/airflow-exporter.yaml
  .vib/airflow-exporter/goss/goss.yaml
  .vib/airflow-exporter/goss/vars.yaml
  .vib/airflow-exporter/vib-publish.json
  .vib/airflow-exporter/vib-verify.json
Labels: verify, bitnami

#29984 [bitnami/rclone] Add VIB tests
  .vib/rclone/goss/goss.yaml
  .vib/rclone/goss/rclone.yaml
  .vib/rclone/goss/vars.yaml
  .vib/rclone/vib-publish.json
  .vib/rclone/vib-verify.json
Labels: verify, bitnami, rclone

#30851 [bitnami/laravel] Fix typo in vib-publish.json file
  .vib/laravel/vib-publish.json
Labels: verify, bitnami

#30344 [bitnami/elasticsearch-exporter] Add VIB tests
  .vib/elasticsearch-exporter/goss/elasticsearch-exporter.yaml
  .vib/elasticsearch-exporter/goss/goss.yaml
  .vib/elasticsearch-exporter/goss/vars.yaml
  .vib/elasticsearch-exporter/vib-publish.json
  .vib/elasticsearch-exporter/vib-verify.json
Labels: verify, bitnami

#30058 [bitnami/etcd] Only recalculate the initial cluster config if not provided
  bitnami/etcd/3.3/debian-11/rootfs/opt/bitnami/scripts/libetcd.sh
  bitnami/etcd/3.4/debian-11/rootfs/opt/bitnami/scripts/libetcd.sh
  bitnami/etcd/3.5/debian-11/rootfs/opt/bitnami/scripts/libetcd.sh
Labels: verify, in-progress, etcd

#30336 [bitnami/pgbouncer] Specify userlist.txt file content by env var
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#30097 [bitnami/aws-cli] Add VIB tests
  .vib/aws-cli/goss/aws-cli.yaml
  .vib/aws-cli/goss/goss.yaml
  .vib/aws-cli/goss/vars.yaml
  .vib/aws-cli/vib-publish.json
  .vib/aws-cli/vib-verify.json
Labels: verify, bitnami

#30099 [bitnami/consul] Add VIB tests
  .vib/consul/goss/goss.yaml
  .vib/consul/goss/vars.yaml
  .vib/consul/vib-publish.json
  .vib/consul/vib-verify.json
Labels: verify, bitnami

#30098 [bitnami/azure-cli] Add VIB tests
  .vib/azure-cli/goss/azure-cli.yaml
  .vib/azure-cli/goss/goss.yaml
  .vib/azure-cli/goss/vars.yaml
  .vib/azure-cli/vib-publish.json
  .vib/azure-cli/vib-verify.json
Labels: verify, bitnami

#30718 [bitnami/keycloak-config-cli] Add VIB tests
  .vib/keycloak-config-cli/goss/goss.yaml
  .vib/keycloak-config-cli/goss/keycloak-config-cli.yaml
  .vib/keycloak-config-cli/goss/vars.yaml
  .vib/keycloak-config-cli/vib-publish.json
  .vib/keycloak-config-cli/vib-verify.json
Labels: verify, bitnami, keycloak-config-cli

#30090 [bitnami/reportserver] Add VIB tests
  .vib/reportserver/goss/goss.yaml
  .vib/reportserver/goss/reportserver.yaml
  .vib/reportserver/goss/vars.yaml
  .vib/reportserver/vib-publish.json
  .vib/reportserver/vib-verify.json
Labels: verify, bitnami, reportserver

#30675 [bitnami/grafana-image-renderer] Add VIB tests
  .vib/grafana-image-renderer/goss/goss.yaml
  .vib/grafana-image-renderer/goss/grafana-image-renderer.yaml
  .vib/grafana-image-renderer/goss/vars.yaml
  .vib/grafana-image-renderer/vib-publish.json
  .vib/grafana-image-renderer/vib-verify.json
Labels: verify, bitnami, grafana-image-renderer

#30395 [bitnami/mastodon] Fix mastodon s3
  bitnami/mastodon/4/debian-11/rootfs/opt/bitnami/scripts/libmastodon.sh
  bitnami/mastodon/4/debian-11/rootfs/opt/bitnami/scripts/mastodon-env.sh
Labels: verify, in-progress, mastodon

#30801 fix(pgbouncer): ini-set ignore-inline-comments
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
Labels: verify, in-progress, pgbouncer

#30345 [bitnami/google-cloud-sdk] Add VIB tests
  .vib/google-cloud-sdk/goss/google-cloud-sdk.yaml
  .vib/google-cloud-sdk/goss/goss.yaml
  .vib/google-cloud-sdk/goss/vars.yaml
  .vib/google-cloud-sdk/vib-publish.json
  .vib/google-cloud-sdk/vib-verify.json
Labels: verify, bitnami

#30854 [bitnami/configurable-http-proxy] Add VIB tests
  .vib/configurable-http-proxy/goss/configurable-http-proxy.yaml
  .vib/configurable-http-proxy/goss/goss.yaml
  .vib/configurable-http-proxy/goss/vars.yaml
  .vib/configurable-http-proxy/vib-publish.json
  .vib/configurable-http-proxy/vib-verify.json
Labels: verify, bitnami

#30855 [bitnami/consul-exporter] Add VIB tests
  .vib/consul-exporter/goss/consul-exporter.yaml
  .vib/consul-exporter/goss/goss.yaml
  .vib/consul-exporter/goss/vars.yaml
  .vib/consul-exporter/vib-publish.json
  .vib/consul-exporter/vib-verify.json
Labels: verify, bitnami

#30857 [bitnami/dex] Add VIB tests
  .vib/dex/goss/goss.yaml
  .vib/dex/goss/vars.yaml
  .vib/dex/vib-publish.json
  .vib/dex/vib-verify.json
Labels: verify, bitnami

#30808 [bitnami/minio] Fix the image startup problem
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/libminioclient.sh
Labels: verify, in-progress, minio

#29690 [bitnami/neo4j] Add VIB tests
  .vib/neo4j/goss/goss.yaml
  .vib/neo4j/goss/neo4j.yaml
  .vib/neo4j/goss/vars.yaml
  .vib/neo4j/vib-publish.json
  .vib/neo4j/vib-verify.json
Labels: verify, bitnami

#30868 [bitnami/bitnami-shell] Add VIB tests
  .vib/bitnami-shell/goss/bitnami-shell.yaml
  .vib/bitnami-shell/goss/goss.yaml
  .vib/bitnami-shell/goss/vars.yaml
  .vib/bitnami-shell/vib-publish.json
  .vib/bitnami-shell/vib-verify.json
Labels: verify, bitnami, bitnami-shell

#31116 Fix parsing of SONARQUBE_EXTRA_PROPERTIES and SONARQUBE_SMTP_* variables
  bitnami/sonarqube/10/debian-11/Dockerfile
  bitnami/sonarqube/10/debian-11/rootfs/opt/bitnami/scripts/libsonarqube.sh
  bitnami/sonarqube/9/debian-11/Dockerfile
  bitnami/sonarqube/9/debian-11/rootfs/opt/bitnami/scripts/libsonarqube.sh
Labels: verify, in-progress, sonarqube

#31581 [bitnami/pytorch] Remove arm support temporarily
  .vib/pytorch/vib-publish.json
Labels: verify, bitnami

#30019 [bitnami/symfony] Add VIB tests
  .vib/common/goss/templates/check-php-fpm.yaml
  .vib/symfony/goss/goss.yaml
  .vib/symfony/goss/symfony.yaml
  .vib/symfony/goss/vars.yaml
  .vib/symfony/vib-publish.json
  .vib/symfony/vib-verify.json
Labels: verify, bitnami

#30866 [bitnami/envoy] Add VIB tests
  .vib/envoy/goss/goss.yaml
  .vib/envoy/goss/vars.yaml
  .vib/envoy/vib-publish.json
  .vib/envoy/vib-verify.json
Labels: verify, bitnami
