Repository bitnami/containers, pull requests merged in 2023-10, with the labels that each got.

#50275 Update README.md: Fix header level
  bitnami/keycloak/README.md
Labels: verify, in-progress, keycloak

#50725 [bitnami/mastodon] Fix logic to detect admin user exists
  bitnami/mastodon/4/debian-11/rootfs/opt/bitnami/scripts/libmastodon.sh
Labels: verify, solved, bitnami, mastodon

#49281 [bitnami/openldap:2.6] Add support for accesslog and syncprov overlays
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#50739 [bitnami/java] Update version tu version 21
  .vib/java/goss/java.yaml
Labels: verify, bitnami

#50435 [bitnami/odoo] Add database filter
  bitnami/odoo/14/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/14/debian-11/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/15/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/15/debian-11/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/16/debian-11/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/16/debian-11/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/README.md
Labels: verify, in-progress, odoo

#50849 Add new verification action for containers
  .vib/acmesolver/vib-verify.json
  .vib/airflow-exporter/vib-verify.json
  .vib/airflow-scheduler/vib-verify.json
  .vib/airflow-worker/vib-verify.json
  .vib/airflow/vib-verify.json
  .vib/alertmanager/vib-verify.json
  .vib/apache-exporter/vib-verify.json
  .vib/apache/vib-verify.json
  .vib/apisix-dashboard/vib-verify.json
  .vib/apisix-ingress-controller/vib-verify.json
  .vib/apisix/vib-verify.json
  .vib/appsmith/vib-verify.json
  .vib/argo-cd/vib-verify.json
  .vib/argo-workflow-cli/vib-verify.json
  .vib/argo-workflow-controller/vib-verify.json
  .vib/argo-workflow-exec/vib-verify.json
  .vib/aspnet-core/vib-verify.json
  .vib/attu/vib-verify.json
  .vib/aws-cli/vib-verify.json
  .vib/azure-cli/vib-verify.json
  .vib/blackbox-exporter/vib-verify.json
  .vib/cainjector/vib-verify.json
  .vib/cassandra-exporter/vib-verify.json
  .vib/cassandra/vib-verify.json
  .vib/cert-manager-webhook/vib-verify.json
  .vib/cert-manager/vib-verify.json
  .vib/clickhouse/vib-verify.json
  .vib/cluster-autoscaler/vib-verify.json
  .vib/codeigniter/vib-verify.json
  .vib/concourse/vib-verify.json
  .vib/configmap-reload/vib-verify.json
  .vib/configurable-http-proxy/vib-verify.json
  .vib/consul-exporter/vib-verify.json
  .vib/consul/vib-verify.json
  .vib/contour/vib-verify.json
  .vib/cosign/vib-verify.json
  .vib/couchdb/vib-verify.json
Labels: verify, bitnami

#50873 Revert "Add new verification action for containers"
  .vib/acmesolver/vib-verify.json
  .vib/airflow-exporter/vib-verify.json
  .vib/airflow-scheduler/vib-verify.json
  .vib/airflow-worker/vib-verify.json
  .vib/airflow/vib-verify.json
  .vib/alertmanager/vib-verify.json
  .vib/apache-exporter/vib-verify.json
  .vib/apache/vib-verify.json
  .vib/apisix-dashboard/vib-verify.json
  .vib/apisix-ingress-controller/vib-verify.json
  .vib/apisix/vib-verify.json
  .vib/appsmith/vib-verify.json
  .vib/argo-cd/vib-verify.json
  .vib/argo-workflow-cli/vib-verify.json
  .vib/argo-workflow-controller/vib-verify.json
  .vib/argo-workflow-exec/vib-verify.json
  .vib/aspnet-core/vib-verify.json
  .vib/attu/vib-verify.json
  .vib/aws-cli/vib-verify.json
  .vib/azure-cli/vib-verify.json
  .vib/blackbox-exporter/vib-verify.json
  .vib/cainjector/vib-verify.json
  .vib/cassandra-exporter/vib-verify.json
  .vib/cassandra/vib-verify.json
  .vib/cert-manager-webhook/vib-verify.json
  .vib/cert-manager/vib-verify.json
  .vib/clickhouse/vib-verify.json
  .vib/cluster-autoscaler/vib-verify.json
  .vib/codeigniter/vib-verify.json
  .vib/concourse/vib-verify.json
  .vib/configmap-reload/vib-verify.json
  .vib/configurable-http-proxy/vib-verify.json
  .vib/consul-exporter/vib-verify.json
  .vib/consul/vib-verify.json
  .vib/contour/vib-verify.json
  .vib/cosign/vib-verify.json
  .vib/couchdb/vib-verify.json
Labels: verify, bitnami

#51044 [bitnami/fluxcd-*-controller] Deprecate different fluxcd components branches
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/Dockerfile
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/docker-compose.yml
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/fluxcd-image-automation-controller/0.31/debian-11/tags-info.yaml
  bitnami/fluxcd-kustomize-controller/0/debian-11/Dockerfile
  bitnami/fluxcd-kustomize-controller/0/debian-11/docker-compose.yml
  bitnami/fluxcd-kustomize-controller/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluxcd-kustomize-controller/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluxcd-kustomize-controller/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/fluxcd-kustomize-controller/0/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/fluxcd-kustomize-controller/0/debian-11/tags-info.yaml
  bitnami/fluxcd-notification-controller/0/debian-11/Dockerfile
  bitnami/fluxcd-notification-controller/0/debian-11/docker-compose.yml
  bitnami/fluxcd-notification-controller/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluxcd-notification-controller/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluxcd-notification-controller/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/fluxcd-notification-controller/0/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/fluxcd-notification-controller/0/debian-11/tags-info.yaml
  bitnami/fluxcd-source-controller/0/debian-11/Dockerfile
  bitnami/fluxcd-source-controller/0/debian-11/docker-compose.yml
  bitnami/fluxcd-source-controller/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluxcd-source-controller/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluxcd-source-controller/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/fluxcd-source-controller/0/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/fluxcd-source-controller/0/debian-11/tags-info.yaml
Labels: verify, bitnami

#51078 [bitnami/rails] Deprecate rails 6
  bitnami/rails/6/debian-11/Dockerfile
  bitnami/rails/6/debian-11/docker-compose.yml
  bitnami/rails/6/debian-11/prebuildfs/build/bitnami-user.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/rails/6/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/rails/6/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/rails/6/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/rails/6/debian-11/rootfs/opt/bitnami/scripts/librails.sh
  bitnami/rails/6/debian-11/rootfs/opt/bitnami/scripts/rails-env.sh
  bitnami/rails/6/debian-11/rootfs/opt/bitnami/scripts/rails/entrypoint.sh
  bitnami/rails/6/debian-11/rootfs/opt/bitnami/scripts/rails/postunpack.sh
  bitnami/rails/6/debian-11/rootfs/opt/bitnami/scripts/rails/setup.sh
  bitnami/rails/6/debian-11/rootfs/post-init.d/shell.sh
  bitnami/rails/6/debian-11/rootfs/post-init.sh
  bitnami/rails/6/debian-11/tags-info.yaml
Labels: verify, bitnami

#51282 [bitnami/*] Do not execute tests for automatic PRs
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#51499 [bitnami/symfony] Remove webapp-pack package test
  .vib/symfony/goss/symfony.yaml
Labels: verify, bitnami

#51505 [bitnami/symfony] Fix Goss test
  .vib/symfony/goss/vars.yaml
Labels: verify, bitnami

#51506 [bitnami/ksql] Update goss test for ksql
  .vib/ksql/goss/ksql.yaml
Labels: verify, bitnami

#51622 [bitnami/ksql] Fix goss test
  .vib/ksql/goss/ksql.yaml
Labels: verify, bitnami

#51503 [bitnami/natscli,pinniped-cli] chore: :construction_worker: Add VIB integration
  .vib/natscli/goss/goss.yaml
  .vib/natscli/goss/natscli.yaml
  .vib/natscli/goss/vars.yaml
  .vib/natscli/vib-verify.json
  .vib/pinniped-cli/goss/goss.yaml
  .vib/pinniped-cli/goss/pinniped-cli.yaml
  .vib/pinniped-cli/goss/vars.yaml
  .vib/pinniped-cli/vib-verify.json
Labels: verify, bitnami

#51504 [bitnami/*] Fix race condition in CI automated pipelines
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/license-headers.yml
Labels: verify, bitnami

#51641 [bitnami/opensearch-dashboards] test: :white_check_mark: Fix false positive in linked_libraries test
  .vib/opensearch-dashboards/goss/vars.yaml
Labels: verify, bitnami, opensearch-dashboards

#51862 fix: Fix typo of priviledged port
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#51887 [bitnami/notation] Add tests for notation
  .vib/notation/goss/goss.yaml
  .vib/notation/goss/notation.yaml
  .vib/notation/goss/vars.yaml
  .vib/notation/vib-verify.json
Labels: verify, bitnami

#51902 [bitnami/pgbouncer] Add max_prepared_statements to available environment variables
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#45158 [bitnami/kafka] Improve bitnami/kafka documentations
  bitnami/kafka/README.md
  bitnami/kafka/docker-compose-cluster.yml
Labels: verify, in-progress, kafka

#51960 [bitnami/pgbouncer] Support the max_prepared_statements variable in pgbouncer
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#52049 [bitnami/appsmith] Update test of rts
  .vib/appsmith/goss/appsmith.yaml
Labels: verify, bitnami

#52088 Deprecate MySQL & Percona MySQL 5.7 and Envoy 1.24
  bitnami/envoy/1.24/debian-11/Dockerfile
  bitnami/envoy/1.24/debian-11/docker-compose.yml
  bitnami/envoy/1.24/debian-11/examples/frontend.yaml
  bitnami/envoy/1.24/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.24/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.24/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.24/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.24/debian-11/tags-info.yaml
  bitnami/mysql/5.7/debian-11/Dockerfile
  bitnami/mysql/5.7/debian-11/docker-compose.yml
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mysql/5.7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mysql/5.7/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/entrypoint.sh
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/healthcheck.sh
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/postunpack.sh
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/run.sh
  bitnami/mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/setup.sh
  bitnami/mysql/5.7/debian-11/tags-info.yaml
  bitnami/percona-mysql/5.7/debian-11/Dockerfile
  bitnami/percona-mysql/5.7/debian-11/docker-compose.yml
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/percona-mysql/5.7/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/entrypoint.sh
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/healthcheck.sh
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/postunpack.sh
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/run.sh
  bitnami/percona-mysql/5.7/debian-11/rootfs/opt/bitnami/scripts/mysql/setup.sh
  bitnami/percona-mysql/5.7/debian-11/tags-info.yaml
Labels: verify, bitnami

#52131 Remove Build Maintenance column and its automation
  .github/workflows/.env
  .github/workflows/comments.yml
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#51889 [bitnami/grafana] feat: handle space separated GF_INSTALL_PLUGINS
  bitnami/grafana/10/debian-11/rootfs/opt/bitnami/scripts/libgrafana.sh
Labels: verify, in-progress, grafana

#51998 Revert "[bitnami/pgbouncer] Support the max_prepared_statements variable in pgbouncer"
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#52210 [bitnami/moodle] Fix moodle mount points in README
  bitnami/moodle/README.md
Labels: verify, bitnami, moodle

#52229 [bitnami/pgbouncer] Document how to connect PgBouncer with N PostgreSQL
  bitnami/pgbouncer/README.md
Labels: verify, bitnami, pgbouncer

#52232 [bitnami/mysql] Deprecate MySQL 8.1
  bitnami/mysql/8.1/debian-11/Dockerfile
  bitnami/mysql/8.1/debian-11/docker-compose.yml
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mysql/8.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mysql/8.1/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/mysql/entrypoint.sh
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/mysql/healthcheck.sh
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/mysql/postunpack.sh
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/mysql/run.sh
  bitnami/mysql/8.1/debian-11/rootfs/opt/bitnami/scripts/mysql/setup.sh
  bitnami/mysql/8.1/debian-11/tags-info.yaml
Labels: verify, bitnami
