Repository bitnami/containers, pull requests merged in 2023-06, with the labels that each got.

#35977 [bitnami/containers] Fix bug in assign-asset-label workflow
  .github/workflows/assign-asset-label.yml
Labels: verify, bitnami

#35736 [bitnami/cosign] fix: add writable /.docker folder
  bitnami/cosign/2/debian-11/Dockerfile
Labels: verify, in-progress, cosign

#36044 [bitnami/jupyterhub] Deprecate jupyterhub branch 3
  bitnami/jupyterhub/3/debian-11/Dockerfile
  bitnami/jupyterhub/3/debian-11/docker-compose.yml
  bitnami/jupyterhub/3/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyterhub/3/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyterhub/3/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jupyterhub/3/debian-11/tags-info.yaml
Labels: verify, bitnami

#36045 [bitnami/jupyter-base-notebook] Deprecate jupyter-base-notebook branch 3
  bitnami/jupyter-base-notebook/3/debian-11/Dockerfile
  bitnami/jupyter-base-notebook/3/debian-11/docker-compose.yml
  bitnami/jupyter-base-notebook/3/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyter-base-notebook/3/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyter-base-notebook/3/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jupyter-base-notebook/3/debian-11/tags-info.yaml
Labels: verify, bitnami

#35280 [bitnami/matomo] added optional env variables to set noreply name and address
  bitnami/matomo/4/debian-11/rootfs/opt/bitnami/scripts/libmatomo.sh
  bitnami/matomo/4/debian-11/rootfs/opt/bitnami/scripts/matomo-env.sh
  bitnami/matomo/README.md
Labels: verify, in-progress, matomo

#36462 Deprecate NGINX branch 1.23
  bitnami/nginx/1.23/debian-11/Dockerfile
  bitnami/nginx/1.23/debian-11/docker-compose.yml
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/nginx/1.23/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/nginx/conf/bitnami/protect-hidden-files.conf
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/nginx/conf/nginx.conf
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/libnginx.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx-env.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-http-server-block.conf.tpl
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-https-server-block.conf.tpl
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-php-prefix.conf.tpl
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-prefix.conf.tpl
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/default-https-server-block.conf
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/entrypoint.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/postunpack.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/reload.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/restart.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/run.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/setup.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/start.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/status.sh
  bitnami/nginx/1.23/debian-11/rootfs/opt/bitnami/scripts/nginx/stop.sh
  bitnami/nginx/1.23/debian-11/tags-info.yaml
Labels: verify, bitnami

#36685 [bitnami/containers] Revisit workflow permissions
  .github/workflows/assign-asset-label.yml
  .github/workflows/cd-pipeline.yml
  .github/workflows/cd-prepare.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/clossing-issues.yml
  .github/workflows/comments.yml
  .github/workflows/delete-solved-cards.yml
  .github/workflows/markdown-linter.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/srp-report.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/sync-teams.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#36733 [bitnami/pgbouncer] Make hba file path configurable
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
Labels: verify, in-progress, pgbouncer

#35677 feat(pgbouncer): set postgresql database as pgbouncer database if it's not set
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
Labels: verify, in-progress, pgbouncer

#37363 [bitnami/containers] Delete sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: verify, bitnami

#35992 [bitnami/redis-cluster] Update redis-cluster-env.sh
  bitnami/redis-cluster/6.2/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
  bitnami/redis-cluster/7.0/debian-11/rootfs/opt/bitnami/scripts/redis-cluster-env.sh
Labels: verify, in-progress, redis-cluster

#28610 [bitnami/pgpool] #28609: Added back missing library libnss-ldapd for fixing LDAP authentication.
  bitnami/pgpool/4/debian-11/Dockerfile
Labels: verify, in-progress, pgpool

#37531 [bitnami/several] Remove 'Community supported solution' section from READMEs
  bitnami/.DS_Store
  bitnami/blackbox-exporter/README.md
  bitnami/cluster-autoscaler/README.md
  bitnami/codeigniter/README.md
  bitnami/couchdb/README.md
  bitnami/discourse/README.md
  bitnami/dokuwiki/README.md
  bitnami/drupal-nginx/README.md
  bitnami/drupal/README.md
  bitnami/express/README.md
  bitnami/fluent-bit/README.md
  bitnami/ghost/README.md
  bitnami/jasperreports/README.md
  bitnami/joomla/README.md
  bitnami/jsonnet/README.md
  bitnami/laravel/README.md
  bitnami/magento/README.md
  bitnami/matomo/README.md
  bitnami/mediawiki/README.md
  bitnami/metallb-controller/README.md
  bitnami/metallb-speaker/README.md
  bitnami/moodle/README.md
  bitnami/odoo/README.md
  bitnami/opencart/README.md
  bitnami/osclass/README.md
  bitnami/phpbb/README.md
  bitnami/phpmyadmin/README.md
  bitnami/prestashop/README.md
  bitnami/pushgateway/README.md
  bitnami/rails/README.md
  bitnami/redmine/README.md
  bitnami/reportserver/README.md
  bitnami/spring-cloud-dataflow-shell/README.md
  bitnami/spring-cloud-skipper-shell/README.md
  bitnami/suitecrm/README.md
  bitnami/symfony/README.md
  bitnami/wordpress-nginx/README.md
Labels: verify, bitnami

#37556 Change spaces in nginx.conf file
  bitnami/nginx/1.24/debian-11/rootfs/opt/bitnami/nginx/conf/nginx.conf
  bitnami/nginx/1.25/debian-11/rootfs/opt/bitnami/nginx/conf/nginx.conf
Labels: verify, nginx, in-progress

#37754 [bitnami/wavefront-proxy] Add deprecation notice
  bitnami/wavefront-proxy/README.md
Labels: verify, bitnami, wavefront-proxy

#37810 [bitnami/wavefront-proxy] Deprecate Wavefront Proxy
  .vib/wavefront-proxy/goss/goss.yaml
  .vib/wavefront-proxy/goss/vars.yaml
  .vib/wavefront-proxy/goss/wavefront-proxy.yaml
  .vib/wavefront-proxy/vib-publish.json
  .vib/wavefront-proxy/vib-verify.json
  bitnami/wavefront-proxy/11/debian-11/Dockerfile
  bitnami/wavefront-proxy/11/debian-11/docker-compose.yml
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wavefront-proxy/11/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wavefront-proxy/11/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wavefront-proxy/11/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wavefront-proxy/11/debian-11/rootfs/opt/bitnami/scripts/wavefront-proxy/entrypoint.sh
  bitnami/wavefront-proxy/11/debian-11/rootfs/opt/bitnami/scripts/wavefront-proxy/postunpack.sh
  bitnami/wavefront-proxy/11/debian-11/tags-info.yaml
  bitnami/wavefront-proxy/12/debian-11/Dockerfile
  bitnami/wavefront-proxy/12/debian-11/docker-compose.yml
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wavefront-proxy/12/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wavefront-proxy/12/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wavefront-proxy/12/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wavefront-proxy/12/debian-11/rootfs/opt/bitnami/scripts/wavefront-proxy/entrypoint.sh
  bitnami/wavefront-proxy/12/debian-11/rootfs/opt/bitnami/scripts/wavefront-proxy/postunpack.sh
  bitnami/wavefront-proxy/12/debian-11/tags-info.yaml
  bitnami/wavefront-proxy/README.md
  bitnami/wavefront-proxy/docker-compose.yml
Labels: verify, bitnami

#37812 [bitnami/wavefront-kubernetes-collector] Add deprecation notice for Wavefront
  bitnami/wavefront-kubernetes-collector/README.md
Labels: verify, bitnami, wavefront-kubernetes-collector

#37815 [bitnami/wavefront-kubernetes-collector] Delete Wavefront
  .vib/wavefront-kubernetes-collector/vib-publish.json
  .vib/wavefront-kubernetes-collector/vib-verify.json
  bitnami/wavefront-kubernetes-collector/1/scratch/Dockerfile
  bitnami/wavefront-kubernetes-collector/1/scratch/docker-compose.yml
  bitnami/wavefront-kubernetes-collector/1/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wavefront-kubernetes-collector/1/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wavefront-kubernetes-collector/1/scratch/tags-info.yaml
  bitnami/wavefront-kubernetes-collector/README.md
  bitnami/wavefront-kubernetes-collector/docker-compose.yml
Labels: verify, bitnami

#38146 [bitnami/wavefront-prometheus-storage-adapter] Add deprecation notice
  bitnami/wavefront-prometheus-storage-adapter/README.md
Labels: verify, bitnami, wavefront-prometheus-storage-adapter

#38151 [bitnami/wavefront-prometheus-storage-adapter] Deprecate Wavefront Prometheus Adapter
  .vib/wavefront-prometheus-storage-adapter/goss/goss.yaml
  .vib/wavefront-prometheus-storage-adapter/goss/vars.yaml
  .vib/wavefront-prometheus-storage-adapter/goss/wavefront-prometheus-storage-adapter.yaml
  .vib/wavefront-prometheus-storage-adapter/vib-publish.json
  .vib/wavefront-prometheus-storage-adapter/vib-verify.json
  bitnami/wavefront-prometheus-storage-adapter/1/debian-11/Dockerfile
  bitnami/wavefront-prometheus-storage-adapter/1/debian-11/docker-compose.yml
  bitnami/wavefront-prometheus-storage-adapter/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wavefront-prometheus-storage-adapter/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wavefront-prometheus-storage-adapter/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wavefront-prometheus-storage-adapter/1/debian-11/tags-info.yaml
  bitnami/wavefront-prometheus-storage-adapter/README.md
  bitnami/wavefront-prometheus-storage-adapter/docker-compose.yml
Labels: verify, bitnami

#37733 Add license header
  LICENSE.md
Labels: verify, bitnami

#37811 [bitnami/containers] Avoid assignment of cards in Build Maintenance column
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#38153 [bitnami/containers] Remove references to build-maintainers GH team
  .github/workflows/.env
Labels: verify, bitnami

#38248 [bitnami/wavefront-hpa-adapter] Deprecate Wavefront HPA Adapter
  .vib/wavefront-hpa-adapter/vib-publish.json
  .vib/wavefront-hpa-adapter/vib-verify.json
  bitnami/wavefront-hpa-adapter/0/scratch/Dockerfile
  bitnami/wavefront-hpa-adapter/0/scratch/docker-compose.yml
  bitnami/wavefront-hpa-adapter/0/scratch/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wavefront-hpa-adapter/0/scratch/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wavefront-hpa-adapter/0/scratch/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/wavefront-hpa-adapter/0/scratch/tags-info.yaml
  bitnami/wavefront-hpa-adapter/README.md
  bitnami/wavefront-hpa-adapter/docker-compose.yml
Labels: verify, bitnami

#37462 test that directory exists before mkdir #37448
  bitnami/rabbitmq/3.10/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/rabbitmq/3.11/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/rabbitmq/3.12/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/rabbitmq/3.9/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
Labels: verify, in-progress, rabbitmq

#37540 [bitnami/pgbouncer] Add reserve_pool_timeout to available environment variables
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#38468 Update README.md
  README.md
Labels: verify, bitnami

#38448 [bitnami/attu,milvus] chore: :construction_worker: Add VIB integration
  .vib/attu/goss/attu.yaml
  .vib/attu/goss/goss.yaml
  .vib/attu/goss/vars.yaml
  .vib/attu/vib-publish.json
  .vib/attu/vib-verify.json
  .vib/milvus/goss/goss.yaml
  .vib/milvus/goss/milvus.yaml
  .vib/milvus/goss/vars.yaml
  .vib/milvus/vib-publish.json
  .vib/milvus/vib-verify.json
Labels: verify, bitnami

#38469 openldap: set capabilities on /opt/bitnami/openldap/sbin/slapd binary
  bitnami/openldap/2.5/debian-11/Dockerfile
  bitnami/openldap/2.6/debian-11/Dockerfile
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#39265 [bitnami/kslq] Deprecate 6.1 and 6.2 branches
  bitnami/ksql/6.1/debian-11/Dockerfile
  bitnami/ksql/6.1/debian-11/docker-compose.yml
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/ksql/6.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/ksql-env.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/ksql/entrypoint.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/ksql/postunpack.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/ksql/run.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/ksql/setup.sh
  bitnami/ksql/6.1/debian-11/rootfs/opt/bitnami/scripts/libksql.sh
  bitnami/ksql/6.1/debian-11/tags-info.yaml
  bitnami/ksql/6.2/debian-11/Dockerfile
  bitnami/ksql/6.2/debian-11/docker-compose.yml
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/ksql/6.2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/ksql-env.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/ksql/entrypoint.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/ksql/postunpack.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/ksql/run.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/ksql/setup.sh
  bitnami/ksql/6.2/debian-11/rootfs/opt/bitnami/scripts/libksql.sh
  bitnami/ksql/6.2/debian-11/tags-info.yaml
Labels: verify, bitnami

#39270 [bitnami/schema-registry] Deprecate 6.1 and 6.2 branches
  bitnami/schema-registry/6.1/debian-11/Dockerfile
  bitnami/schema-registry/6.1/debian-11/docker-compose.yml
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/schema-registry/6.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry/entrypoint.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry/postunpack.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry/run.sh
  bitnami/schema-registry/6.1/debian-11/rootfs/opt/bitnami/scripts/schema-registry/setup.sh
  bitnami/schema-registry/6.1/debian-11/tags-info.yaml
  bitnami/schema-registry/6.2/debian-11/Dockerfile
  bitnami/schema-registry/6.2/debian-11/docker-compose.yml
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/schema-registry/6.2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry/entrypoint.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry/postunpack.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry/run.sh
  bitnami/schema-registry/6.2/debian-11/rootfs/opt/bitnami/scripts/schema-registry/setup.sh
  bitnami/schema-registry/6.2/debian-11/tags-info.yaml
Labels: verify, bitnami

#39278 [bitnami/pymilvus] chore: :construction_worker: Add VIB integration
  .vib/pymilvus/goss/goss.yaml
  .vib/pymilvus/goss/pymilvus.yaml
  .vib/pymilvus/goss/vars.yaml
  .vib/pymilvus/vib-publish.json
  .vib/pymilvus/vib-verify.json
Labels: verify, bitnami
