Repository bitnami/containers, pull requests merged in 2023-11, with the labels that each got.

#52270 [bitnami/suitecrm] Fix check-version test
  .vib/suitecrm/goss/suitecrm.yaml
Labels: verify, bitnami

#52318 [bitnami/moodle] Fix typo in Goss test
  .vib/moodle/goss/moodle.yaml
Labels: verify, bitnami

#51830 [bitnami/pgbouncer] support $PGBOUNCER_DSN_${i}_FILE env vars
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#52257 [bitnami/grafana] Replace deprecated grafana command usage
  .vib/grafana/goss/grafana.yaml
  .vib/grafana/goss/vars.yaml
  bitnami/grafana/10/debian-11/rootfs/opt/bitnami/scripts/grafana/postunpack.sh
  bitnami/grafana/10/debian-11/rootfs/opt/bitnami/scripts/grafana/run.sh
  bitnami/grafana/10/debian-11/rootfs/opt/bitnami/scripts/libgrafana.sh
Labels: verify, in-progress, grafana

#51911 [bitnami/openldap] #49575 Move requiring TLS to the very end of the configuration and remove duplicate call to enable TLS
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#51275 HOST is deprecated, use SMTP_ADDR and SMTP_PORT
  bitnami/gitea/1/debian-11/rootfs/opt/bitnami/scripts/gitea-env.sh
  bitnami/gitea/1/debian-11/rootfs/opt/bitnami/scripts/libgitea.sh
Labels: verify, in-progress, gitea

#50118 [bitnami/rclone] Add fuse as dep
  bitnami/rclone/1/debian-11/Dockerfile
Labels: verify, triage, rclone

#52413 [bitnami/*] Fix TESTING.md instructions for goss
  TESTING.md
Labels: verify, bitnami

#52139 [bitnami/kafka] Add missing env variables to configuration documentation
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#52377 [bitnami/redis-cluster] add info level to logs Signed-off-by: Schneidenwind Christine (LDC) <…
  bitnami/redis-cluster/7.2/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/redis-cluster/7.2/debian-11/rootfs/opt/bitnami/scripts/librediscluster.sh
Labels: verify, in-progress, redis-cluster

#52432 [bitnami/milvus] Fix goss tests for new milvus version
  .vib/milvus/goss/milvus.yaml
Labels: verify, bitnami

#52580 [bitnami/mxnet] Add deprecation notice
  bitnami/mxnet/README.md
Labels: verify, bitnami, mxnet

#52581 [bitnami/supabase-studio] Update goss pattern
  .vib/supabase-studio/goss/supabase-studio.yaml
Labels: verify, bitnami

#52428 Enable pw-sha2. This partly implements #52373
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#52585 [bitnami/mxnet] Deprecate MXNet
  .vib/mxnet/goss/goss.yaml
  .vib/mxnet/goss/mxnet.yaml
  .vib/mxnet/goss/vars.yaml
  .vib/mxnet/vib-verify.json
  bitnami/mxnet/1/debian-11/Dockerfile
  bitnami/mxnet/1/debian-11/docker-compose.yml
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mxnet/1/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mxnet/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mxnet/1/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mxnet/1/debian-11/rootfs/opt/bitnami/scripts/mxnet/entrypoint.sh
  bitnami/mxnet/1/debian-11/rootfs/opt/bitnami/scripts/mxnet/postunpack.sh
  bitnami/mxnet/1/debian-11/tags-info.yaml
  bitnami/mxnet/README.md
  bitnami/mxnet/docker-compose.yml
Labels: verify, bitnami

#51190 fix: added missing environment variable to symfony docker-compose.yml
  bitnami/symfony/5.4/debian-11/docker-compose.yml
  bitnami/symfony/5.4/debian-11/rootfs/opt/bitnami/scripts/symfony-env.sh
  bitnami/symfony/6.3/debian-11/docker-compose.yml
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/symfony-env.sh
  bitnami/symfony/docker-compose.yml
Labels: verify, in-progress, symfony

#52260 [bitnami/pgbouncer] Document for PGBOUNCER_DATABASE="*"
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#52272 [bitnami/mongodb] Check for MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD when setting auth config
  bitnami/mongodb/5.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb.sh
  bitnami/mongodb/6.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb.sh
  bitnami/mongodb/7.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb.sh
Labels: verify, in-progress, mongodb

#52755 Fix configuration override section for docker-compose in clickhouse
  bitnami/clickhouse/README.md
Labels: verify, in-progress, clickhouse

#52813 [bitnami/apache] check mod-proxy-html is disabled in goss tests
  .vib/apache/goss/vars.yaml
Labels: verify, bitnami

#51077 [bitnami/wordpress] Add env var to disable XML-RPC
  bitnami/wordpress-nginx/6/debian-11/rootfs/opt/bitnami/scripts/libwordpress.sh
  bitnami/wordpress-nginx/6/debian-11/rootfs/opt/bitnami/scripts/wordpress-env.sh
  bitnami/wordpress-nginx/6/debian-11/rootfs/opt/bitnami/scripts/wordpress/bitnami-templates/apache-wordpress-disable-xml-rpc.tpl
  bitnami/wordpress-nginx/6/debian-11/rootfs/opt/bitnami/scripts/wordpress/bitnami-templates/nginx-wordpress-disable-xml-rpc.tpl
  bitnami/wordpress-nginx/README.md
  bitnami/wordpress/6/debian-11/rootfs/opt/bitnami/scripts/libwordpress.sh
  bitnami/wordpress/6/debian-11/rootfs/opt/bitnami/scripts/wordpress-env.sh
  bitnami/wordpress/6/debian-11/rootfs/opt/bitnami/scripts/wordpress/bitnami-templates/apache-wordpress-disable-xml-rpc.tpl
  bitnami/wordpress/6/debian-11/rootfs/opt/bitnami/scripts/wordpress/bitnami-templates/nginx-wordpress-disable-xml-rpc.tpl
  bitnami/wordpress/README.md
Labels: verify, in-progress, wordpress

#53023 [bitnami/airflow] Enable ARM and increase container-image-package timeout
  .vib/airflow-scheduler/vib-verify.json
  .vib/airflow-worker/vib-verify.json
  .vib/airflow/vib-verify.json
Labels: verify, bitnami

#53041 [bitnami/kibana] Add clamav action allowing false positive
  .vib/kibana/vib-verify.json
Labels: verify, bitnami

#53026 [bitnami/ray,kuberay-apiserver,kuberay-operator] test: :construction_worker: Add VIB integration
  .vib/kuberay-apiserver/goss/goss.yaml
  .vib/kuberay-apiserver/goss/kuberay-apiserver.yaml
  .vib/kuberay-apiserver/goss/vars.yaml
  .vib/kuberay-apiserver/vib-verify.json
  .vib/kuberay-operator/goss/goss.yaml
  .vib/kuberay-operator/goss/kuberay-operator.yaml
  .vib/kuberay-operator/goss/vars.yaml
  .vib/kuberay-operator/vib-verify.json
  .vib/ray/goss/goss.yaml
  .vib/ray/goss/ray.yaml
  .vib/ray/goss/testfiles/basic_example.py
  .vib/ray/goss/vars.yaml
  .vib/ray/vib-verify.json
Labels: verify, bitnami

#53119 [bitnami/fluentd] Exclude gems path from sed-in-place test
  .vib/fluentd/goss/vars.yaml
Labels: verify, bitnami

#52335 [bitnami/pgbouncer] Set PGBOUNCER_IGNORE_STARTUP_PARAMETERS default v…
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
Labels: verify, in-progress, pgbouncer

#53132 docs: Fix docker-compose.yml links in README.md
  bitnami/wordpress-nginx/README.md
Labels: verify, in-progress, wordpress-nginx

#53229 Update README.md adding small sentence about scratch images
  README.md
Labels: verify, bitnami

#53242 [bitnami/containers] Hardening CI workflow
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#53233 [bitnami/nginx] Remove deprecated TLS version
  bitnami/nginx/1.25/debian-11/rootfs/opt/bitnami/nginx/conf/nginx.conf
Labels: verify, nginx, in-progress

#53314 feat: Add VIB configuration for sealed-secrets-kubeseal
  .vib/sealed-secrets-kubeseal/vib-verify.json
Labels: verify, bitnami
