Repository bitnami/containers, pull requests merged in 2023-09, with the labels that each got.

#46934 [bitnami/supabase-realtime] Disable check-app-version test
  .vib/supabase-realtime/goss/goss.yaml
Labels: verify, bitnami

#46937 [bitnami/minio*] Simplify GOSS tests to support PhotonOS
  .vib/minio-client/goss/minio-client.yaml
  .vib/minio/goss/minio.yaml
Labels: verify, bitnami

#46938 [bitnami/wordpress] Remove memcached check to fix Photon tests
  .vib/wordpress/goss/vars.yaml
Labels: verify, bitnami

#46946 [bitnami/tomcat-jdk] Add tests for tomcat-jdk
  .vib/tomcat-jdk-11/goss/goss.yaml
  .vib/tomcat-jdk-11/goss/tomcat-jdk-11.yaml
  .vib/tomcat-jdk-11/goss/vars.yaml
  .vib/tomcat-jdk-11/vib-verify.json
  .vib/tomcat-jdk-17/goss/goss.yaml
  .vib/tomcat-jdk-17/goss/tomcat-jdk-17.yaml
  .vib/tomcat-jdk-17/goss/vars.yaml
  .vib/tomcat-jdk-17/vib-verify.json
Labels: verify, bitnami

#46939 [bitnami/dotnet] Fix Goss tests for dotnet, dotnet-sdk and aspnet-core
  .vib/aspnet-core/goss/aspnet-core.yaml
  .vib/aspnet-core/goss/vars.yaml
  .vib/dotnet-sdk/goss/dotnet-sdk.yaml
  .vib/dotnet-sdk/goss/vars.yaml
  .vib/dotnet/goss/dotnet.yaml
  .vib/dotnet/goss/vars.yaml
Labels: verify, bitnami

#46961 [bitnami/harbor-*] Adapt test to work in all distros
  .vib/harbor-adapter-trivy/goss/harbor-adapter-trivy.yaml
  .vib/harbor-core/goss/harbor-core.yaml
  .vib/harbor-exporter/goss/harbor-exporter.yaml
  .vib/harbor-jobservice/goss/harbor-jobservice.yaml
  .vib/harbor-notary-server/goss/harbor-notary-server.yaml
  .vib/harbor-portal/goss/harbor-portal.yaml
  .vib/harbor-registry/goss/harbor-registry.yaml
  .vib/harbor-registryctl/goss/harbor-registryctl.yaml
Labels: verify, bitnami

#46953 [bitnami/fluent-bit] Deprecate FluentBit 1
  bitnami/fluent-bit/1/debian-11/Dockerfile
  bitnami/fluent-bit/1/debian-11/docker-compose.yml
  bitnami/fluent-bit/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluent-bit/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluent-bit/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/fluent-bit/1/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/fluent-bit/1/debian-11/tags-info.yaml
Labels: verify, bitnami

#46968 [bitnami/*] Disable MariaDB and RepMgr faulty permission tests
  .vib/mariadb/goss/goss.yaml
  .vib/mariadb/goss/mariadb.yaml
  .vib/mariadb/goss/vars.yaml
  .vib/postgresql-repmgr/goss/vars.yaml
Labels: verify, bitnami

#46975 [bitnami/harbor-*] Update validation of permissions in harbor
  .vib/harbor-adapter-trivy/goss/harbor-adapter-trivy.yaml
  .vib/harbor-core/goss/harbor-core.yaml
  .vib/harbor-exporter/goss/harbor-exporter.yaml
  .vib/harbor-jobservice/goss/harbor-jobservice.yaml
  .vib/harbor-notary-server/goss/harbor-notary-server.yaml
Labels: verify, bitnami

#46771 [bitnami/parse] Update README.md
  bitnami/parse/README.md
Labels: verify, in-progress, parse

#47267 [bitnami/mariadb] Fix permissions check for auth_pam plugin
  .vib/mariadb/goss/goss.yaml
  .vib/mariadb/goss/vars.yaml
Labels: verify, mariadb, bitnami

#47296 [bitnami/wildfly] Deprecate Wildfly 26
  bitnami/wildfly/26/debian-11/Dockerfile
  bitnami/wildfly/26/debian-11/docker-compose.yml
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/26/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/26/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/26/debian-11/tags-info.yaml
Labels: verify, bitnami

#47416 [bitnami/redis] Improve tests resiliency
  .vib/redis/goss/redis.yaml
Labels: verify, bitnami

#47421 Delete bitnami/.DS_Store
  bitnami/.DS_Store
Labels: verify, bitnami

#47435 [bitnami/os-shell] Fix os-shell for distros with numbers & strings
  .vib/os-shell/goss/os-shell.yaml
Labels: verify, bitnami

#47340 [bitnami/opensearch] Fix readiness/liveness probe not working if "restEncryption: false" in values.yaml
  bitnami/opensearch/1/debian-11/rootfs/opt/bitnami/scripts/libopensearch.sh
  bitnami/opensearch/2/debian-11/rootfs/opt/bitnami/scripts/libopensearch.sh
Labels: verify, in-progress, opensearch

#47483 [bitnami/openldap] Check pw-sha2 library output
  .vib/openldap/goss/openldap.yaml
Labels: verify, bitnami, openldap

#46901 [bitnami/kafka] change zookeeper keystore pem location
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.4/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.5/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#47536 [bitnami/mariadb] Deprecate MariaDB and MariaDB Galera 10.9
  bitnami/mariadb-galera/10.9/debian-11/Dockerfile
  bitnami/mariadb-galera/10.9/debian-11/docker-compose.yml
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb-galera/10.9/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/libldapclient.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/entrypoint.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/healthcheck.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/postunpack.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/run.sh
  bitnami/mariadb-galera/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/setup.sh
  bitnami/mariadb-galera/10.9/debian-11/tags-info.yaml
  bitnami/mariadb/10.9/debian-11/Dockerfile
  bitnami/mariadb/10.9/debian-11/docker-compose.yml
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb/10.9/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb/10.9/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/libmariadb.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb/entrypoint.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb/healthcheck.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb/postunpack.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb/run.sh
  bitnami/mariadb/10.9/debian-11/rootfs/opt/bitnami/scripts/mariadb/setup.sh
  bitnami/mariadb/10.9/debian-11/tags-info.yaml
Labels: verify, bitnami

#48236 [bitnami/airflow] Add missing LDAP environment variables
  bitnami/airflow/docker-compose-ldap.yml
Labels: verify, airflow, bitnami

#47319 [bitnami/elasticsearch] Fix readiness/liveness probe not working if "restEncryption: false" in values.yaml
  bitnami/elasticsearch/7/debian-11/rootfs/opt/bitnami/scripts/libelasticsearch.sh
  bitnami/elasticsearch/8/debian-11/rootfs/opt/bitnami/scripts/libelasticsearch.sh
Labels: verify, in-progress, elasticsearch

#45066 [bitnami/postgresql] README was not reflecting the start scripts
  bitnami/postgresql/README.md
Labels: verify, stale, triage, postgresql

#48957 [bitnami/kibana] Increase linked_libraries.timeout to 60s
  .vib/kibana/goss/vars.yaml
Labels: verify, bitnami

#47819 [bitnami/postgresql] Introduces environment variable POSTGRESQL_DEFAULT_TRANSACTION_ISOLATION to change the global default transaction isolation level
  bitnami/postgresql/11/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/11/debian-11/rootfs/opt/bitnami/scripts/postgresql/run.sh
  bitnami/postgresql/12/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/12/debian-11/rootfs/opt/bitnami/scripts/postgresql/run.sh
  bitnami/postgresql/13/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/13/debian-11/rootfs/opt/bitnami/scripts/postgresql/run.sh
  bitnami/postgresql/14/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/14/debian-11/rootfs/opt/bitnami/scripts/postgresql/run.sh
  bitnami/postgresql/15/debian-11/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/15/debian-11/rootfs/opt/bitnami/scripts/postgresql/run.sh
  bitnami/postgresql/README.md
Labels: verify, in-progress, postgresql

#49143 Deprecate Contour 1.23, Go 1.19 and jwt-cli 5
  bitnami/contour/1.23/debian-11/Dockerfile
  bitnami/contour/1.23/debian-11/docker-compose.yml
  bitnami/contour/1.23/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour/1.23/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.23/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.23/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/contour/1.23/debian-11/tags-info.yaml
  bitnami/golang/1.19/debian-11/Dockerfile
  bitnami/golang/1.19/debian-11/docker-compose.yml
  bitnami/golang/1.19/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/golang/1.19/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/golang/1.19/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/golang/1.19/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/golang/1.19/debian-11/tags-info.yaml
  bitnami/jwt-cli/5/debian-11/Dockerfile
  bitnami/jwt-cli/5/debian-11/docker-compose.yml
  bitnami/jwt-cli/5/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jwt-cli/5/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jwt-cli/5/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jwt-cli/5/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/jwt-cli/5/debian-11/tags-info.yaml
Labels: verify, bitnami

#49164 [bitnami/ruby] Deprecate Ruby 2.7
  bitnami/ruby/2.7/debian-11/Dockerfile
  bitnami/ruby/2.7/debian-11/docker-compose.yml
  bitnami/ruby/2.7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ruby/2.7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ruby/2.7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/ruby/2.7/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/ruby/2.7/debian-11/tags-info.yaml
Labels: verify, bitnami

#49271 #49157 move adding custom ldifs or create tree to the end of the initial configuration section
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#49326 [bitnami/airflow] Fix airflow connectivity issue when redis is in ssl mode
  bitnami/airflow-scheduler/2/debian-11/rootfs/opt/bitnami/scripts/libairflow.sh
  bitnami/airflow-worker/2/debian-11/rootfs/opt/bitnami/scripts/libairflow.sh
  bitnami/airflow/2/debian-11/rootfs/opt/bitnami/scripts/libairflow.sh
Labels: verify, in-progress

#49553 [bitnami/mastodon] Add sed-in-place excluded path
  .vib/mastodon/goss/vars.yaml
Labels: verify, bitnami

#49583 Update OpenLDAP container readme for environment variables.
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#50031 Deprecate Java 20 and EJBCA 7
  bitnami/ejbca/7/debian-11/Dockerfile
  bitnami/ejbca/7/debian-11/docker-compose.yml
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/ejbca/7/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/ejbca/7/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/ejbca/7/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/ejbca-env.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/ejbca/entrypoint.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/ejbca/postunpack.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/ejbca/run.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/ejbca/setup.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ejbca/7/debian-11/rootfs/opt/bitnami/scripts/libejbca.sh
  bitnami/ejbca/7/debian-11/tags-info.yaml
  bitnami/java/20/debian-11/Dockerfile
  bitnami/java/20/debian-11/docker-compose.yml
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/java/20/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/java/20/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/java/20/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/java/20/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/java/20/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/java/20/debian-11/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  bitnami/java/20/debian-11/tags-info.yaml
Labels: verify, bitnami

#50121 [bitnami/spring-cloud-dataflow] Modify version test for spring-cloud-dataflow
  .vib/spring-cloud-dataflow/goss/spring-cloud-dataflow.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#49886 [bitnami/nginx] Add ngx_http_dav_module to NGINX modules (testing)
  .vib/nginx/goss/vars.yaml
Labels: verify, bitnami

#50293 [bitnami/mlflow] chore: :construction_worker: Add VIB integration
  .vib/mlflow/goss/goss.yaml
  .vib/mlflow/goss/mlflow.yaml
  .vib/mlflow/goss/vars.yaml
  .vib/mlflow/vib-verify.json
Labels: verify, bitnami
