Repository bitnami/containers, pull requests merged in 2024-05, with the labels that each got.

#65785 [bitnami/openldap] Update README
  bitnami/openldap/README.md
Labels: triage, openldap

#65729 [bitnami/mediawiki] Add env var to control skipping config validation during startup
  bitnami/mediawiki/1/debian-12/rootfs/opt/bitnami/scripts/libmediawiki.sh
  bitnami/mediawiki/1/debian-12/rootfs/opt/bitnami/scripts/mediawiki-env.sh
  bitnami/mediawiki/README.md
Labels: verify, in-progress, mediawiki

#66492 [bitnami/scylladb] chore: :construction_worker: :white_check_mark: Add VIB integration
  .vib/scylladb/goss/goss.yaml
  .vib/scylladb/goss/vars.yaml
  .vib/scylladb/vib-verify.json
Labels: verify, bitnami

#66497 [bitnami/contour] Deprecate branch 1.26
  bitnami/contour/1.26/debian-12/Dockerfile
  bitnami/contour/1.26/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour/1.26/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.26/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.26/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/contour/1.26/debian-12/tags-info.yaml
Labels: verify, bitnami

#66232 [bitnami/ghost] Update Ghost image with SMTP ENV fixes
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost-env.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/libghost.sh
  bitnami/ghost/README.md
Labels: verify, in-progress, ghost

#66550 [bitnami/supabase-storage] Deprecate branch 0
  bitnami/supabase-storage/0/debian-12/Dockerfile
  bitnami/supabase-storage/0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/supabase-storage/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/supabase-storage/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/supabase-storage/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/supabase-storage/0/debian-12/tags-info.yaml
Labels: verify, bitnami

#66480 [bitnami/gitea] Add new customizable environment variables - ENABLE OPENID SIGNIN/SIGNUP
  bitnami/gitea/1/debian-12/rootfs/opt/bitnami/gitea/custom/conf/app.ini.template
  bitnami/gitea/1/debian-12/rootfs/opt/bitnami/scripts/gitea-env.sh
  bitnami/gitea/1/debian-12/rootfs/opt/bitnami/scripts/libgitea.sh
  bitnami/gitea/README.md
Labels: verify, in-progress, gitea

#66535 [bitnami/airflow] Ensure Airflow configuration values starting with dashes are set correctly
  bitnami/airflow-scheduler/2/debian-12/rootfs/opt/bitnami/scripts/libairflow.sh
  bitnami/airflow-worker/2/debian-12/rootfs/opt/bitnami/scripts/libairflow.sh
  bitnami/airflow/2/debian-12/rootfs/opt/bitnami/scripts/libairflow.sh
Labels: verify, airflow, in-progress, airflow-scheduler, airflow-worker

#66642 Deprecate ClickHouse 23.3 and FluxCD Helm Controller 0
  bitnami/clickhouse/23.3/debian-12/Dockerfile
  bitnami/clickhouse/23.3/debian-12/docker-compose.yml
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/clickhouse/23.3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/clickhouse/23.3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/clickhouse/23.3/debian-12/rootfs/opt/bitnami/scripts/clickhouse-env.sh
  bitnami/clickhouse/23.3/debian-12/rootfs/opt/bitnami/scripts/clickhouse/entrypoint.sh
  bitnami/clickhouse/23.3/debian-12/rootfs/opt/bitnami/scripts/clickhouse/postunpack.sh
  bitnami/clickhouse/23.3/debian-12/rootfs/opt/bitnami/scripts/clickhouse/run.sh
  bitnami/clickhouse/23.3/debian-12/rootfs/opt/bitnami/scripts/clickhouse/setup.sh
  bitnami/clickhouse/23.3/debian-12/rootfs/opt/bitnami/scripts/libclickhouse.sh
  bitnami/clickhouse/23.3/debian-12/tags-info.yaml
  bitnami/fluxcd-helm-controller/0/debian-12/Dockerfile
  bitnami/fluxcd-helm-controller/0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluxcd-helm-controller/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluxcd-helm-controller/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/fluxcd-helm-controller/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/fluxcd-helm-controller/0/debian-12/tags-info.yaml
Labels: verify, bitnami

#67017 [bitnami/{cilium|cilium-operator}] Add VIB basic tests
  .vib/cilium-operator/cilium/goss/cilium-operator.yaml
  .vib/cilium-operator/cilium/goss/goss.yaml
  .vib/cilium-operator/cilium/goss/vars.yaml
  .vib/cilium-operator/cilium/vib-verify.json
  .vib/cilium/goss/cilium.yaml
  .vib/cilium/goss/goss.yaml
  .vib/cilium/goss/vars.yaml
  .vib/cilium/vib-verify.json
Labels: verify, bitnami

#67047 fix: vib tests structure for cilium-operator
  .vib/cilium-operator/goss/cilium-operator.yaml
  .vib/cilium-operator/goss/goss.yaml
  .vib/cilium-operator/goss/vars.yaml
  .vib/cilium-operator/vib-verify.json
Labels: verify, bitnami

#67058 [bitnami/cilium-operator] Fix version goss test
  .vib/cilium-operator/goss/cilium-operator.yaml
Labels: verify, bitnami

#67052 [bitnami/parse] Deprecate Parse 6.x
  bitnami/parse/6/debian-12/Dockerfile
  bitnami/parse/6/debian-12/docker-compose.yml
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/parse/6/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/parse/6/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/parse/6/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/libmongodbshell.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/libparse.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/mongodb-shell-env.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/mongodb-shell/setup.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/parse-env.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/parse/entrypoint.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/parse/postunpack.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/parse/run.sh
  bitnami/parse/6/debian-12/rootfs/opt/bitnami/scripts/parse/setup.sh
  bitnami/parse/6/debian-12/rootfs/post-init.d/shell.sh
  bitnami/parse/6/debian-12/rootfs/post-init.sh
  bitnami/parse/6/debian-12/tags-info.yaml
Labels: verify, bitnami

#67042 [bitnami/pgbouncer] Added server_round_robin settings support to pgbouncer
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#64098 [bitnami/mediawiki] improve configuration for reverse proxy configs
  .vib/mediawiki/goss/mediawiki.yaml
  bitnami/mediawiki/1/debian-12/rootfs/opt/bitnami/scripts/libmediawiki.sh
  bitnami/mediawiki/1/debian-12/rootfs/opt/bitnami/scripts/mediawiki-env.sh
  bitnami/mediawiki/1/debian-12/rootfs/opt/bitnami/scripts/mediawiki/postunpack.sh
  bitnami/mediawiki/1/debian-12/rootfs/opt/bitnami/scripts/mediawiki/setup.sh
  bitnami/mediawiki/README.md
Labels: verify, in-progress, mediawiki

#67189 Deprecate Supabase 0 and Wildfly 31
  bitnami/supabase-studio/0/debian-12/Dockerfile
  bitnami/supabase-studio/0/debian-12/docker-compose.yml
  bitnami/supabase-studio/0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/supabase-studio/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/supabase-studio/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/supabase-studio/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/supabase-studio/0/debian-12/tags-info.yaml
  bitnami/wildfly/31/debian-12/Dockerfile
  bitnami/wildfly/31/debian-12/docker-compose.yml
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/31/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/31/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/31/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/31/debian-12/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/31/debian-12/tags-info.yaml
Labels: verify, bitnami

#67230 [bitnami/influxdb] Update Goss tests
  .vib/influxdb/goss/vars.yaml
Labels: verify, bitnami

#67224 [bitnami/kafka-exporter] Deprecate kafka-exporter
  .vib/kafka-exporter/goss/goss.yaml
  .vib/kafka-exporter/goss/vars.yaml
  .vib/kafka-exporter/vib-verify.json
  bitnami/kafka-exporter/1/debian-12/Dockerfile
  bitnami/kafka-exporter/1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kafka-exporter/1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kafka-exporter/1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kafka-exporter/1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kafka-exporter/1/debian-12/tags-info.yaml
  bitnami/kafka-exporter/README.md
Labels: verify, bitnami

#67263 [bitnami/tomcat] Deprecate branch 8.5
  bitnami/tomcat/8.5/debian-12/Dockerfile
  bitnami/tomcat/8.5/debian-12/docker-compose.yml
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/tomcat/8.5/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/tomcat/8.5/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/tomcat/8.5/debian-12/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/tomcat/8.5/debian-12/tags-info.yaml
Labels: verify, bitnami

#67236 [bitnami/hubble-relay] Add VIB basic tests
  .vib/hubble-relay/goss/goss.yaml
  .vib/hubble-relay/goss/hubble-relay.yaml
  .vib/hubble-relay/goss/vars.yaml
  .vib/hubble-relay/vib-verify.json
Labels: verify, bitnami

#67312 [bitnami/hubble-ui] Add VIB basic tests
  .vib/hubble-relay/goss/hubble-relay.yaml
  .vib/hubble-ui-backend/goss/goss.yaml
  .vib/hubble-ui-backend/goss/hubble-ui-backend.yaml
  .vib/hubble-ui-backend/goss/vars.yaml
  .vib/hubble-ui-backend/vib-verify.json
  .vib/hubble-ui/goss/goss.yaml
  .vib/hubble-ui/goss/hubble-ui.yaml
  .vib/hubble-ui/goss/vars.yaml
  .vib/hubble-ui/vib-verify.json
Labels: verify, bitnami

#67314 [hubble-ui]: fix vib tests
  .vib/hubble-ui-backend/goss/hubble-ui-backend.yaml
  .vib/hubble-ui/goss/goss.yaml
Labels: verify, bitnami
