Repository bitnami/containers, pull requests merged in 2024-06, with the labels that each got.

#67393 [bitnami/nessie] chore: :construction_worker: :white_check_mark: Add VIB integration
  .vib/nessie-utils/goss/goss.yaml
  .vib/nessie-utils/goss/nessie-utils.yaml
  .vib/nessie-utils/goss/vars.yaml
  .vib/nessie-utils/vib-verify.json
  .vib/nessie/goss/goss.yaml
  .vib/nessie/goss/vars.yaml
  .vib/nessie/vib-verify.json
Labels: verify, bitnami

#67547 [bitnami/mariadb][bitnami/mariadb-galera] Deprecate branch 11.0
  bitnami/mariadb-galera/11.0/debian-12/Dockerfile
  bitnami/mariadb-galera/11.0/debian-12/docker-compose.yml
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb-galera/11.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/libldapclient.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/entrypoint.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/healthcheck.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/postunpack.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/run.sh
  bitnami/mariadb-galera/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/setup.sh
  bitnami/mariadb-galera/11.0/debian-12/tags-info.yaml
  bitnami/mariadb/11.0/debian-12/Dockerfile
  bitnami/mariadb/11.0/debian-12/docker-compose.yml
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb/11.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb/11.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/libmariadb.sh
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb/entrypoint.sh
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb/healthcheck.sh
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb/postunpack.sh
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb/run.sh
  bitnami/mariadb/11.0/debian-12/rootfs/opt/bitnami/scripts/mariadb/setup.sh
  bitnami/mariadb/11.0/debian-12/tags-info.yaml
Labels: verify, mariadb, bitnami, mariadb-galera

#67360 [bitnami/openldap] Allow to optionally set olcSuffix via LDAP_SUFFIX env var
  bitnami/openldap/2.5/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#67399 [bitnami/wordpress] make from_email and from_name adjustable
  bitnami/wordpress/6/debian-12/rootfs/opt/bitnami/scripts/libwordpress.sh
  bitnami/wordpress/6/debian-12/rootfs/opt/bitnami/scripts/wordpress-env.sh
Labels: verify, in-progress, wordpress

#67885 [bitnami/matomo] Fix tests for Matomo 5.1.0
  .vib/matomo/goss/goss.yaml
  .vib/matomo/goss/matomo.yaml
  .vib/matomo/goss/vars.yaml
Labels: verify, bitnami

#67949 [bitnami/cilium-proxy] Add VIB basic tests
  .vib/cilium-proxy/goss/goss.yaml
  .vib/cilium-proxy/goss/vars.yaml
  .vib/cilium-proxy/vib-verify.json
Labels: verify, bitnami
