Repository bitnami/containers, pull requests merged in 2024-12, with the labels that each got.

#75036 [bitnami/scylladb] Fix custom datacenter and rack value handling and config path directory
  bitnami/scylladb/6.0/debian-12/rootfs/opt/bitnami/scripts/libscylladb.sh
  bitnami/scylladb/6.1/debian-12/rootfs/opt/bitnami/scripts/libscylladb.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/libscylladb.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/scylladb-env.sh
Labels: verify, in-progress, scylladb

#75534 [bitnami/containers/issues/75091] Validate gsutil exit code
  .vib/google-cloud-sdk/goss/google-cloud-sdk.yaml
Labels: verify, bitnami

#75539 [bitnami/jmx-exporter] Fix Goss tests for version 1.1.0
  .vib/jmx-exporter/goss/jmx-exporter.yaml
  .vib/jmx-exporter/goss/vars.yaml
Labels: verify, bitnami

#75542 [bitnami/jmx-exporter] Fix Goss tests for version 1.1.0
  .vib/jmx-exporter/goss/vars.yaml
Labels: verify, bitnami

#75672 [bitnami/jupyter*] Use version 4 as LTS
  bitnami/jupyter-base-notebook/4/debian-12/Dockerfile
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/jupyter-base-notebook/4/debian-12/tags-info.yaml
  bitnami/jupyter-base-notebook/5/README.md
  bitnami/jupyter-base-notebook/5/debian-12/tags-info.yaml
  bitnami/jupyterhub/4/debian-12/Dockerfile
  bitnami/jupyterhub/4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyterhub/4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyterhub/4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/jupyterhub/4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/jupyterhub/4/debian-12/tags-info.yaml
  bitnami/jupyterhub/5/README.md
  bitnami/jupyterhub/5/debian-12/tags-info.yaml
Labels: verify, bitnami

#75679 [bitnami/jmx-exporter] Fix typo in GOSS test
  .vib/jmx-exporter/goss/vars.yaml
Labels: verify, bitnami

#75721 [bitnami/scylladb] Use the right path for mounted configuration
  .vib/scylladb/goss/vars.yaml
Labels: verify, bitnami

#75698 [bitnami/jmx-exporter] fix docker entrypoint
  bitnami/jmx-exporter/1/debian-12/Dockerfile
Labels: verify, in-progress, jmx-exporter

#75744 [bitnami/jaeger] Fix check-app-version for both versions
  .vib/jaeger/goss/jaeger.yaml
Labels: verify, bitnami

#75778 Add .vib/node-min
  .vib/node-min/vib-verify.json
Labels: verify, bitnami

#75790 [bitnami/kubectl] Remove kubectl 1.31
  bitnami/kubectl/1.31/README.md
  bitnami/kubectl/1.31/debian-12/Dockerfile
  bitnami/kubectl/1.31/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kubectl/1.31/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kubectl/1.31/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kubectl/1.31/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kubectl/1.31/debian-12/tags-info.yaml
Labels: verify, bitnami, kubectl

#75810 [bitnami/flink] Increase timeout for 'jobmanager.sh start-foreground' goss test
  .vib/flink/goss/flink.yaml
Labels: verify, solved, bitnami

#75811 [bitnami/grafana] Hack for version test
  .vib/grafana/goss/vars.yaml
Labels: verify, bitnami

#75309 [bitnami/clickhouse] fix startup issue when using json logs #75308
  bitnami/clickhouse/24/debian-12/rootfs/opt/bitnami/scripts/libclickhouse.sh
  bitnami/clickhouse/README.md
Labels: verify, in-progress, clickhouse

#75872 [bitnami/sonarqube] Remove Sonarqube 10
  bitnami/sonarqube/10/README.md
  bitnami/sonarqube/10/debian-12/Dockerfile
  bitnami/sonarqube/10/debian-12/docker-compose.yml
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/sonarqube/10/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/sonarqube/10/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/libpostgresqlclient.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/libsonarqube.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/postgresql-client-env.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/postgresql-client/setup.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/sonarqube-env.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/sonarqube/entrypoint.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/sonarqube/postunpack.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/sonarqube/run.sh
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/sonarqube/setup.sh
  bitnami/sonarqube/10/debian-12/rootfs/post-init.d/shell.sh
  bitnami/sonarqube/10/debian-12/rootfs/post-init.d/sql-postgresql.sh
  bitnami/sonarqube/10/debian-12/rootfs/post-init.sh
  bitnami/sonarqube/10/debian-12/tags-info.yaml
Labels: verify, bitnami, sonarqube

#75915 [bitnami/ruby] Remove ruby 3.3
  bitnami/ruby/3.3/README.md
  bitnami/ruby/3.3/debian-12/Dockerfile
  bitnami/ruby/3.3/debian-12/docker-compose.yml
  bitnami/ruby/3.3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ruby/3.3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ruby/3.3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/ruby/3.3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/ruby/3.3/debian-12/tags-info.yaml
Labels: verify, bitnami, ruby

#75930 [bitnami/ejbca] Remove EJBCA 8
  bitnami/ejbca/8/README.md
  bitnami/ejbca/8/debian-12/Dockerfile
  bitnami/ejbca/8/debian-12/docker-compose.yml
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/ejbca/8/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/ejbca/8/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/ejbca/8/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/ejbca-env.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/ejbca/entrypoint.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/ejbca/postunpack.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/ejbca/run.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/ejbca/setup.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ejbca/8/debian-12/rootfs/opt/bitnami/scripts/libejbca.sh
  bitnami/ejbca/8/debian-12/tags-info.yaml
Labels: verify, bitnami, ejbca

#75931 [bitnami/java] Add Java 23
  bitnami/java/23/README.md
Labels: verify, bitnami, java
