Repository bitnami/containers, pull requests merged in 2024-01, with the labels that each got.

#54418 [bitnami/nginx-exporter] Remove 0 branch files
  bitnami/nginx-exporter/0/debian-11/Dockerfile
  bitnami/nginx-exporter/0/debian-11/docker-compose.yml
  bitnami/nginx-exporter/0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/nginx-exporter/0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/nginx-exporter/0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/nginx-exporter/0/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/nginx-exporter/0/debian-11/tags-info.yaml
Labels: verify, bitnami

#54679 [bitnami/supabase-studio] Use apps/studio destination folder
  .vib/supabase-studio/goss/supabase-studio.yaml
  .vib/supabase-studio/goss/vars.yaml
Labels: verify, bitnami

#54458 fix: add env variable KAFKA_CFG_MESSAGE_MAX_BYTES
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.4/debian-11/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.4/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.5/debian-11/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.5/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.6/debian-11/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.6/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
Labels: verify, in-progress, kafka

#54740 [bitnami/kong] Update test of goss
  .vib/kong/goss/goss.yaml
  .vib/kong/goss/kong.yaml
  .vib/kong/goss/vars.yaml
Labels: verify, bitnami

#54772 [bitnami/minio & bitnami/minio-client] Remove 2023 branch files
  bitnami/minio-client/2023/debian-11/Dockerfile
  bitnami/minio-client/2023/debian-11/docker-compose.yml
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/minio-client/2023/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/minio-client/2023/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/minio-client/2023/debian-11/rootfs/opt/bitnami/scripts/libminioclient.sh
  bitnami/minio-client/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client-env.sh
  bitnami/minio-client/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/entrypoint.sh
  bitnami/minio-client/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/postunpack.sh
  bitnami/minio-client/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/run.sh
  bitnami/minio-client/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/setup.sh
  bitnami/minio-client/2023/debian-11/tags-info.yaml
  bitnami/minio/2023/debian-11/Dockerfile
  bitnami/minio/2023/debian-11/docker-compose.yml
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/minio/2023/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/minio/2023/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/minio/2023/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/libminio.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/libminioclient.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client-env.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/entrypoint.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/postunpack.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/run.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-client/setup.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio-env.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio/entrypoint.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio/postunpack.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio/run.sh
  bitnami/minio/2023/debian-11/rootfs/opt/bitnami/scripts/minio/setup.sh
  bitnami/minio/2023/debian-11/tags-info.yaml
Labels: verify, bitnami

#54038 [bitnami/mysql] Feat mysqldump master database
  bitnami/mysql/8.0/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.0/debian-11/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/README.md
  bitnami/mysql/docker-compose-replication.yml
Labels: verify, mysql

#54732 pgbouncer: make server_fast_close configurable via env var
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#54906 [bitnami/sealed-secrets-*] Remove composes
  bitnami/sealed-secrets-controller/docker-compose.yml
  bitnami/sealed-secrets-kubeseal/docker-compose.yml
Labels: verify, bitnami

#54874 fix(pg-bouncer-env): remove asterisks
  bitnami/pgbouncer/1/debian-11/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
Labels: verify, in-progress, pgbouncer

#54308 [bitami/schema-registry] Integrated Schema Registry documentation with instructions for SSL setup
  bitnami/schema-registry/README.md
Labels: verify, in-progress, schema-registry

#55276 Skip setting kafka config from empty environment variables
  bitnami/kafka/3.2/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.3/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.4/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.5/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.6/debian-11/rootfs/opt/bitnami/scripts/libkafka.sh
Labels: verify, in-progress, kafka

#55349 [bitnami/openresyt] Deprecate branch 1.21
  bitnami/openresty/1.21/debian-11/Dockerfile
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/openresty/1.21/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/openresty/1.21/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/openresty/nginx/conf/bitnami/protect-hidden-files.conf
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/openresty/nginx/conf/nginx.conf
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/scripts/libopenresty.sh
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/scripts/openresty-env.sh
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/scripts/openresty/entrypoint.sh
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/scripts/openresty/postunpack.sh
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/scripts/openresty/run.sh
  bitnami/openresty/1.21/debian-11/rootfs/opt/bitnami/scripts/openresty/setup.sh
  bitnami/openresty/1.21/debian-11/tags-info.yaml
Labels: verify, bitnami

#55332 [bitnami/airflow] Update extra packages to check
  .vib/airflow/goss/vars.yaml
Labels: verify, bitnami

#55353 [bitnami/airflow-worker] Fix airflow goss tests
  .vib/airflow-scheduler/goss/vars.yaml
  .vib/airflow-worker/goss/vars.yaml
Labels: verify, bitnami

#54903 [bitnami/spark] Update to /bitnami/spark/README.md "Installing additional Jars" example
  bitnami/spark/README.md
Labels: verify, in-progress, spark

#55724 [bitnami/symfony] Deprecate branch 6.3
  bitnami/symfony/6.3/debian-11/Dockerfile
  bitnami/symfony/6.3/debian-11/prebuildfs/build/bitnami-user.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/symfony/6.3/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/symfony/6.3/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/libmysqlclient.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/libphp.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/libsymfony.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/mysql-client-env.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/mysql-client/postunpack.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/mysql-client/setup.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php-env.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/postunpack.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/reload.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/restart.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/run.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/setup.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/start.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/status.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/php/stop.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/symfony-env.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/symfony/entrypoint.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/symfony/postunpack.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/symfony/run.sh
  bitnami/symfony/6.3/debian-11/rootfs/opt/bitnami/scripts/symfony/setup.sh
  bitnami/symfony/6.3/debian-11/rootfs/post-init.d/php.sh
  bitnami/symfony/6.3/debian-11/rootfs/post-init.d/shell.sh
  bitnami/symfony/6.3/debian-11/rootfs/post-init.d/sql-mysql.sh
  bitnami/symfony/6.3/debian-11/rootfs/post-init.sh
  bitnami/symfony/6.3/debian-11/tags-info.yaml
Labels: verify, bitnami

#55718 [bitnami/wildfly] Fix check-app-version test
  .vib/wildfly/goss/vars.yaml
Labels: verify, bitnami

#55847 [bitnami/wildfly] Deprecate branch 30
  bitnami/wildfly/30/debian-11/Dockerfile
  bitnami/wildfly/30/debian-11/docker-compose.yml
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/30/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/30/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/30/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/30/debian-11/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/30/debian-11/tags-info.yaml
Labels: verify, bitnami
