Repository bitnami/containers, pull requests merged in 2024-07, with the labels that each got.

#67540 [bitnami/odoo] Add ODOO_LIST_DB envvar, defaulting to False
  bitnami/odoo/15/debian-12/rootfs/opt/bitnami/scripts/libodoo.sh
  bitnami/odoo/15/debian-12/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/15/debian-12/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/16/debian-12/rootfs/opt/bitnami/scripts/libodoo.sh
  bitnami/odoo/16/debian-12/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/16/debian-12/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/17/debian-12/rootfs/opt/bitnami/scripts/libodoo.sh
  bitnami/odoo/17/debian-12/rootfs/opt/bitnami/scripts/odoo-env.sh
  bitnami/odoo/17/debian-12/rootfs/opt/bitnami/scripts/odoo/bitnami-templates/odoo.conf.tpl
  bitnami/odoo/README.md
Labels: verify, stale, in-progress, odoo

#67791 [bitnami/gitea] Add new customizable environment variables - OAUTH2_CLIENT
  bitnami/gitea/1/debian-12/rootfs/opt/bitnami/gitea/custom/conf/app.ini.template
  bitnami/gitea/1/debian-12/rootfs/opt/bitnami/scripts/gitea-env.sh
  bitnami/gitea/1/debian-12/rootfs/opt/bitnami/scripts/libgitea.sh
  bitnami/gitea/README.md
Labels: verify, in-progress, gitea

#68068 [bitnami/phpmyadmin] fix wrong variables CONFIGURATION_ALLOWDENY_
  bitnami/phpmyadmin/5/debian-12/rootfs/opt/bitnami/scripts/libphpmyadmin.sh
Labels: verify, in-progress, phpmyadmin

#68236 [bitnami/postgresql] Updated libpostgresql.sh to specify a host to Postgres Commands
  bitnami/postgresql/16/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
Labels: verify, in-progress, postgresql

#68513 [bitnami/pgbouncer] Fixed order of `PGBOUNCER_INIT_SLEEP_TIME` and `PGBOUNCER_INIT_MAX_RETRIES` arguments inside `pgbouncer_initialize`
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/libpgbouncer.sh
Labels: verify, in-progress, pgbouncer

#68743 [bitnami/valkey-cluster] Adds test for valkey-cluster
  .vib/valkey-cluster/goss/goss.yaml
  .vib/valkey-cluster/goss/valkey-cluster.yaml
  .vib/valkey-cluster/goss/vars.yaml
  .vib/valkey-cluster/vib-verify.json
Labels: verify, bitnami

#68735 [bitnami/gitlab-runner] Deprecate branch 16.x
  bitnami/gitlab-runner/16/debian-12/Dockerfile
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/gitlab-runner/16/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/gitlab-runner/16/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/gitlab-runner/16/debian-12/rootfs/opt/bitnami/scripts/gitlab-runner/entrypoint.sh
  bitnami/gitlab-runner/16/debian-12/tags-info.yaml
Labels: verify, bitnami

#68737 [bitnami/gitlab-runner-helper] Deprecate branch 16.x
  bitnami/gitlab-runner-helper/16/debian-12/Dockerfile
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/gitlab-runner-helper/16/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/gitlab-runner-helper/16/debian-12/rootfs/opt/bitnami/scripts/gitlab-runner-helper/entrypoint.sh
  bitnami/gitlab-runner-helper/16/debian-12/tags-info.yaml
Labels: verify, bitnami

#68764 [bitnami/mediawiki] Update goss tests
  .vib/mediawiki/goss/vars.yaml
Labels: verify, mediawiki

#68126 [bitnami/pgbouncer] Add PGBOUNCER_APPLICATION_NAME_ADD_HOST
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/libpgbouncer.sh
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#69145 [bitnami/supabase-storage] test: :white_check_mark: Update npm stdout check
  .vib/supabase-storage/goss/supabase-storage.yaml
Labels: verify, bitnami

#68905 [bitnami/pgbouncer] log to stdout only by default
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/pgbouncer-env.sh
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#69186 Deprecate KSQL & Schema Registry 7.2
  bitnami/ksql/7.2/debian-12/Dockerfile
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/ksql/7.2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/ksql/7.2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/ksql-env.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/ksql/entrypoint.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/ksql/postunpack.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/ksql/run.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/ksql/setup.sh
  bitnami/ksql/7.2/debian-12/rootfs/opt/bitnami/scripts/libksql.sh
  bitnami/ksql/7.2/debian-12/tags-info.yaml
  bitnami/schema-registry/7.2/debian-12/Dockerfile
  bitnami/schema-registry/7.2/debian-12/docker-compose.yml
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/schema-registry/7.2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/schema-registry/7.2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/schema-registry/entrypoint.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/schema-registry/postunpack.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/schema-registry/run.sh
  bitnami/schema-registry/7.2/debian-12/rootfs/opt/bitnami/scripts/schema-registry/setup.sh
  bitnami/schema-registry/7.2/debian-12/tags-info.yaml
Labels: verify, bitnami

#69187 Deprecate Kafka 3.2
  bitnami/kafka/3.2/debian-12/Dockerfile
  bitnami/kafka/3.2/debian-12/docker-compose.yml
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/kafka/3.2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kafka/3.2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/kafka-env.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/kafka/entrypoint.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/kafka/postunpack.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/kafka/run.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/kafka/setup.sh
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.2/debian-12/tags-info.yaml
Labels: verify, bitnami

#69192 Deprecate MySQL 8.3
  bitnami/mysql/8.3/debian-12/Dockerfile
  bitnami/mysql/8.3/debian-12/docker-compose.yml
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mysql/8.3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mysql/8.3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/mysql/entrypoint.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/mysql/healthcheck.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/mysql/postunpack.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/mysql/run.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/mysql/setup.sh
  bitnami/mysql/8.3/debian-12/tags-info.yaml
Labels: verify, bitnami

#67957 [bitnami/keycloak] Add support for proxy-headers
  bitnami/keycloak/24/debian-12/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/24/debian-12/rootfs/opt/bitnami/scripts/libkeycloak.sh
Labels: verify, in-progress, keycloak

#69257 Remove extra READMEs in branch folders
  bitnami/appsmith/1/debian-12/README.md
  bitnami/cassandra/4.0/debian-12/README.md
  bitnami/cassandra/4.1/debian-12/README.md
  bitnami/cert-manager/1/debian-12/README.md
  bitnami/dremio/25/debian-12/README.md
  bitnami/ghost/5/debian-12/README.md
  bitnami/gitea/1/debian-12/README.md
  bitnami/gotrue/2/debian-12/README.md
  bitnami/jaeger/1/debian-12/README.md
  bitnami/keycloak-config-cli/6/debian-12/README.md
  bitnami/keycloak/24/debian-12/README.md
  bitnami/minio-client/2024/debian-12/README.md
  bitnami/minio/2024/debian-12/README.md
  bitnami/mlflow/2/debian-12/README.md
  bitnami/nessie-utils/0/debian-12/README.md
  bitnami/nessie/0/debian-12/README.md
  bitnami/nginx-ingress-controller/1/debian-12/README.md
  bitnami/node-exporter/1/debian-12/README.md
  bitnami/odoo/16/debian-12/README.md
  bitnami/ruby/3.3/debian-12/README.md
  bitnami/sonarqube/10/debian-12/README.md
  bitnami/spark/3.4/debian-12/README.md
  bitnami/spark/3.5/debian-12/README.md
  bitnami/supabase-realtime/2/debian-12/README.md
  bitnami/tomcat/10.1/debian-12/README.md
Labels: verify, bitnami

#69274 [bitnami/gradle] Increase GOSS timeout
  .vib/gradle/goss/gradle.yaml
Labels: verify, bitnami

#69348 [bitnami/hyperledger-fabric] ci: :construction_worker: Add VIB integration
  .vib/hyperledger-fabric-ca/goss/goss.yaml
  .vib/hyperledger-fabric-ca/goss/hyperledger-fabric-ca.yaml
  .vib/hyperledger-fabric-ca/goss/vars.yaml
  .vib/hyperledger-fabric-ca/vib-verify.json
  .vib/hyperledger-fabric-orderer/goss/goss.yaml
  .vib/hyperledger-fabric-orderer/goss/vars.yaml
  .vib/hyperledger-fabric-orderer/vib-verify.json
  .vib/hyperledger-fabric-peer/goss/goss.yaml
  .vib/hyperledger-fabric-peer/goss/hyperledger-fabric-peer.yaml
  .vib/hyperledger-fabric-peer/goss/vars.yaml
  .vib/hyperledger-fabric-peer/vib-verify.json
  .vib/hyperledger-fabric-tools/goss/goss.yaml
  .vib/hyperledger-fabric-tools/goss/hyperledger-fabric-tools.yaml
  .vib/hyperledger-fabric-tools/goss/vars.yaml
  .vib/hyperledger-fabric-tools/vib-verify.json
Labels: verify, bitnami

#69370 chore: deprecate Cilium Proxy 1.28 branch
  bitnami/cilium-proxy/1.28/debian-12/Dockerfile
  bitnami/cilium-proxy/1.28/debian-12/docker-compose.yml
  bitnami/cilium-proxy/1.28/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/cilium-proxy/1.28/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/cilium-proxy/1.28/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/cilium-proxy/1.28/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/cilium-proxy/1.28/debian-12/tags-info.yaml
Labels: verify, bitnami

#69279 [bitnami/kafka] Updated cluster id argument for formatting storage in Kraft mode
  bitnami/kafka/3.7/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
Labels: verify, in-progress, kafka

#69397 Deprecate Kubectl 1.27 and Keycloak Config CLI 5
  bitnami/keycloak-config-cli/5/debian-12/Dockerfile
  bitnami/keycloak-config-cli/5/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak-config-cli/5/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak-config-cli/5/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak-config-cli/5/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/keycloak-config-cli/5/debian-12/tags-info.yaml
  bitnami/kubectl/1.27/debian-12/Dockerfile
  bitnami/kubectl/1.27/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kubectl/1.27/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kubectl/1.27/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kubectl/1.27/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kubectl/1.27/debian-12/tags-info.yaml
Labels: verify, bitnami

#69391 [bitnami/charts-syncer] Add VIB basic tests
  .vib/charts-syncer/vib-verify.json
Labels: verify, bitnami

#69389 [bitnami/kong]: fix libkong.sh kong_stop function
  bitnami/kong/3/debian-12/rootfs/opt/bitnami/scripts/libkong.sh
Labels: verify, in-progress, kong

#69439 [bitnami/rabbitmq] RabbitMQ UI support IPv6
  bitnami/rabbitmq/3.12/debian-12/rootfs/opt/bitnami/scripts/librabbitmq.sh
  bitnami/rabbitmq/3.13/debian-12/rootfs/opt/bitnami/scripts/librabbitmq.sh
Labels: verify, in-progress, rabbitmq

#69505 [bitnami/volsync] ci: :construction_worker: Add VIB integration
  .vib/volsync/goss/goss.yaml
  .vib/volsync/goss/vars.yaml
  .vib/volsync/vib-verify.json
Labels: verify, bitnami

#69786 Deprecate MariaDB 11.3
  bitnami/mariadb-galera/11.3/debian-12/Dockerfile
  bitnami/mariadb-galera/11.3/debian-12/docker-compose.yml
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb-galera/11.3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/libldapclient.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/entrypoint.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/healthcheck.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/postunpack.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/run.sh
  bitnami/mariadb-galera/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-galera/setup.sh
  bitnami/mariadb-galera/11.3/debian-12/tags-info.yaml
  bitnami/mariadb/11.3/debian-12/Dockerfile
  bitnami/mariadb/11.3/debian-12/docker-compose.yml
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb/11.3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb/11.3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/libmariadb.sh
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb/entrypoint.sh
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb/healthcheck.sh
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb/postunpack.sh
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb/run.sh
  bitnami/mariadb/11.3/debian-12/rootfs/opt/bitnami/scripts/mariadb/setup.sh
  bitnami/mariadb/11.3/debian-12/tags-info.yaml
Labels: verify, bitnami

#70360 [bitnami/rust] Add tests for Rust
  .vib/rust/goss/goss.yaml
  .vib/rust/goss/vars.yaml
  .vib/rust/vib-verify.json
Labels: verify, bitnami

#70366 [bitnami/rust] Fix typo in Rust tests
  .vib/rust/goss/vars.yaml
Labels: verify, bitnami

#70382 [bitnami/grafana] test: :white_check_mark: Add workaround for version 11.1.2
  .vib/grafana/goss/vars.yaml
Labels: verify, bitnami

#70435 [bitnami/grafana] Add workaround for version 11.1.3
  .vib/grafana/goss/vars.yaml
Labels: verify, bitnami

#67370 [bitnami/postgresql-repmgr]Add judge primary node ip port is itslef
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
Labels: verify, stale, in-progress, postgresql-repmgr
