Repository bitnami/containers, pull requests merged in 2024-03, with the labels that each got.

#63479 [bitnami/supabase-storage] Delete ecosystem.config.js from goss tests
  .vib/supabase-storage/goss/vars.yaml
Labels: verify, bitnami

#63437 [bitnami/etcd] Stop logging root password
  bitnami/etcd/3.4/debian-12/rootfs/opt/bitnami/scripts/etcd/run.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/run.sh
Labels: verify, in-progress, etcd

#63547 [bitnami/kubeapps-apis] Fix GOSS test
  .vib/kubeapps-apis/goss/vars.yaml
Labels: verify, bitnami

#63695 [bitnami/etcd]: support for enabling both RBAC & TLS
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/libetcd.sh
Labels: verify, bitnami, etcd

#63358 [bitnami/cassandra] Add possibility to update cassandra.yaml from the environment variables
  bitnami/cassandra/4.0/debian-12/rootfs/opt/bitnami/scripts/libcassandra.sh
  bitnami/cassandra/4.1/debian-12/rootfs/opt/bitnami/scripts/libcassandra.sh
  bitnami/cassandra/README.md
Labels: verify, in-progress, cassandra

#63745 [bitnami/kubescape] Increase test timeout
  .vib/kubescape/goss/kubescape.yaml
Labels: verify, bitnami

#63795 Delete .github/workflows/migration.yml
  .github/workflows/migration.yml
Labels: verify, bitnami

#63498 remove duplicates from README
  bitnami/minio/README.md
Labels: in-progress, minio

#63461 [bitnami/wordpress] Deflate javascript with mime-type text/javascript
  bitnami/wordpress/6/debian-12/rootfs/opt/bitnami/apache/conf/deflate.conf
Labels: verify, in-progress, wordpress

#63887 Missing env [POSTGRESQL_PASSWORD] reference error in README.md file
  bitnami/pgbouncer/README.md
Labels: verify, in-progress, pgbouncer

#63953 [bitnami/neo4j] Increase goss tests timeout
  .vib/neo4j/goss/neo4j.yaml
Labels: verify, neo4j

#63945 feat(keycloak): add jdbc driver as a parameter
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/libkeycloak.sh
Labels: verify, in-progress, keycloak

#63973 [bitnami/spark] Deprecate branches 3.2 and 3.3
  bitnami/spark/3.2/debian-12/Dockerfile
  bitnami/spark/3.2/debian-12/docker-compose.yml
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/spark/3.2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/spark/3.2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/spark/3.2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/libspark.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/spark-env.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/spark/entrypoint.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/spark/postunpack.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/spark/run.sh
  bitnami/spark/3.2/debian-12/rootfs/opt/bitnami/scripts/spark/setup.sh
  bitnami/spark/3.2/debian-12/tags-info.yaml
  bitnami/spark/3.3/debian-12/Dockerfile
  bitnami/spark/3.3/debian-12/docker-compose.yml
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/spark/3.3/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/spark/3.3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/spark/3.3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/libspark.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/spark-env.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/spark/entrypoint.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/spark/postunpack.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/spark/run.sh
  bitnami/spark/3.3/debian-12/rootfs/opt/bitnami/scripts/spark/setup.sh
  bitnami/spark/3.3/debian-12/tags-info.yaml
Labels: verify, bitnami

#63820 Fix some typos in postgresql readme
  bitnami/postgresql/README.md
Labels: verify, in-progress, postgresql
