Repository bitnami/containers, pull requests merged in 2024-02, with the labels that each got.

#52255 [bitnami/grafana] Ensure bitnami/grafana folder is created with usable permissions
  bitnami/grafana/10/debian-11/rootfs/opt/bitnami/scripts/grafana-env.sh
  bitnami/grafana/10/debian-11/rootfs/opt/bitnami/scripts/grafana/postunpack.sh
Labels: verify, in-progress, grafana

#55359 add CASSANDRA_DELAY_START_TIME environment variable
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/cassandra-env.sh
  bitnami/cassandra/4.0/debian-11/rootfs/opt/bitnami/scripts/cassandra/entrypoint.sh
  bitnami/cassandra/4.1/debian-11/rootfs/opt/bitnami/scripts/cassandra-env.sh
  bitnami/cassandra/4.1/debian-11/rootfs/opt/bitnami/scripts/cassandra/entrypoint.sh
  bitnami/cassandra/README.md
Labels: verify, in-progress, cassandra

#55980 [bitnami/redis-cluster] Modify the readme file to describe the redis rdb persistence strategy
  bitnami/redis-cluster/README.md
  bitnami/redis/README.md
Labels: verify, in-progress, redis-cluster

#56383 [bitnami/containers] Remove SRP report
  .github/workflows/srp-report.yml
Labels: verify, bitnami

#55562 [bitnami/minio] Update minio-env.sh to allow custom path for persist
  bitnami/minio/2024/debian-11/rootfs/opt/bitnami/scripts/minio-env.sh
  bitnami/minio/README.md
Labels: verify, in-progress, minio

#56565 [bitnami/mysql] Deprecate MySQL 8.2
  bitnami/mysql/8.2/debian-11/Dockerfile
  bitnami/mysql/8.2/debian-11/docker-compose.yml
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mysql/8.2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mysql/8.2/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql/entrypoint.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql/healthcheck.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql/postunpack.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql/run.sh
  bitnami/mysql/8.2/debian-11/rootfs/opt/bitnami/scripts/mysql/setup.sh
  bitnami/mysql/8.2/debian-11/tags-info.yaml
Labels: verify, bitnami

#56590 [bitnami/jasperreports] Add deprecation notice
  bitnami/jasperreports/README.md
Labels: verify, bitnami, jasperreports

#56617 [bitnami/reportserver] Add deprecation notice
  bitnami/reportserver/README.md
Labels: verify, bitnami, reportserver

#56652 [bitnami/mariadb & bitnami/mariadb-galera] Deprecate branch 10.10
  bitnami/mariadb-galera/10.10/debian-11/Dockerfile
  bitnami/mariadb-galera/10.10/debian-11/docker-compose.yml
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb-galera/10.10/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/libldapclient.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/entrypoint.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/healthcheck.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/postunpack.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/run.sh
  bitnami/mariadb-galera/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-galera/setup.sh
  bitnami/mariadb-galera/10.10/debian-11/tags-info.yaml
  bitnami/mariadb/10.10/debian-11/Dockerfile
  bitnami/mariadb/10.10/debian-11/docker-compose.yml
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb/10.10/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb/10.10/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/libmariadb.sh
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb/entrypoint.sh
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb/healthcheck.sh
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb/postunpack.sh
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb/run.sh
  bitnami/mariadb/10.10/debian-11/rootfs/opt/bitnami/scripts/mariadb/setup.sh
  bitnami/mariadb/10.10/debian-11/tags-info.yaml
Labels: verify, bitnami

#56653 [bitnami/reportserver] deprecate reportserver
  .vib/reportserver/goss/goss.yaml
  .vib/reportserver/goss/reportserver.yaml
  .vib/reportserver/goss/vars.yaml
  .vib/reportserver/vib-verify.json
  bitnami/reportserver/4/debian-11/Dockerfile
  bitnami/reportserver/4/debian-11/docker-compose.yml
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/reportserver/4/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/reportserver/4/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/reportserver/4/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/libmysqlclient.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/libreportserver.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/mysql-client-env.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/mysql-client/postunpack.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/mysql-client/setup.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/reportserver-env.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/reportserver/entrypoint.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/reportserver/postunpack.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/reportserver/setup.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/reportserver/4/debian-11/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/reportserver/4/debian-11/rootfs/post-init.d/shell.sh
  bitnami/reportserver/4/debian-11/rootfs/post-init.d/sql-mysql.sh
  bitnami/reportserver/4/debian-11/rootfs/post-init.sh
  bitnami/reportserver/4/debian-11/tags-info.yaml
  bitnami/reportserver/README.md
  bitnami/reportserver/docker-compose.yml
Labels: verify, bitnami

#58072 [bitnami/containers] CSP_API_TOKEN for CI pipelines
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#58013 [bitnami/jasperreports] Deprecate JasperReports container
  .vib/jasperreports/goss/goss.yaml
  .vib/jasperreports/goss/jasperreports.yaml
  .vib/jasperreports/goss/vars.yaml
  .vib/jasperreports/vib-verify.json
  bitnami/jasperreports/8/debian-11/Dockerfile
  bitnami/jasperreports/8/debian-11/docker-compose.yml
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/jasperreports/8/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/jasperreports/8/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/jasperreports-env.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/jasperreports/entrypoint.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/jasperreports/postunpack.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/jasperreports/setup.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libjasperreports.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libmysqlclient.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libpostgresqlclient.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/mysql-client-env.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/mysql-client/postunpack.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/mysql-client/setup.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/postgresql-client-env.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/postgresql-client/setup.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/jasperreports/8/debian-11/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/jasperreports/8/debian-11/rootfs/post-init.d/shell.sh
  bitnami/jasperreports/8/debian-11/rootfs/post-init.d/sql-mysql.sh
  bitnami/jasperreports/8/debian-11/rootfs/post-init.sh
  bitnami/jasperreports/8/debian-11/tags-info.yaml
  bitnami/jasperreports/README.md
  bitnami/jasperreports/docker-compose.yml
Labels: verify, bitnami

#58197 [bitnami/wildfly] Remove wildfly 26
  bitnami/wildfly/26/debian-11/Dockerfile
  bitnami/wildfly/26/debian-11/docker-compose.yml
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/26/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/26/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/26/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/26/debian-11/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/26/debian-11/tags-info.yaml
Labels: verify, bitnami

#59385 [bitnami/clickhouse] Deprecate branch 23.x.x
  bitnami/clickhouse/23/debian-11/Dockerfile
  bitnami/clickhouse/23/debian-11/docker-compose.yml
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/clickhouse/23/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/clickhouse/23/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/clickhouse/23/debian-11/rootfs/opt/bitnami/scripts/clickhouse-env.sh
  bitnami/clickhouse/23/debian-11/rootfs/opt/bitnami/scripts/clickhouse/entrypoint.sh
  bitnami/clickhouse/23/debian-11/rootfs/opt/bitnami/scripts/clickhouse/postunpack.sh
  bitnami/clickhouse/23/debian-11/rootfs/opt/bitnami/scripts/clickhouse/run.sh
  bitnami/clickhouse/23/debian-11/rootfs/opt/bitnami/scripts/clickhouse/setup.sh
  bitnami/clickhouse/23/debian-11/rootfs/opt/bitnami/scripts/libclickhouse.sh
  bitnami/clickhouse/23/debian-11/tags-info.yaml
Labels: verify, bitnami

#56375 [bitnami/redis] Add new environment variable REDIS_TLS_CA_DIR to support tls-ca-cert-dir config in redis.conf
  bitnami/redis/6.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/6.2/debian-11/rootfs/opt/bitnami/scripts/redis-env.sh
  bitnami/redis/7.0/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/7.0/debian-11/rootfs/opt/bitnami/scripts/redis-env.sh
  bitnami/redis/7.2/debian-11/rootfs/opt/bitnami/scripts/libredis.sh
  bitnami/redis/7.2/debian-11/rootfs/opt/bitnami/scripts/redis-env.sh
  bitnami/redis/README.md
Labels: verify, in-progress, redis

#53963 feat(keycloak): expose default ports
  bitnami/keycloak/23/debian-11/Dockerfile
Labels: verify, keycloak

#61808 [bitnami/*] Add exclude_path for aspnet-core, dotnet-sdk and dotnet
  .vib/aspnet-core/goss/vars.yaml
  .vib/dotnet-sdk/goss/vars.yaml
  .vib/dotnet/goss/vars.yaml
Labels: verify, bitnami

#62072 [bitnami/kapacitor bitnami/percona-xtrabackup] Add deprecation for those assets
  .vib/kapacitor/goss/goss.yaml
  .vib/kapacitor/goss/vars.yaml
  .vib/kapacitor/vib-verify.json
  .vib/percona-xtrabackup/goss/goss.yaml
  .vib/percona-xtrabackup/goss/vars.yaml
  .vib/percona-xtrabackup/vib-verify.json
  bitnami/kapacitor/1/debian-11/Dockerfile
  bitnami/kapacitor/1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kapacitor/1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kapacitor/1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/kapacitor/1/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/kapacitor/1/debian-11/tags-info.yaml
  bitnami/kapacitor/README.md
  bitnami/percona-xtrabackup/2.4/debian-11/Dockerfile
  bitnami/percona-xtrabackup/2.4/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/percona-xtrabackup/2.4/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/percona-xtrabackup/2.4/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/percona-xtrabackup/2.4/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/percona-xtrabackup/2.4/debian-11/tags-info.yaml
  bitnami/percona-xtrabackup/8.0/debian-11/Dockerfile
  bitnami/percona-xtrabackup/8.0/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/percona-xtrabackup/8.0/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/percona-xtrabackup/8.0/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/percona-xtrabackup/8.0/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/percona-xtrabackup/8.0/debian-11/tags-info.yaml
  bitnami/percona-xtrabackup/8.1/debian-11/Dockerfile
  bitnami/percona-xtrabackup/8.1/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/percona-xtrabackup/8.1/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/percona-xtrabackup/8.1/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/percona-xtrabackup/8.1/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/percona-xtrabackup/8.1/debian-11/tags-info.yaml
  bitnami/percona-xtrabackup/8.2/debian-11/Dockerfile
  bitnami/percona-xtrabackup/8.2/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/percona-xtrabackup/8.2/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/percona-xtrabackup/8.2/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/percona-xtrabackup/8.2/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/percona-xtrabackup/8.2/debian-11/tags-info.yaml
  bitnami/percona-xtrabackup/README.md
Labels: verify, bitnami

#55910 [bitnami/mongodb-sharded] Update libmongodb.sh : mongodb_is_primary_node_up() function : grep check to find if mongod instance changed from secondary to primary
  bitnami/mongodb-sharded/7.0/debian-11/rootfs/opt/bitnami/scripts/libmongodb.sh
Labels: verify, in-progress, mongodb-sharded

#62210 [bitnami/kafka]: (fix) allow setting Kafka properties with empty values
  bitnami/kafka/3.2/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.3/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.4/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.5/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
  bitnami/kafka/3.6/debian-12/rootfs/opt/bitnami/scripts/libkafka.sh
Labels: verify, kafka, bitnami

#62919 [bitnami/redis] test: :white_check_mark: Add sleep to avoid race condition
  .vib/redis/goss/redis.yaml
Labels: verify, bitnami

#63337 [bitnami/openldap] Removes debian-11
  bitnami/openldap/2.5/debian-11/Dockerfile
  bitnami/openldap/2.5/debian-11/docker-compose.yml
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/openldap/2.5/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/openldap/2.5/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/openldap/entrypoint.sh
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/openldap/postunpack.sh
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/openldap/run.sh
  bitnami/openldap/2.5/debian-11/rootfs/opt/bitnami/scripts/openldap/setup.sh
  bitnami/openldap/2.5/debian-11/tags-info.yaml
  bitnami/openldap/2.6/debian-11/Dockerfile
  bitnami/openldap/2.6/debian-11/docker-compose.yml
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/openldap/2.6/debian-11/prebuildfs/usr/sbin/install_packages
  bitnami/openldap/2.6/debian-11/prebuildfs/usr/sbin/run-script
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/openldap/entrypoint.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/openldap/postunpack.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/openldap/run.sh
  bitnami/openldap/2.6/debian-11/rootfs/opt/bitnami/scripts/openldap/setup.sh
  bitnami/openldap/2.6/debian-11/tags-info.yaml
Labels: verify, bitnami

#63342 [bitnami/percona-mysql] Remove xtrabackup binary from GOSS test
  .vib/percona-mysql/goss/vars.yaml
Labels: verify, bitnami

#55126 Fix mysqldump master database
  bitnami/mysql/8.0/debian-12/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.3/debian-12/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/README.md
Labels: verify, in-progress, mysql

#63392 [bitnami/grafana-image-renderer] Fix goss tests: sed-in-place and linked-libraries
  .vib/grafana-image-renderer/goss/vars.yaml
Labels: verify, bitnami

#63424 [bitnami/jruby] Deprecate JRuby
  .vib/jruby/goss/goss.yaml
  .vib/jruby/goss/jruby.yaml
  .vib/jruby/goss/vars.yaml
  .vib/jruby/vib-verify.json
  bitnami/jruby/9.4/debian-12/Dockerfile
  bitnami/jruby/9.4/debian-12/docker-compose.yml
  bitnami/jruby/9.4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jruby/9.4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jruby/9.4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/jruby/9.4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/jruby/9.4/debian-12/tags-info.yaml
  bitnami/jruby/README.md
  bitnami/jruby/docker-compose.yml
Labels: verify, bitnami

#63456 [bitnami/airflow] chore: :construction_worker: Increase timeout of package action
  .vib/airflow-scheduler/vib-verify.json
  .vib/airflow-worker/vib-verify.json
  .vib/airflow/vib-verify.json
Labels: verify, bitnami

#63457 [bitnami/*] Update GOSS check-ca-certs destination
  .vib/common/goss/templates/check-ca-certs.yaml
Labels: verify, bitnami

#60775 [bitnami/mastodon]: support AUTHORIZED_FETCH and LIMITED_FEDERATION_MODE variables
  bitnami/mastodon/4/debian-12/rootfs/opt/bitnami/scripts/mastodon-env.sh
  bitnami/mastodon/README.md
Labels: verify, auto-merge, in-progress, mastodon
