Repository bitnami/containers, pull requests merged in 2024-10, with the labels that each got.

#73152 [bitnami/python] Deprecate branch 3.8
  bitnami/python/3.8/debian-12/Dockerfile
  bitnami/python/3.8/debian-12/docker-compose.yml
  bitnami/python/3.8/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/python/3.8/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/python/3.8/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/python/3.8/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/python/3.8/debian-12/tags-info.yaml
Labels: verify, bitnami

#73238 docs/correct-timezone-descriptions
  bitnami/postgresql/README.md
Labels: verify, in-progress, postgresql

#73287 [bitnami/mastodon] test: :white_check_mark: Update sed exclude list
  .vib/mastodon/goss/vars.yaml
Labels: verify, bitnami

#73403 [bitnami/grafana] Fix check-app-version GOSS test
  .vib/grafana/goss/vars.yaml
Labels: verify, bitnami

#73404 [bitnami/grafana] Fix check-app-version GOSS test
  .vib/grafana/goss/vars.yaml
Labels: verify, bitnami

#73962 ci: avoid running ldd against static binaries
  .vib/common/goss/scripts/check-linked-libraries.sh
Labels: verify, bitnami

#74022 Several branches deprecations
  bitnami/contour/1.27/debian-12/Dockerfile
  bitnami/contour/1.27/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour/1.27/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.27/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.27/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/contour/1.27/debian-12/tags-info.yaml
  bitnami/envoy/1.28/debian-12/Dockerfile
  bitnami/envoy/1.28/debian-12/docker-compose-testing.yml
  bitnami/envoy/1.28/debian-12/docker-compose.yml
  bitnami/envoy/1.28/debian-12/examples/frontend.yaml
  bitnami/envoy/1.28/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.28/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.28/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.28/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.28/debian-12/tags-info.yaml
  bitnami/node/20/debian-12/Dockerfile
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/node/20/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/node/20/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/node/20/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/node/20/debian-12/rootfs/opt/bitnami/scripts/node/postunpack.sh
  bitnami/node/20/debian-12/tags-info.yaml
  bitnami/scylladb/5.4/debian-12/Dockerfile
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/scylladb/5.4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/scylladb/5.4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/libscylladb.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/scylladb-env.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/scylladb/entrypoint.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/scylladb/postunpack.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/scylladb/run.sh
  bitnami/scylladb/5.4/debian-12/rootfs/opt/bitnami/scripts/scylladb/setup.sh
  bitnami/scylladb/5.4/debian-12/tags-info.yaml
Labels: verify, bitnami

#73541 [bitnami/postgresql-pgpool] use correct node port on healthcheck
  bitnami/pgpool/4/debian-12/rootfs/opt/bitnami/scripts/libpgpool.sh
Labels: verify, in-progress, pgpool

#74021 [bitnami/postgresql-pgpool] encrypt health check passwords inside pgp…
  bitnami/pgpool/4/debian-12/rootfs/opt/bitnami/scripts/libpgpool.sh
Labels: verify, in-progress, pgpool
