Repository bitnami/containers, pull requests merged in 2024-08, with the labels that each got.

#66534 [bitnami/airflow] Escape special characters in Airflow LDAP configuration values
  bitnami/airflow-scheduler/2/debian-12/rootfs/opt/bitnami/scripts/libairflow.sh
  bitnami/airflow-worker/2/debian-12/rootfs/opt/bitnami/scripts/libairflow.sh
  bitnami/airflow/2/debian-12/rootfs/opt/bitnami/scripts/libairflow.sh
Labels: verify, airflow, in-progress, airflow-scheduler, airflow-worker

#70431 [.vib] Add chainloop containers VIB files
  .vib/chainloop-artifact-cas/vib-verify.json
  .vib/chainloop-control-plane-migrations/vib-verify.json
  .vib/chainloop-control-plane/vib-verify.json
Labels: verify, bitnami

#69426 [bitnami/postgresql-repmgr] Fixing POSTGRESQL_INIT_MAX_TIMEOUT didn't take effect
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
Labels: verify, in-progress, postgresql-repmgr

#70502 [bitnami/joomla] Deprecation notice
  bitnami/joomla/README.md
Labels: verify, bitnami, joomla

#70445 [bitnami/keycloak] Use Java 21 with Keycloak 25
  bitnami/keycloak/25/debian-12/Dockerfile
Labels: verify, in-progress, keycloak

#70498 [bitnami/mediawiki] Add deprecation notice
  bitnami/mediawiki/README.md
Labels: verify, bitnami, mediawiki

#70600 [bitnami/phpbb] Add deprecation notice
  bitnami/phpbb/README.md
Labels: verify, bitnami, phpbb

#70572 [bitnami/opencart] docs: :memo: :wastebasket: Add deprecation notice
  bitnami/opencart/README.md
Labels: verify, bitnami, opencart

#70466 [bitnami/keycloak] add variables to support hostname v2
  bitnami/keycloak/25/debian-12/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/25/debian-12/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/README.md
Labels: verify, in-progress, keycloak

#70621 Deprecate WildFly 32
  bitnami/wildfly/32/debian-12/Dockerfile
  bitnami/wildfly/32/debian-12/docker-compose.yml
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/32/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/32/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/32/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/32/debian-12/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/32/debian-12/tags-info.yaml
Labels: verify, bitnami

#70613 [bitnami/keycloak] Add management port to EXPOSE
  bitnami/keycloak/25/debian-12/Dockerfile
Labels: verify, in-progress, keycloak

#70507 [bitnami/postgresql-repmgr] Support passing the timeout parameter in Phase repmgr_clone_primary
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
Labels: verify, in-progress, postgresql-repmgr

#69453 [bitnami/openldap] Update `ldap_start_bg` argument description
  bitnami/openldap/2.5/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#70739 [bitnami/cassandra] fix non-existent certs folder
  bitnami/cassandra/4.0/debian-12/rootfs/opt/bitnami/scripts/libcassandra.sh
  bitnami/cassandra/4.1/debian-12/rootfs/opt/bitnami/scripts/libcassandra.sh
Labels: verify, in-progress, cassandra

#69251 Fix issue with SONARQUBE_EXTRA_PROPERTIES containing equals
  bitnami/sonarqube/10/debian-12/rootfs/opt/bitnami/scripts/libsonarqube.sh
  bitnami/sonarqube/9/debian-12/rootfs/opt/bitnami/scripts/libsonarqube.sh
Labels: verify, in-progress, sonarqube

#71006 [bitnami/java] Change working directory to /app
  bitnami/java/1.8/debian-12/Dockerfile
  bitnami/java/11/debian-12/Dockerfile
  bitnami/java/17/debian-12/Dockerfile
  bitnami/java/21/debian-12/Dockerfile
  bitnami/java/22/debian-12/Dockerfile
Labels: verify, in-progress, java

#71060 [bitnami/keydb] ci: VIB tests
  .vib/keydb/goss/goss.yaml
  .vib/keydb/goss/keydb.yaml
  .vib/keydb/goss/vars.yaml
  .vib/keydb/vib-verify.json
Labels: verify, bitnami

#71156 [bitnami/mariadb-galera] Fix healthcheck if MARIADB_ROOT_USER != root
  bitnami/mariadb-galera/10.11/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/10.4/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/10.5/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/10.6/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/11.1/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/11.2/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
  bitnami/mariadb-galera/11.4/debian-12/rootfs/opt/bitnami/scripts/libmariadbgalera.sh
Labels: verify, in-progress, mariadb-galera
