Repository bitnami/containers, pull requests merged in 2024-04, with the labels that each got.

#64132 [bitnami/redis-cluster] Fixed incorrect words and added examples
  bitnami/redis-cluster/README.md
Labels: verify, in-progress, redis-cluster

#64566 [bitnami/laravel] Deprecate Laravel 9
  bitnami/laravel/9/debian-12/Dockerfile
  bitnami/laravel/9/debian-12/prebuildfs/build/bitnami-user.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/laravel/9/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/laravel/9/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/laravel/9/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/laravel-env.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/laravel/entrypoint.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/laravel/postunpack.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/laravel/run.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/laravel/setup.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/liblaravel.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/libphp.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php-env.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/postunpack.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/reload.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/restart.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/run.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/setup.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/start.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/status.sh
  bitnami/laravel/9/debian-12/rootfs/opt/bitnami/scripts/php/stop.sh
  bitnami/laravel/9/debian-12/rootfs/post-init.d/php.sh
  bitnami/laravel/9/debian-12/rootfs/post-init.d/shell.sh
  bitnami/laravel/9/debian-12/rootfs/post-init.sh
  bitnami/laravel/9/debian-12/tags-info.yaml
Labels: verify, bitnami

#63976 [bitnami/solr] document SOLR_ZK_HOSTS variable
  bitnami/solr/README.md
Labels: in-progress, solr

#64601 [bitnami/janusgraph] Add .vib tests
  .vib/janusgraph/goss/goss.yaml
  .vib/janusgraph/goss/vars.yaml
  .vib/janusgraph/vib-verify.json
Labels: verify, bitnami

#64639 [bitnami/seaweedfs] Initial vib configuration
  .vib/seaweedfs/vib-verify.json
Labels: verify, bitnami

#64645 [bitnami/parse] Deprecate Parse 5
  bitnami/parse/5/debian-12/Dockerfile
  bitnami/parse/5/debian-12/docker-compose.yml
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/parse/5/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/parse/5/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/parse/5/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/libmongodbshell.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/libparse.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/mongodb-shell-env.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/mongodb-shell/setup.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/parse-env.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/parse/entrypoint.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/parse/postunpack.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/parse/run.sh
  bitnami/parse/5/debian-12/rootfs/opt/bitnami/scripts/parse/setup.sh
  bitnami/parse/5/debian-12/rootfs/post-init.d/shell.sh
  bitnami/parse/5/debian-12/rootfs/post-init.sh
  bitnami/parse/5/debian-12/tags-info.yaml
Labels: verify, bitnami

#64953 [bitnami/kubeapps-apis] Update goss test
  .vib/kubeapps-apis/goss/vars.yaml
Labels: verify, bitnami

#64987 [bitnami/keycloak] Deprecate Keycloak 23
  bitnami/keycloak/23/debian-12/Dockerfile
  bitnami/keycloak/23/debian-12/docker-compose.yml
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/keycloak/23/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/keycloak/23/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/keycloak/23/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/keycloak-env.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/keycloak/entrypoint.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/keycloak/postunpack.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/keycloak/run.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/keycloak/setup.sh
  bitnami/keycloak/23/debian-12/rootfs/opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/23/debian-12/tags-info.yaml
Labels: verify, bitnami

#64184 [bitnami/keycloak] Add KC_RUN_IN_CONTAINER env. var.
  bitnami/keycloak/24/debian-12/rootfs/opt/bitnami/scripts/keycloak-env.sh
Labels: verify, in-progress, keycloak

#65055 [bitnami/gotrue] Deprecate branch 1.x
  bitnami/gotrue/1/debian-12/Dockerfile
  bitnami/gotrue/1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gotrue/1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gotrue/1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/gotrue/1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/gotrue/1/debian-12/tags-info.yaml
Labels: verify, bitnami

#65094 Deprecate Envoy 1.25 and 1.26
  bitnami/envoy/1.25/debian-12/Dockerfile
  bitnami/envoy/1.25/debian-12/docker-compose.yml
  bitnami/envoy/1.25/debian-12/examples/frontend.yaml
  bitnami/envoy/1.25/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.25/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.25/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.25/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.25/debian-12/tags-info.yaml
  bitnami/envoy/1.26/debian-12/Dockerfile
  bitnami/envoy/1.26/debian-12/docker-compose.yml
  bitnami/envoy/1.26/debian-12/examples/frontend.yaml
  bitnami/envoy/1.26/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.26/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.26/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.26/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.26/debian-12/tags-info.yaml
Labels: verify, bitnami

#65192 [bitnami/supabase-studio] Update tests for Supabase Studio 0.24.3
  .vib/supabase-studio/goss/supabase-studio.yaml
  .vib/supabase-studio/goss/vars.yaml
Labels: verify, bitnami

#65213 [bitnami/jenkins] update README.md
  bitnami/jenkins/README.md
Labels: verify, in-progress, jenkins

#65198 [bitnami/elasticsearch] Enclose IPv6 addresses in square brackets in the healthcheck URL.
  bitnami/elasticsearch/7/debian-12/rootfs/opt/bitnami/scripts/libelasticsearch.sh
  bitnami/elasticsearch/8/debian-12/rootfs/opt/bitnami/scripts/libelasticsearch.sh
Labels: verify, in-progress, elasticsearch

#65295 [bitnami/cypress] chore: :construction_worker: :white_check_mark: Add VIB integration
  .vib/cypress/goss/cypress.yaml
  .vib/cypress/goss/goss.yaml
  .vib/cypress/goss/vars.yaml
  .vib/cypress/vib-verify.json
Labels: verify, bitnami

#65187 [bitnami/postgresql-repmgr] Added env vars for controlling repmgr monitoring
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/README.md
Labels: verify, in-progress, postgresql-repmgr

#65662 [bitnami/argo-workflow-exec] Skip copy-readme.sh from sed-in-place test
  .vib/argo-workflow-exec/goss/vars.yaml
Labels: verify, bitnami

#64995 [bitnami/opencart] Fix opencart admin urls on OPENCART_ENABLE_HTTPS=true
  bitnami/opencart/4/debian-12/rootfs/opt/bitnami/scripts/libopencart.sh
Labels: verify, in-progress, opencart

#65657 [bitnami/grafana-loki] Remove Grafana Loki 2.x.x
  bitnami/grafana-loki/2/debian-12/Dockerfile
  bitnami/grafana-loki/2/debian-12/examples/loki.yaml
  bitnami/grafana-loki/2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-loki/2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-loki/2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-loki/2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/grafana-loki/2/debian-12/tags-info.yaml
Labels: verify, bitnami

#65655 [bitnami/promtail] Remove Promtail 2.x.x
  bitnami/promtail/2/debian-12/Dockerfile
  bitnami/promtail/2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/promtail/2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/promtail/2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/promtail/2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/promtail/2/debian-12/tags-info.yaml
Labels: verify, bitnami

#65685 [bitnami/Keycloak] Fix typo is_empty_valye in /opt/bitnami/scripts/libkeycloak.sh
  bitnami/keycloak/24/debian-12/rootfs/opt/bitnami/scripts/libkeycloak.sh
Labels: verify, in-progress, keycloak

#65728 [bitnami/valkey] Adds test for valkey
  .vib/valkey/goss/goss.yaml
  .vib/valkey/goss/valkey.yaml
  .vib/valkey/goss/vars.yaml
  .vib/valkey/vib-verify.json
Labels: verify, bitnami

#65730 [bitnami/postgresql] Add symlink command
  bitnami/postgresql/12/debian-12/rootfs/opt/bitnami/scripts/postgresql/postunpack.sh
  bitnami/postgresql/13/debian-12/rootfs/opt/bitnami/scripts/postgresql/postunpack.sh
  bitnami/postgresql/14/debian-12/rootfs/opt/bitnami/scripts/postgresql/postunpack.sh
  bitnami/postgresql/15/debian-12/rootfs/opt/bitnami/scripts/postgresql/postunpack.sh
  bitnami/postgresql/16/debian-12/rootfs/opt/bitnami/scripts/postgresql/postunpack.sh
Labels: verify, in-progress, postgresql

#65765 [bitnami/valkey-sentinel] Adds tests for valkey-sentinel
  .vib/valkey-sentinel/goss/goss.yaml
  .vib/valkey-sentinel/goss/valkey-sentinel.yaml
  .vib/valkey-sentinel/goss/vars.yaml
  .vib/valkey-sentinel/vib-verify.json
Labels: verify, bitnami
