Repository bitnami/containers, pull requests merged in 2024-09, with the labels that each got.

#71168 [bitnami/airflow] fix LD_LIBRARY_PATH
  bitnami/airflow-scheduler/2/debian-12/Dockerfile
  bitnami/airflow-worker/2/debian-12/Dockerfile
  bitnami/airflow/2/debian-12/Dockerfile
Labels: verify, airflow, in-progress

#71761 [bitnami/zipkin] chore: :construction_worker: :white_check_mark: Add VIB tests
  .vib/zipkin/goss/goss.yaml
  .vib/zipkin/goss/vars.yaml
  .vib/zipkin/goss/zipkin.yaml
  .vib/zipkin/vib-verify.json
Labels: verify, bitnami

#70999 [bitnami/openldap] feat: pldap and pldaps support
  bitnami/openldap/2.5/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.5/debian-12/rootfs/opt/bitnami/scripts/openldap/run.sh
  bitnami/openldap/2.6/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
  bitnami/openldap/2.6/debian-12/rootfs/opt/bitnami/scripts/openldap/run.sh
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#70768 [bitnami/postgresql-repmgr] if container is run as root, run the repmgr executable as postgres daemon user
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
Labels: verify, in-progress, postgresql-repmgr

#71811 Add DISCOURSE_REDIS_DB to make it configurable
  bitnami/discourse/3/debian-12/rootfs/opt/bitnami/scripts/discourse-env.sh
  bitnami/discourse/3/debian-12/rootfs/opt/bitnami/scripts/libdiscourse.sh
Labels: verify, in-progress, discourse

#72363 [bitnami/containers] Update CSP endpoint for VIB actions
  .github/workflows/ci-pipeline.yml
Labels: verify, solved, bitnami

#72249 [binami/etcd] If container is run as root, only chown etcd.yaml config file if it exists.
  bitnami/etcd/3.4/debian-12/rootfs/opt/bitnami/scripts/libetcd.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/libetcd.sh
Labels: verify, in-progress, etcd

#72250 [redis-sentinel] Add support for ipv6
  bitnami/redis-sentinel/6.2/debian-12/rootfs/opt/bitnami/scripts/redis-sentinel/postunpack.sh
  bitnami/redis-sentinel/7.4/debian-12/rootfs/opt/bitnami/scripts/redis-sentinel/postunpack.sh
Labels: verify, in-progress, redis-sentinel

#72353 [bitnami/nginx] stream server blocks
  bitnami/nginx/1.27/debian-12/rootfs/opt/bitnami/scripts/libnginx.sh
  bitnami/nginx/1.27/debian-12/rootfs/opt/bitnami/scripts/nginx-env.sh
  bitnami/nginx/1.27/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/default-stream-block.conf
  bitnami/nginx/1.27/debian-12/rootfs/opt/bitnami/scripts/nginx/postunpack.sh
  bitnami/nginx/README.md
Labels: verify, nginx, in-progress

#72365 Replication Manager flag to enable consult each other to build a quorum
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/12/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/13/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/14/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/15/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/librepmgr.sh
  bitnami/postgresql-repmgr/16/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/README.md
Labels: verify, in-progress, postgresql-repmgr

#72650 [bitnami/rabbitmq] test: :white_check_mark: Skip version check in 4.0.1
  .vib/rabbitmq/goss/vars.yaml
Labels: verify, bitnami

#70597 [bitnami/etcd] fix: healthcheck will failed when startup etcd with on…
  bitnami/etcd/3.4/debian-12/rootfs/opt/bitnami/scripts/etcd/healthcheck.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/healthcheck.sh
Labels: verify, in-progress, etcd

#72660 [bitnami/opensearch] S3 Repository plugin isn't included by default
  bitnami/opensearch/README.md
Labels: bitnami, opensearch
