Repository bitnami/containers, pull requests merged in 2025-06, with the labels that each got.

#81850 [bitnami/minio-object-browser] ci: Goss tests
  .vib/minio-object-browser/goss/goss.yaml
  .vib/minio-object-browser/goss/minio-object-browser.yaml
  .vib/minio-object-browser/goss/vars.yaml
  .vib/minio-object-browser/vib-verify.json
Labels: verify, bitnami

#81852 [bitnami/minio-object-browser] ci: fix runtime parameters
  .vib/minio-object-browser/vib-verify.json
Labels: verify, bitnami

#81925 [bitnami/configurable-http-proxy] chore: :fire: Remove branch 4
  bitnami/configurable-http-proxy/4/README.md
  bitnami/configurable-http-proxy/4/debian-12/Dockerfile
  bitnami/configurable-http-proxy/4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/configurable-http-proxy/4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/configurable-http-proxy/4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/configurable-http-proxy/4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/configurable-http-proxy/4/debian-12/tags-info.yaml
Labels: verify, bitnami, configurable-http-proxy

#82085 [bitnami/gitlab] Deprecate branch 17
  bitnami/gitlab-runner-helper/17/debian-12/Dockerfile
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/gitlab-runner-helper/17/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/gitlab-runner-helper/17/debian-12/rootfs/opt/bitnami/scripts/gitlab-runner-helper/entrypoint.sh
  bitnami/gitlab-runner-helper/17/debian-12/tags-info.yaml
  bitnami/gitlab-runner/17/debian-12/Dockerfile
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/gitlab-runner/17/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/gitlab-runner/17/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/gitlab-runner/17/debian-12/rootfs/opt/bitnami/scripts/gitlab-runner/entrypoint.sh
  bitnami/gitlab-runner/17/debian-12/tags-info.yaml
Labels: verify, bitnami

#81927 [bitnami/plugin-barman-cloud] ci: :construction_worker: Add VIB files
  .vib/plugin-barman-cloud-sidecar/goss/goss.yaml
  .vib/plugin-barman-cloud-sidecar/goss/plugin-barman-cloud-sidecar.yaml
  .vib/plugin-barman-cloud-sidecar/goss/vars.yaml
  .vib/plugin-barman-cloud-sidecar/vib-verify.json
  .vib/plugin-barman-cloud/goss/goss.yaml
  .vib/plugin-barman-cloud/goss/plugin-barman-cloud.yaml
  .vib/plugin-barman-cloud/goss/vars.yaml
  .vib/plugin-barman-cloud/vib-verify.json
Labels: verify, bitnami

#82120 [bitnami/spark] Spark 4.0 new latest stable
  bitnami/spark/3.5/README.md
  bitnami/spark/3.5/debian-12/Dockerfile
  bitnami/spark/3.5/debian-12/docker-compose.yml
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/spark/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/spark/3.5/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/spark/3.5/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/libspark.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/spark-env.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/spark/entrypoint.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/spark/postunpack.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/spark/run.sh
  bitnami/spark/3.5/debian-12/rootfs/opt/bitnami/scripts/spark/setup.sh
  bitnami/spark/3.5/debian-12/tags-info.yaml
Labels: verify, bitnami, spark

#81387 [bitnami/pgbouncer] Configure ownership for the socket directory
  bitnami/pgbouncer/1/debian-12/rootfs/opt/bitnami/scripts/libpgbouncer.sh
Labels: verify, in-progress, pgbouncer

#82427 Deprecate Kaniko and KES
  .vib/kaniko/goss/goss.yaml
  .vib/kaniko/goss/kaniko.yaml
  .vib/kaniko/goss/vars.yaml
  .vib/kaniko/vib-verify.json
  .vib/kes/goss/goss.yaml
  .vib/kes/goss/kes.yaml
  .vib/kes/goss/vars.yaml
  .vib/kes/vib-verify.json
  bitnami/kaniko/1/debian-12/Dockerfile
  bitnami/kaniko/1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kaniko/1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kaniko/1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kaniko/1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kaniko/1/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/kaniko/1/debian-12/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/kaniko/1/debian-12/tags-info.yaml
  bitnami/kaniko/README.md
  bitnami/kes/2025/debian-12/Dockerfile
  bitnami/kes/2025/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kes/2025/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kes/2025/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kes/2025/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kes/2025/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/kes/2025/debian-12/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/kes/2025/debian-12/tags-info.yaml
  bitnami/kes/README.md
Labels: verify, bitnami

#82439 Restore kaniko support
  .vib/kaniko/goss/goss.yaml
  .vib/kaniko/goss/kaniko.yaml
  .vib/kaniko/goss/vars.yaml
  .vib/kaniko/vib-verify.json
  bitnami/kaniko/README.md
Labels: verify, bitnami, kaniko

#82524 [bitnami/ksql] Change version.txt file to check
  .vib/ksql/goss/ksql.yaml
Labels: verify, bitnami

#82545 [bitnami/schema-registry] Version 8.0 is the new latest stable
  bitnami/schema-registry/7.9/README.md
  bitnami/schema-registry/7.9/debian-12/Dockerfile
  bitnami/schema-registry/7.9/debian-12/docker-compose.yml
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/schema-registry/7.9/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/schema-registry/7.9/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/schema-registry/7.9/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/schema-registry/entrypoint.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/schema-registry/postunpack.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/schema-registry/run.sh
  bitnami/schema-registry/7.9/debian-12/rootfs/opt/bitnami/scripts/schema-registry/setup.sh
  bitnami/schema-registry/7.9/debian-12/tags-info.yaml
Labels: verify, bitnami, schema-registry

#82564 [bitnami/nginx] Deprecate branch 1.27
  bitnami/nginx/1.27/README.md
Labels: verify, bitnami

#82620 [bitnami/mariadb] MariaDB 11.8 is the new LTS
  bitnami/mariadb-galera/11.4/README.md
  bitnami/mariadb/11.4/README.md
  bitnami/mariadb/11.4/debian-12/Dockerfile
  bitnami/mariadb/11.4/debian-12/docker-compose.yml
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mariadb/11.4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mariadb/11.4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mariadb/11.4/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/libmariadb.sh
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/mariadb-env.sh
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/mariadb/entrypoint.sh
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/mariadb/healthcheck.sh
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/mariadb/postunpack.sh
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/mariadb/run.sh
  bitnami/mariadb/11.4/debian-12/rootfs/opt/bitnami/scripts/mariadb/setup.sh
  bitnami/mariadb/11.4/debian-12/tags-info.yaml
Labels: verify, bitnami

#82232 [bitnami/wordpress-nginx] remove custom php error_log config in favor of FPM log_file
  bitnami/wordpress-nginx/6/debian-12/rootfs/opt/bitnami/scripts/php/postunpack.sh
Labels: verify, in-progress, wordpress-nginx

#82796 [bitnami/grafana-pyroscope] ci: :construction_worker: Add VIB files
  .vib/grafana-pyroscope/goss/goss.yaml
  .vib/grafana-pyroscope/goss/grafana-pyroscope.yaml
  .vib/grafana-pyroscope/goss/vars.yaml
  .vib/grafana-pyroscope/vib-verify.json
Labels: verify, bitnami
