Repository bitnami/containers, pull requests merged in 2025-02, with the labels that each got.

#76869 [bitnami/grafana] fix(goss): :wrench: skip grafana version test
  .vib/grafana/goss/goss.yaml
Labels: verify, bitnami

#76872 [bitnami/laravel] Deprecate branch 10
  bitnami/laravel/10/README.md
Labels: verify, bitnami

#77039 [bitnami/java-min] tests: use /shared/busybox to sleep
  .vib/java-min/goss/java-min.yaml
  .vib/java-min/goss/vars.yaml
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#77005 [bitnami/mariadb] fix healthcheck during initialization using skip-networking
  bitnami/mariadb/10.11/debian-12/rootfs/opt/bitnami/scripts/libmariadb.sh
Labels: verify, in-progress, mariadb

#77041 [bitnami/java-min] test: Disable goss tests
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#77069 Revert "[bitnami/java-min] test: Disable goss tests (#77041)"
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#77074 [bitnami/cloudnative-pg] ci: :construction_worker: Add VIB files
  .vib/cloudnative-pg/goss/cloudnative-pg.yaml
  .vib/cloudnative-pg/goss/goss.yaml
  .vib/cloudnative-pg/goss/vars.yaml
  .vib/cloudnative-pg/vib-verify.json
Labels: verify, bitnami

#77077 [bitnami/aspnet-min] Add Goss tests
  .vib/aspnet-min/goss/aspnet-min.yaml
  .vib/aspnet-min/goss/goss.yaml
  .vib/aspnet-min/goss/vars.yaml
  .vib/aspnet-min/vib-verify.json
Labels: verify, bitnami

#77078 [bitnami/java-min] bugfix: use the right flag for java 1.8
  .vib/java-min/goss/java-min.yaml
Labels: verify, bitnami

#77081 [bitnami/aspnet-min] bugfix: goss tests
  .vib/aspnet-min/goss/aspnet-min.yaml
  .vib/aspnet-min/goss/vars.yaml
Labels: verify, bitnami

#77079 [bitnami/*] feat: Enable Goss tests for several scratch images
  .vib/charts-syncer/goss/charts-syncer.yaml
  .vib/charts-syncer/goss/goss.yaml
  .vib/charts-syncer/goss/vars.yaml
  .vib/charts-syncer/vib-verify.json
  .vib/kubeapps-apprepository-controller/goss/goss.yaml
  .vib/kubeapps-apprepository-controller/goss/kubeapps-apprepository-controller.yaml
  .vib/kubeapps-apprepository-controller/goss/vars.yaml
  .vib/kubeapps-apprepository-controller/vib-verify.json
  .vib/kubeapps-asset-syncer/goss/goss.yaml
  .vib/kubeapps-asset-syncer/goss/kubeapps-asset-syncer.yaml
  .vib/kubeapps-asset-syncer/goss/vars.yaml
  .vib/kubeapps-asset-syncer/vib-verify.json
  .vib/oras/goss/goss.yaml
  .vib/oras/goss/oras.yaml
  .vib/oras/goss/vars.yaml
  .vib/oras/vib-verify.json
  .vib/sealed-secrets-controller/goss/goss.yaml
  .vib/sealed-secrets-controller/goss/sealed-secrets-controller.yaml
  .vib/sealed-secrets-controller/goss/vars.yaml
  .vib/sealed-secrets-controller/vib-verify.json
  .vib/sealed-secrets-kubeseal/goss/goss.yaml
  .vib/sealed-secrets-kubeseal/goss/sealed-secrets-kubeseal.yaml
  .vib/sealed-secrets-kubeseal/goss/vars.yaml
  .vib/sealed-secrets-kubeseal/vib-verify.json
Labels: verify, bitnami

#77083 [bitnami/java-min] Fix goss tests
  .vib/java-min/goss/java-min.yaml
Labels: verify, bitnami

#77134 [bitnami/java] tests: 1.8 branch shows version on stderr
  .vib/java-min/goss/java-min.yaml
Labels: verify, bitnami

#77135 docs: update local testing instructions for Goss
  TESTING.md
Labels: verify, bitnami

#77138 [bitnami/*] feat: Enable Goss tests for several scratch images - ii
  .vib/argo-workflow-cli/goss/argo-workflow-cli.yaml
  .vib/argo-workflow-cli/goss/goss.yaml
  .vib/argo-workflow-cli/goss/vars.yaml
  .vib/argo-workflow-cli/vib-verify.json
  .vib/argo-workflow-controller/goss/argo-workflow-controller.yaml
  .vib/argo-workflow-controller/goss/goss.yaml
  .vib/argo-workflow-controller/goss/vars.yaml
  .vib/argo-workflow-controller/vib-verify.json
  .vib/chainloop-artifact-cas/goss/chainloop-artifact-cas.yaml
  .vib/chainloop-artifact-cas/goss/goss.yaml
  .vib/chainloop-artifact-cas/goss/vars.yaml
  .vib/chainloop-artifact-cas/vib-verify.json
  .vib/chainloop-control-plane-migrations/goss/chainloop-control-plane-migrations.yaml
  .vib/chainloop-control-plane-migrations/goss/goss.yaml
  .vib/chainloop-control-plane-migrations/goss/vars.yaml
  .vib/chainloop-control-plane-migrations/vib-verify.json
  .vib/chainloop-control-plane/goss/chainloop-control-plane.yaml
  .vib/chainloop-control-plane/goss/goss.yaml
  .vib/chainloop-control-plane/goss/vars.yaml
  .vib/chainloop-control-plane/vib-verify.json
  .vib/kaniko/goss/goss.yaml
  .vib/kaniko/goss/kaniko.yaml
  .vib/kaniko/goss/vars.yaml
  .vib/kaniko/vib-verify.json
  .vib/kube-rbac-proxy/goss/goss.yaml
  .vib/kube-rbac-proxy/goss/kube-rbac-proxy.yaml
  .vib/kube-rbac-proxy/goss/vars.yaml
  .vib/kube-rbac-proxy/vib-verify.json
  .vib/pinniped/goss/goss.yaml
  .vib/pinniped/goss/pinniped.yaml
  .vib/pinniped/goss/vars.yaml
  .vib/pinniped/vib-verify.json
  .vib/rabbitmq-cluster-operator/goss/goss.yaml
  .vib/rabbitmq-cluster-operator/goss/rabbitmq-cluster-operator.yaml
  .vib/rabbitmq-cluster-operator/goss/vars.yaml
  .vib/rabbitmq-cluster-operator/vib-verify.json
  .vib/rmq-default-credential-updater/goss/goss.yaml
  .vib/rmq-default-credential-updater/goss/rmq-default-credential-updater.yaml
  .vib/rmq-default-credential-updater/goss/vars.yaml
  .vib/rmq-default-credential-updater/vib-verify.json
  .vib/rmq-messaging-topology-operator/goss/goss.yaml
  .vib/rmq-messaging-topology-operator/goss/rmq-messaging-topology-operator.yaml
  .vib/rmq-messaging-topology-operator/goss/vars.yaml
  .vib/rmq-messaging-topology-operator/vib-verify.json
Labels: verify, bitnami

#77137 [bitnami/nginx][bitnami/openresty] Update goss tests
  .vib/nginx/goss/vars.yaml
  .vib/openresty/goss/openresty.yaml
  .vib/openresty/goss/vars.yaml
Labels: verify

#77099 Update libopenldap.sh group DN to fix issue 19716
  bitnami/openldap/2.6/debian-12/rootfs/opt/bitnami/scripts/libopenldap.sh
Labels: verify, in-progress, openldap

#77393 [bitnami/golang] Prepare for branch 1.24
  bitnami/golang/1.23/README.md
  bitnami/golang/1.23/debian-12/Dockerfile
  bitnami/golang/1.23/debian-12/docker-compose.yml
  bitnami/golang/1.23/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/golang/1.23/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/golang/1.23/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/golang/1.23/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/golang/1.23/debian-12/tags-info.yaml
Labels: verify, bitnami

#77036 [bitnami/matomo] Exclude matomo.js from being rsynced (issue #76460)
  bitnami/matomo/5/debian-12/rootfs/opt/bitnami/scripts/libmatomo.sh
  bitnami/matomo/5/debian-12/rootfs/opt/bitnami/scripts/matomo-env.sh
  bitnami/matomo/README.md
Labels: verify, in-progress, matomo

#77399 [bitnami/sealed-secrets-*] Fix Goss tests
  .vib/sealed-secrets-controller/goss/sealed-secrets-controller.yaml
  .vib/sealed-secrets-kubeseal/goss/vars.yaml
Labels: verify, bitnami

#77475 [bitnami/rmq-*] bugfix: goss tests
  .vib/rabbitmq-cluster-operator/goss/goss.yaml
  .vib/rabbitmq-cluster-operator/goss/rabbitmq-cluster-operator.yaml
  .vib/rabbitmq-cluster-operator/goss/vars.yaml
  .vib/rmq-default-credential-updater/goss/goss.yaml
  .vib/rmq-default-credential-updater/goss/rmq-default-credential-updater.yaml
  .vib/rmq-default-credential-updater/goss/vars.yaml
  .vib/rmq-messaging-topology-operator/goss/goss.yaml
  .vib/rmq-messaging-topology-operator/goss/rmq-messaging-topology-operator.yaml
  .vib/rmq-messaging-topology-operator/goss/vars.yaml
Labels: verify, bitnami

#77485 [bitnami/rmq-*] bugfix: goss tests, help on stderr
  .vib/rabbitmq-cluster-operator/goss/rabbitmq-cluster-operator.yaml
  .vib/rmq-default-credential-updater/goss/rmq-default-credential-updater.yaml
  .vib/rmq-messaging-topology-operator/goss/rmq-messaging-topology-operator.yaml
Labels: verify, bitnami

#77487 [bitnami/charts-syncer] bugfix: goss tests
  .vib/charts-syncer/goss/goss.yaml
Labels: verify, bitnami

#77517 Update README.md with minimal images information
  README.md
Labels: verify, bitnami

#77132 [bitnami/kafka] Issue 77101 Fix Typo and Improve Clarity in Documentation
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#78116 [bitnami/arangodb, kube-arangodb] ci: :construction_worker: Add VIB files
  .vib/arangodb/goss/goss.yaml
  .vib/arangodb/goss/vars.yaml
  .vib/arangodb/vib-verify.json
  .vib/kube-arangodb/goss/goss.yaml
  .vib/kube-arangodb/goss/vars.yaml
  .vib/kube-arangodb/vib-verify.json
Labels: verify, bitnami

#76759 [bitnami/kibana] remove unsable function `kibana_set_key_value` function and move to `kibana_conf_set`
  bitnami/kibana/8/debian-12/rootfs/opt/bitnami/scripts/libkibana.sh
Labels: verify, in-progress, kibana

#78280 [bitnami/harbor-portal] Fix document and docker-compose.yml error
  bitnami/harbor-portal/2/debian-12/docker-compose.yml
  bitnami/harbor-portal/README.md
  bitnami/harbor-portal/docker-compose.yml
Labels: verify, in-progress, harbor-portal

#78309 [bitnami/mlflow] ci: increase goss tests timeout
  .vib/mlflow/goss/mlflow.yaml
Labels: verify, bitnami

#78384 [bitnami/kubeapps-asset-syncer] ci: fix Goss test
  .vib/kubeapps-asset-syncer/goss/kubeapps-asset-syncer.yaml
Labels: verify, bitnami

#76245 Some functions of liblog.sh log component are enhanced
  bitnami/redis-cluster/7.4/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
Labels: verify, in-progress, redis-cluster

#78404 Deprecate kubectl 1.29
  bitnami/kubectl/1.29/README.md
Labels: verify, bitnami

#78407 Deprecate MariaDB/MariaDB Galera 11.2 and 11.6
  bitnami/mariadb-galera/11.2/README.md
  bitnami/mariadb-galera/11.6/README.md
  bitnami/mariadb/11.2/README.md
  bitnami/mariadb/11.6/README.md
Labels: verify, bitnami
