Repository bitnami/containers, pull requests merged in 2025-03, with the labels that each got.

#78427 chore(ci-pipeline): Run CI wokflow for each modified container
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#78434 [bitnami/jax] Update goss tests
  .vib/jax/goss/jax.yaml
Labels: verify, bitnami

#78471 [vib/common] Allow timeout parameter in check-app-version
  .vib/common/goss/templates/check-app-version-no-shell-stderr.yaml
  .vib/common/goss/templates/check-app-version-no-shell-stdout.yaml
  .vib/common/goss/templates/check-app-version.yaml
Labels: verify, bitnami

#78472 [vib/tensorflow] Define app-version timeout
  .vib/tensorflow/goss/vars.yaml
Labels: verify

#78474 [vib/tensorflow] Incrase basic-example timeout
  .vib/tensorflow/goss/tensorflow.yaml
Labels: verify

#78604 [vib/common] Update app-version test
  .vib/common/goss/templates/check-app-version-no-shell-stderr.yaml
  .vib/common/goss/templates/check-app-version-no-shell-stdout.yaml
Labels: verify, bitnami

#78628 [bitnima/redis-cluster] Fix env REDIS_EXTRA_FLAGS unused
  bitnami/redis-cluster/7.4/debian-12/rootfs/opt/bitnami/scripts/redis-cluster/run.sh
Labels: verify, in-progress, redis-cluster

#78631 [bitnami/victoriametrics] test: :construction_worker: Add VIB files
  .vib/victoriametrics-vmagent/goss/goss.yaml
  .vib/victoriametrics-vmagent/goss/vars.yaml
  .vib/victoriametrics-vmagent/goss/victoriametrics-vmagent.yaml
  .vib/victoriametrics-vmagent/vib-verify.json
  .vib/victoriametrics-vmalert/goss/goss.yaml
  .vib/victoriametrics-vmalert/goss/vars.yaml
  .vib/victoriametrics-vmalert/goss/victoriametrics-vmalert.yaml
  .vib/victoriametrics-vmalert/vib-verify.json
  .vib/victoriametrics-vmauth/goss/goss.yaml
  .vib/victoriametrics-vmauth/goss/vars.yaml
  .vib/victoriametrics-vmauth/goss/victoriametrics-vmauth.yaml
  .vib/victoriametrics-vmauth/vib-verify.json
  .vib/victoriametrics-vminsert/goss/goss.yaml
  .vib/victoriametrics-vminsert/goss/vars.yaml
  .vib/victoriametrics-vminsert/goss/victoriametrics-vminsert.yaml
  .vib/victoriametrics-vminsert/vib-verify.json
  .vib/victoriametrics-vmselect/goss/goss.yaml
  .vib/victoriametrics-vmselect/goss/vars.yaml
  .vib/victoriametrics-vmselect/goss/victoriametrics-vmselect.yaml
  .vib/victoriametrics-vmselect/vib-verify.json
  .vib/victoriametrics-vmstorage/goss/goss.yaml
  .vib/victoriametrics-vmstorage/goss/vars.yaml
  .vib/victoriametrics-vmstorage/goss/victoriametrics-vmstorage.yaml
  .vib/victoriametrics-vmstorage/vib-verify.json
Labels: verify, bitnami

#78632 [bitnami/airflow] improve test timeout
  .vib/airflow/goss/vars.yaml
Labels: verify, bitnami

#78634 Fix image name typo
  bitnami/harbor-portal/README.md
Labels: verify, triage, harbor-portal

#78654 [bitnami/parse] Deprecate branch 7
  bitnami/parse/7/debian-12/Dockerfile
  bitnami/parse/7/debian-12/docker-compose.yml
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/parse/7/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/parse/7/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/parse/7/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/libmongodbshell.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/libparse.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/mongodb-shell-env.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/mongodb-shell/setup.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/parse-env.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/parse/entrypoint.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/parse/postunpack.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/parse/run.sh
  bitnami/parse/7/debian-12/rootfs/opt/bitnami/scripts/parse/setup.sh
  bitnami/parse/7/debian-12/rootfs/post-init.d/shell.sh
  bitnami/parse/7/debian-12/rootfs/post-init.sh
  bitnami/parse/7/debian-12/tags-info.yaml
Labels: verify, bitnami

#78653 [bitnami/laravel] Remove branch 11.x
  bitnami/laravel/11/README.md
  bitnami/laravel/11/debian-12/Dockerfile
  bitnami/laravel/11/debian-12/prebuildfs/build/bitnami-user.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/laravel/11/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/laravel/11/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/laravel/11/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/laravel-env.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/laravel/entrypoint.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/laravel/postunpack.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/laravel/run.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/laravel/setup.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/liblaravel.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/libphp.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php-env.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/postunpack.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/reload.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/restart.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/run.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/setup.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/start.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/status.sh
  bitnami/laravel/11/debian-12/rootfs/opt/bitnami/scripts/php/stop.sh
  bitnami/laravel/11/debian-12/rootfs/post-init.d/php.sh
  bitnami/laravel/11/debian-12/rootfs/post-init.d/shell.sh
  bitnami/laravel/11/debian-12/rootfs/post-init.sh
  bitnami/laravel/11/debian-12/tags-info.yaml
Labels: verify, bitnami, laravel

#78625 [bitnami/wordpress-nginx] deny access to php files in uploads/ files/ by default
  bitnami/wordpress-nginx/6/debian-12/rootfs/opt/bitnami/nginx/conf/bitnami/00_protect-hidden-files.conf
  bitnami/wordpress-nginx/6/debian-12/rootfs/opt/bitnami/nginx/conf/bitnami/00_protect-uploads-dirs.conf
Labels: verify, in-progress, wordpress-nginx

#78656 [bitnami/victoriametrics] test: :construction_worker: Set proper selector
  .vib/victoriametrics-vmagent/vib-verify.json
  .vib/victoriametrics-vmalert/vib-verify.json
  .vib/victoriametrics-vmauth/vib-verify.json
  .vib/victoriametrics-vminsert/vib-verify.json
  .vib/victoriametrics-vmselect/goss/vars.yaml
  .vib/victoriametrics-vmstorage/vib-verify.json
Labels: verify, bitnami

#78661 [bitnami/harbor-*] Update validation to check certificates exist
  .vib/harbor-adapter-trivy/goss/harbor-adapter-trivy.yaml
  .vib/harbor-core/goss/harbor-core.yaml
  .vib/harbor-exporter/goss/harbor-exporter.yaml
  .vib/harbor-jobservice/goss/harbor-jobservice.yaml
  .vib/harbor-portal/goss/harbor-portal.yaml
  .vib/harbor-registry/goss/harbor-registry.yaml
  .vib/harbor-registryctl/goss/harbor-registryctl.yaml
Labels: verify, bitnami

#78626 [bitnami/matomo] Fix SMTP authentication type allowed values (typo for Cram-md5)
  bitnami/matomo/5/debian-12/rootfs/opt/bitnami/scripts/libmatomo.sh
  bitnami/matomo/README.md
Labels: verify, in-progress, matomo

#77502 [bitnami/postgresql] Issue 77295 Enable native recovery with flag/env var
  bitnami/postgresql/17/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql/17/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql/README.md
Labels: verify, in-progress, postgresql

#78370 Add configurable timeout to netcat calls with 10s default
  bitnami/ksql/7.8/debian-12/rootfs/opt/bitnami/scripts/ksql-env.sh
  bitnami/ksql/7.8/debian-12/rootfs/opt/bitnami/scripts/libksql.sh
  bitnami/ksql/README.md
  bitnami/schema-registry/7.7/debian-12/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.7/debian-12/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/7.8/debian-12/rootfs/opt/bitnami/scripts/libschemaregistry.sh
  bitnami/schema-registry/7.8/debian-12/rootfs/opt/bitnami/scripts/schema-registry-env.sh
  bitnami/schema-registry/README.md
  bitnami/solr/9/debian-12/rootfs/opt/bitnami/scripts/libsolr.sh
  bitnami/solr/9/debian-12/rootfs/opt/bitnami/scripts/solr-env.sh
  bitnami/solr/README.md
Labels: verify, in-progress

#79030 [bitnami/trivy] Adapt tests for trivy scratch image
  .vib/trivy/goss/goss.yaml
  .vib/trivy/goss/vars.yaml
Labels: verify, bitnami

#79031 [bitnami/trivy] Use correct runtime parameters for a scratch image
  .vib/trivy/vib-verify.json
Labels: verify, bitnami

#79032 [bitnami/trivy] Use array for command
  .vib/trivy/goss/trivy.yaml
Labels: verify, bitnami

#79054 [bitnami/java] Add 24 folder
  bitnami/java/23/README.md
  bitnami/java/24/README.md
Labels: verify, bitnami

#79063 [bitnami/java-min] Fix check version for initial version
  .vib/java-min/goss/java-min.yaml
Labels: verify, bitnami

#79065 [bitnami/minio-operator] test: :construction_worker: Add VIB files
  .vib/minio-operator-sidecar/goss/goss.yaml
  .vib/minio-operator-sidecar/goss/minio-operator-sidecar.yaml
  .vib/minio-operator-sidecar/goss/vars.yaml
  .vib/minio-operator-sidecar/vib-verify.json
  .vib/minio-operator/goss/goss.yaml
  .vib/minio-operator/goss/minio-operator.yaml
  .vib/minio-operator/goss/vars.yaml
  .vib/minio-operator/vib-verify.json
Labels: verify, bitnami

#79066 [bitnami/kafka] ci: different logging framework for 4.y.z series
  .vib/kafka/goss/kafka.yaml
Labels: verify, bitnami

#79068 [bitnami/minio-operator-sidecar] test: :white_check_mark: Disable goss
  .vib/minio-operator-sidecar/vib-verify.json
Labels: verify, bitnami

#79118 [bitnami/kes] test: :construction_worker: Add VIB files
  .vib/kes/goss/goss.yaml
  .vib/kes/goss/kes.yaml
  .vib/kes/goss/vars.yaml
  .vib/kes/vib-verify.json
Labels: verify, bitnami

#79140 [bitnami/kafka] goss: wait-for-port not available on 4.y.z
  .vib/kafka/goss/kafka.yaml
  .vib/kafka/goss/vars.yaml
Labels: verify, bitnami

#79147 [bitnami/node] Deprecate branch 18
  .vib/node-min/18/vib-verify.json
  bitnami/node/18/README.md
Labels: verify, bitnami

#79158 [bitnami/ejbca] goss: increase timeout for command
  .vib/ejbca/goss/ejbca.yaml
Labels: verify, bitnami

#79161 [bitnami/deepspeed] Increase timeout for deepspeed tests
  .vib/deepspeed/goss/deepspeed.yaml
  .vib/deepspeed/goss/vars.yaml
Labels: verify, bitnami

#79171 [bitnami/flink] Deprecate branch 1
  bitnami/flink/1/debian-12/Dockerfile
  bitnami/flink/1/debian-12/docker-compose.yml
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/flink/1/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/flink/1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/flink/1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/flink-env.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/flink/entrypoint.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/flink/postunpack.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/flink/run.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/flink/setup.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/flink/1/debian-12/rootfs/opt/bitnami/scripts/libflink.sh
  bitnami/flink/1/debian-12/tags-info.yaml
Labels: verify, bitnami

#79176 [bitnami/*-min] Slightly increase size limits
  .vib/java-min/1.8/vib-verify.json
  .vib/java-min/11/vib-verify.json
  .vib/java-min/17/vib-verify.json
  .vib/java-min/21/vib-verify.json
  .vib/java-min/vib-verify.json
  .vib/libgcc/vib-verify.json
  .vib/node-min/20/vib-verify.json
  .vib/node-min/22/vib-verify.json
  .vib/python-min/vib-verify.json
  .vib/ruby-min/vib-verify.json
Labels: verify, bitnami

#79187 [bitnami/*-min] Update size thresholds
  .vib/aspnet-min/8/vib-verify.json
  .vib/java-min/11/vib-verify.json
  .vib/java-min/21/vib-verify.json
Labels: verify, bitnami

#76221 [bitnami/mysql] Optimize MYSQL_REPLICATION_SLAVE_DUMP behavior
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/libmysql.sh
Labels: verify, in-progress, mysql

#79178 [bitnami/php-fpm] Add unzip for faster composer update / install execution for #79153
  bitnami/php-fpm/8.4/debian-12/Dockerfile
Labels: verify, in-progress, php-fpm
