Repository bitnami/containers, pull requests merged in 2025-05, with the labels that each got.

#80655 [valkey-cluster] fix: respect VALKEY_EXTRA_FLAGS
  bitnami/valkey-cluster/8.1/debian-12/rootfs/opt/bitnami/scripts/valkey-cluster/run.sh
Labels: verify, in-progress, valkey-cluster

#80902 [bitnami/aspnet-core] Update latest stable version
  bitnami/aspnet-core/8/README.md
  bitnami/aspnet-core/8/debian-12/Dockerfile
  bitnami/aspnet-core/8/debian-12/docker-compose.yml
  bitnami/aspnet-core/8/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/aspnet-core/8/debian-12/prebuildfs/opt/bitnami/base/functions
  bitnami/aspnet-core/8/debian-12/prebuildfs/opt/bitnami/base/helpers
  bitnami/aspnet-core/8/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/aspnet-core/8/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/aspnet-core/8/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/aspnet-core/8/debian-12/rootfs/opt/bitnami/scripts/aspnet-core/entrypoint.sh
  bitnami/aspnet-core/8/debian-12/rootfs/opt/bitnami/scripts/aspnet-core/postunpack.sh
  bitnami/aspnet-core/8/debian-12/tags-info.yaml
Labels: verify, bitnami

#80903 [bitnami/dotnet-sdk] Version 9 is the new latest stable
  bitnami/dotnet-sdk/8/debian-12/Dockerfile
  bitnami/dotnet-sdk/8/debian-12/docker-compose.yml
  bitnami/dotnet-sdk/8/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet-sdk/8/debian-12/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet-sdk/8/debian-12/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet-sdk/8/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet-sdk/8/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet-sdk/8/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/dotnet-sdk/8/debian-12/rootfs/opt/bitnami/scripts/dotnet-sdk/entrypoint.sh
  bitnami/dotnet-sdk/8/debian-12/rootfs/opt/bitnami/scripts/dotnet-sdk/postunpack.sh
  bitnami/dotnet-sdk/8/debian-12/tags-info.yaml
  bitnami/dotnet-sdk/9/README.md
Labels: verify, bitnami

#80905 [bitnami/node] Deprecate branch 23
  bitnami/node/23/README.md
Labels: verify, bitnami

#80909 [bitnami/chainloop] Deprecate branch 0
  bitnami/chainloop-artifact-cas/0/debian-12/Dockerfile
  bitnami/chainloop-artifact-cas/0/debian-12/docker-compose.yml
  bitnami/chainloop-artifact-cas/0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/chainloop-artifact-cas/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/chainloop-artifact-cas/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/chainloop-artifact-cas/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/chainloop-artifact-cas/0/debian-12/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/chainloop-artifact-cas/0/debian-12/tags-info.yaml
  bitnami/chainloop-control-plane-migrations/0/debian-12/Dockerfile
  bitnami/chainloop-control-plane-migrations/0/debian-12/docker-compose.yml
  bitnami/chainloop-control-plane-migrations/0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/chainloop-control-plane-migrations/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/chainloop-control-plane-migrations/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/chainloop-control-plane-migrations/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/chainloop-control-plane-migrations/0/debian-12/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/chainloop-control-plane-migrations/0/debian-12/tags-info.yaml
  bitnami/chainloop-control-plane/0/debian-12/Dockerfile
  bitnami/chainloop-control-plane/0/debian-12/docker-compose.yml
  bitnami/chainloop-control-plane/0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/chainloop-control-plane/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/chainloop-control-plane/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/chainloop-control-plane/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/chainloop-control-plane/0/debian-12/rootfs/etc/ssl/certs/ca-certificates.crt
  bitnami/chainloop-control-plane/0/debian-12/tags-info.yaml
Labels: verify, bitnami

#80913 [bitnami/wordpress*] Update MariaDB path in GOSS test
  .vib/wordpress-nginx/goss/wordpress-nginx.yaml
  .vib/wordpress/goss/wordpress.yaml
Labels: verify, bitnami

#80932 [bitnami/contour] Deprecate branch 1.28
  bitnami/contour/1.28/README.md
Labels: verify, bitnami

#80941 [bitnami/contour] Version 1.31 is the latest stable
  bitnami/contour/1.30/README.md
  bitnami/contour/1.30/debian-12/Dockerfile
  bitnami/contour/1.30/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/contour/1.30/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.30/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.30/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/contour/1.30/debian-12/tags-info.yaml
Labels: verify, bitnami, contour

#80945 [bitnami/node] Version 24 is the latest stable
  bitnami/node/22/README.md
  bitnami/node/22/debian-12/Dockerfile
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/node/22/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/node/22/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/node/22/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/node/22/debian-12/rootfs/opt/bitnami/scripts/node/postunpack.sh
  bitnami/node/22/debian-12/tags-info.yaml
Labels: verify, bitnami, node

#80946 [bitnami/dotnet-sdk] Add folder for branch 8
  bitnami/dotnet-sdk/8/README.md
Labels: verify, bitnami, dotnet-sdk

#80965 [bitnami/argo-cd] Argo-CD 3.0 is the latest stable version
  bitnami/argo-cd/2.13/README.md
  bitnami/argo-cd/2.14/README.md
  bitnami/argo-cd/2/debian-12/Dockerfile
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/argo-cd/2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/argo-cd/2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/argo-cd/2/debian-12/rootfs/opt/bitnami/argo-cd/nss-wrapper/nss_group
  bitnami/argo-cd/2/debian-12/rootfs/opt/bitnami/argo-cd/nss-wrapper/nss_passwd
  bitnami/argo-cd/2/debian-12/rootfs/opt/bitnami/scripts/argo-cd/entrypoint.sh
  bitnami/argo-cd/2/debian-12/rootfs/opt/bitnami/scripts/argo-cd/postunpack.sh
  bitnami/argo-cd/2/debian-12/tags-info.yaml
Labels: verify, bitnami, argo-cd

#80970 [bitnami/airflow] Update Airflow tests
  .vib/airflow/goss/vars.yaml
Labels: verify, bitnami

#80972 [bitnami/dotnet] dotnet 9 is the latest stable version
  bitnami/dotnet/8/README.md
  bitnami/dotnet/8/debian-12/Dockerfile
  bitnami/dotnet/8/debian-12/docker-compose.yml
  bitnami/dotnet/8/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dotnet/8/debian-12/prebuildfs/opt/bitnami/base/functions
  bitnami/dotnet/8/debian-12/prebuildfs/opt/bitnami/base/helpers
  bitnami/dotnet/8/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dotnet/8/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/dotnet/8/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/dotnet/8/debian-12/rootfs/opt/bitnami/scripts/dotnet/entrypoint.sh
  bitnami/dotnet/8/debian-12/rootfs/opt/bitnami/scripts/dotnet/postunpack.sh
  bitnami/dotnet/8/debian-12/tags-info.yaml
Labels: verify, bitnami

#80999 [bitnami/grafana bitnami/mysql] Those branches are no the latest ones
  bitnami/grafana/11/README.md
  bitnami/grafana/11/debian-12/Dockerfile
  bitnami/grafana/11/debian-12/docker-compose.yml
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/grafana/11/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/grafana/11/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/grafana/11/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/grafana/11/debian-12/rootfs/opt/bitnami/scripts/grafana-env.sh
  bitnami/grafana/11/debian-12/rootfs/opt/bitnami/scripts/grafana/entrypoint.sh
  bitnami/grafana/11/debian-12/rootfs/opt/bitnami/scripts/grafana/postunpack.sh
  bitnami/grafana/11/debian-12/rootfs/opt/bitnami/scripts/grafana/run.sh
  bitnami/grafana/11/debian-12/rootfs/opt/bitnami/scripts/grafana/setup.sh
  bitnami/grafana/11/debian-12/rootfs/opt/bitnami/scripts/libgrafana.sh
  bitnami/grafana/11/debian-12/rootfs/post-init.d/shell.sh
  bitnami/grafana/11/debian-12/rootfs/post-init.sh
  bitnami/grafana/11/debian-12/tags-info.yaml
  bitnami/mysql/8.4/README.md
  bitnami/mysql/8.4/debian-12/Dockerfile
  bitnami/mysql/8.4/debian-12/docker-compose.yml
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mysql/8.4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mysql/8.4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/libmysql.sh
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/mysql-env.sh
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/mysql/entrypoint.sh
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/mysql/healthcheck.sh
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/mysql/postunpack.sh
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/mysql/run.sh
  bitnami/mysql/8.4/debian-12/rootfs/opt/bitnami/scripts/mysql/setup.sh
  bitnami/mysql/8.4/debian-12/tags-info.yaml
Labels: verify, bitnami

#81080 [bitnami/envoy] Remove 1.31 as it is not the latest stable
  bitnami/envoy/1.31/debian-12/Dockerfile
  bitnami/envoy/1.31/debian-12/docker-compose-testing.yml
  bitnami/envoy/1.31/debian-12/docker-compose.yml
  bitnami/envoy/1.31/debian-12/examples/frontend.yaml
  bitnami/envoy/1.31/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.31/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.31/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.31/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.31/debian-12/tags-info.yaml
Labels: verify, bitnami

#81123 [bitnami/solr][bitnami/opensearch] Deprecate branches 8 and 1 respectively
  bitnami/opensearch-dashboards/1/README.md
  bitnami/opensearch/1/README.md
  bitnami/solr/8/README.md
Labels: verify, bitnami

#81126 [bitnami/grafana-k6] ci: :construction_worker: Add VIB files
  .vib/grafana-k6-operator/goss/goss.yaml
  .vib/grafana-k6-operator/goss/grafana-k6-operator.yaml
  .vib/grafana-k6-operator/goss/vars.yaml
  .vib/grafana-k6-operator/vib-verify.json
  .vib/grafana-k6/goss/goss.yaml
  .vib/grafana-k6/goss/vars.yaml
  .vib/grafana-k6/vib-verify.json
Labels: verify, bitnami

#81078 [bitnami/influxdb] ci: adapt Goss tests to work with 3.x series
  .vib/influxdb/goss/vars.yaml
Labels: verify, bitnami

#81382 [bitnami/influxdb] ci: adapt Goss tests to work with 3.x series - ii
  .vib/influxdb/goss/goss.yaml
  .vib/influxdb/goss/influxdb.yaml
  .vib/influxdb/goss/vars.yaml
Labels: verify, bitnami

#81374 [bitnami/kafka] fix: change env var KAFKA_KRAFT_CLUSTER_ID to KAFKA_C…
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#81394 Remove source code of non-latest branches
  bitnami/dremio/25/README.md
  bitnami/dremio/25/debian-12/Dockerfile
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/dremio/25/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/dremio/25/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/dremio/25/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/dremio/25/debian-12/rootfs/opt/bitnami/dremio/nss-wrapper/nss_group
  bitnami/dremio/25/debian-12/rootfs/opt/bitnami/dremio/nss-wrapper/nss_passwd
  bitnami/dremio/25/debian-12/rootfs/opt/bitnami/scripts/dremio/entrypoint.sh
  bitnami/dremio/25/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/dremio/25/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/dremio/25/debian-12/tags-info.yaml
Labels: verify, bitnami, dremio

#81428 [TNZ-34041] Add Grafana Alloy vib tests
  .vib/grafana-alloy/goss/goss.yaml
  .vib/grafana-alloy/goss/vars.yaml
  .vib/grafana-alloy/vib-verify.json
Labels: verify, bitnami

#81446 [bitnami/grafana-alloy] Fix typo in version test
  .vib/grafana-alloy/goss/vars.yaml
Labels: verify, bitnami

#81448 [bitnami/valkey-sentinel][bitnami/influxdb] Deprecate branches
  bitnami/influxdb/2/README.md
  bitnami/influxdb/2/debian-12/Dockerfile
  bitnami/influxdb/2/debian-12/docker-compose.yml
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/influxdb/2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/influxdb/2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/influxdb/2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/influxdb-env.sh
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/influxdb/entrypoint.sh
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/influxdb/postunpack.sh
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/influxdb/run.sh
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/influxdb/setup.sh
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/libinfluxdb.sh
  bitnami/influxdb/2/debian-12/tags-info.yaml
  bitnami/valkey-sentinel/8.0/debian-12/Dockerfile
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/valkey-sentinel/8.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/valkey-sentinel/8.0/debian-12/rootfs/opt/bitnami/scripts/libvalkeysentinel.sh
  bitnami/valkey-sentinel/8.0/debian-12/rootfs/opt/bitnami/scripts/valkey-sentinel-env.sh
  bitnami/valkey-sentinel/8.0/debian-12/rootfs/opt/bitnami/scripts/valkey-sentinel/entrypoint.sh
  bitnami/valkey-sentinel/8.0/debian-12/rootfs/opt/bitnami/scripts/valkey-sentinel/postunpack.sh
  bitnami/valkey-sentinel/8.0/debian-12/rootfs/opt/bitnami/scripts/valkey-sentinel/run.sh
  bitnami/valkey-sentinel/8.0/debian-12/rootfs/opt/bitnami/scripts/valkey-sentinel/setup.sh
  bitnami/valkey-sentinel/8.0/debian-12/tags-info.yaml
Labels: verify, bitnami

#81467 [bitnami/etcd] Deprecate branch 3.5
  bitnami/etcd/3.5/README.md
  bitnami/etcd/3.5/debian-12/Dockerfile
  bitnami/etcd/3.5/debian-12/docker-compose.yml
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/etcd/3.5/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/etcd/3.5/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd-env.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/entrypoint.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/healthcheck.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/postunpack.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/preupgrade.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/run.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/setup.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/snapshot.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/libetcd.sh
  bitnami/etcd/3.5/debian-12/tags-info.yaml
Labels: verify, bitnami, etcd

#81471 [bitnami/node-min] Increase sized threshold for 22.16.0
  .vib/node-min/22/vib-verify.json
Labels: verify, bitnami

#81585 Deprecate contour 1.29 and etcd 3.4
  bitnami/contour/1.29/README.md
  bitnami/etcd/3.4/README.md
Labels: verify, bitnami
