Repository bitnami/containers, pull requests merged in 2025-09, with the labels that each got.

#86100 fix(ci-pipeline): Add condition to license check
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#86157 [bitnami/contour] Contour 1.33 is the latest stable version
  bitnami/contour/1.32/README.md
  bitnami/contour/1.32/debian-12/Dockerfile
  bitnami/contour/1.32/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/contour/1.32/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/contour/1.32/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/contour/1.32/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami, contour

#86180 [bitnami/sealed-secrets-controller] Update .vib check
  .vib/sealed-secrets-controller/goss/sealed-secrets-controller.yaml
Labels: verify, bitnami

#86215 [bitnami/*] Deprecate kafka 3.6/3.7/3.8, nginx ingress controller 1.11 and clickhouse 24.8
  bitnami/clickhouse/24.8/README.md
  bitnami/kafka/3.6/README.md
  bitnami/kafka/3.7/README.md
  bitnami/kafka/3.8/README.md
  bitnami/nginx-ingress-controller/1.11/README.md
Labels: verify, bitnami

#86228 [bitnami/java] Deprecate branch 24
  bitnami/java/24/README.md
Labels: verify, bitnami

#86238 [bitnami/grafana-k6-operator] grafana-k6-operator 1 is the latest stable version
  bitnami/grafana-k6-operator/0/README.md
  bitnami/grafana-k6-operator/0/debian-12/Dockerfile
  bitnami/grafana-k6-operator/0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-k6-operator/0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-k6-operator/0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/grafana-k6-operator/0/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/grafana-k6-operator/0/debian-12/rootfs/etc/ssl/certs/ca-certificates.crt
Labels: verify, bitnami, grafana-k6-operator

#86258 [bitnami/mongodb*] MongoDB 8.2 latest stable
  bitnami/mongodb-sharded/8.0/README.md
  bitnami/mongodb-sharded/8.0/debian-12/Dockerfile
  bitnami/mongodb-sharded/8.0/debian-12/docker-compose.yml
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mongodb-sharded/8.0/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/mongodb/templates/mongodb.conf.tpl
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/mongodb/templates/mongos.conf.tpl
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/libmongodb-sharded.sh
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/libmongodb.sh
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb-env.sh
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb-sharded/entrypoint.sh
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb-sharded/postunpack.sh
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb-sharded/run.sh
  bitnami/mongodb-sharded/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb-sharded/setup.sh
  bitnami/mongodb/8.0/README.md
  bitnami/mongodb/8.0/debian-12/Dockerfile
  bitnami/mongodb/8.0/debian-12/docker-compose.yml
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/mongodb/8.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/mongodb/8.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/mongodb/8.0/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/mongodb/templates/mongodb.conf.tpl
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/scripts/libmongodb.sh
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb-env.sh
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb/entrypoint.sh
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb/postunpack.sh
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb/run.sh
  bitnami/mongodb/8.0/debian-12/rootfs/opt/bitnami/scripts/mongodb/setup.sh
Labels: verify, bitnami

#86291 [TNZ-60416] Adapt vib tests for kaniko bash
  .vib/kaniko/goss/goss.yaml
  .vib/kaniko/goss/vars.yaml
  .vib/kaniko/vib-verify.json
Labels: verify, bitnami
