Repository bitnami/containers, pull requests merged in 2025-08, with the labels that each got.

#84356 [bitnami/cilium-proxy] Deprecate branch 1.32
  bitnami/cilium-proxy/1.32/README.md
Labels: verify, bitnami

#84489 [bitnami/kafka] Deprecate branch 3.5
  bitnami/kafka/3.5/README.md
Labels: verify, bitnami

#84937 [bitnami/grafana-image-renderer] Fix check-app-version test
  .vib/grafana-image-renderer/goss/grafana-image-renderer.yaml
Labels: verify, bitnami

#85038 [bitnami/envoy] Envoy 1.35 is the new latest stable version
  bitnami/envoy/1.34/README.md
  bitnami/envoy/1.34/debian-12/Dockerfile
  bitnami/envoy/1.34/debian-12/docker-compose.yml
  bitnami/envoy/1.34/debian-12/examples/frontend.yaml
  bitnami/envoy/1.34/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.34/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.34/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.34/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.34/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami, envoy

#85072 [bitnami/wildfly] Remove wildfly 36
  bitnami/wildfly/36/debian-12/Dockerfile
  bitnami/wildfly/36/debian-12/docker-compose.yml
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/36/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/36/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/36/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/36/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/36/debian-12/rootfs/opt/bitnami/scripts/wildfly/setup.sh
Labels: verify, bitnami

#85079 [bitnami/ghost] Ghost 6 is the latest stable version
  bitnami/ghost/5/README.md
  bitnami/ghost/5/debian-12/Dockerfile
  bitnami/ghost/5/debian-12/docker-compose.yml
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/ghost/5/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/ghost/5/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/ghost/5/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/ghost/5/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/ghost/nss-wrapper/nss_group
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/ghost/nss-wrapper/nss_passwd
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost-env.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost/entrypoint.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost/postunpack.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost/run.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost/setup.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/ghost/updatehost.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/libghost.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/libmysqlclient.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/mysql-client-env.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/mysql-client/postunpack.sh
  bitnami/ghost/5/debian-12/rootfs/opt/bitnami/scripts/mysql-client/setup.sh
  bitnami/ghost/5/debian-12/rootfs/post-init.d/shell.sh
  bitnami/ghost/5/debian-12/rootfs/post-init.d/sql-mysql.sh
  bitnami/ghost/5/debian-12/rootfs/post-init.sh
Labels: verify, bitnami, ghost

#85228 [bitnami/opensearch] Update config composing priority
  bitnami/opensearch/3/debian-12/rootfs/opt/bitnami/scripts/libopensearch.sh
Labels: verify, in-progress, opensearch

#85559 [bitnami/cypress] Deprecate cypress 14
  bitnami/cypress/13/README.md
  bitnami/cypress/14/debian-12/Dockerfile
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/cypress/14/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/cypress/14/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/cypress/14/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/cypress/14/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami, cypress

#85592 [bitnami/argo-cd] Remove branch 3.0 from the repo
  bitnami/argo-cd/3.0/README.md
  bitnami/argo-cd/3.0/debian-12/Dockerfile
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/argo-cd/3.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/argo-cd/3.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/argo-cd/3.0/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/argo-cd/3.0/debian-12/rootfs/opt/bitnami/argo-cd/nss-wrapper/nss_group
  bitnami/argo-cd/3.0/debian-12/rootfs/opt/bitnami/argo-cd/nss-wrapper/nss_passwd
  bitnami/argo-cd/3.0/debian-12/rootfs/opt/bitnami/scripts/argo-cd/entrypoint.sh
  bitnami/argo-cd/3.0/debian-12/rootfs/opt/bitnami/scripts/argo-cd/postunpack.sh
Labels: verify, bitnami, argo-cd

#85613 Kubectl 1.34 is the latest stable version
  bitnami/kubectl/1.33/README.md
  bitnami/kubectl/1.33/debian-12/Dockerfile
  bitnami/kubectl/1.33/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kubectl/1.33/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kubectl/1.33/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kubectl/1.33/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kubectl/1.33/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami, kubectl

#85625 [bitnami/postgrest] Remove postgrest 11
  bitnami/postgrest/11/debian-12/Dockerfile
  bitnami/postgrest/11/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/postgrest/11/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/postgrest/11/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/postgrest/11/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/postgrest/11/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami
