Repository bitnami/containers, pull requests merged in 2025-07, with the labels that each got.

#82793 [bitnami/postgresql-repmgr] Added POSTGRESQL_REPLICATION_NODES variable to allow override of sync…
  bitnami/postgresql-repmgr/17/debian-12/rootfs/opt/bitnami/scripts/libpostgresql.sh
  bitnami/postgresql-repmgr/17/debian-12/rootfs/opt/bitnami/scripts/postgresql-env.sh
  bitnami/postgresql-repmgr/README.md
Labels: verify, in-progress, postgresql-repmgr

#82823 [bitnami/superset] Superset 5 new LTS
  bitnami/superset/4/README.md
  bitnami/superset/4/debian-12/Dockerfile
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/superset/4/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/superset/4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/superset/4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/superset/4/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/libsuperset.sh
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/superset-env.sh
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/superset/entrypoint.sh
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/superset/files/superset_config.py
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/superset/postunpack.sh
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/superset/run.sh
  bitnami/superset/4/debian-12/rootfs/opt/bitnami/scripts/superset/setup.sh
  bitnami/superset/4/debian-12/tags-info.yaml
Labels: verify, bitnami, superset

#82892 [bitnami/nginx-ingress-controller] Add branch 1.11
  bitnami/nginx-ingress-controller/1.11/README.md
Labels: verify, bitnami, nginx-ingress-controller

#82886 Update README.md to use correct locations when adding API support to SuiteCRM image
  bitnami/suitecrm/README.md
Labels: verify, in-progress, suitecrm

#82948 [bitnami/nginx-ingress-controller] Deprecate branch 1
  bitnami/nginx-ingress-controller/1/debian-12/Dockerfile
  bitnami/nginx-ingress-controller/1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/nginx-ingress-controller/1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/nginx-ingress-controller/1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/nginx-ingress-controller/1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/nginx-ingress-controller/1/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/nginx-ingress-controller/1/debian-12/tags-info.yaml
Labels: verify, bitnami

#83130 [bitnami/tomcat] Tomcat 11.0 new latest stable
  bitnami/tomcat/10.1/README.md
  bitnami/tomcat/10.1/debian-12/Dockerfile
  bitnami/tomcat/10.1/debian-12/docker-compose.yml
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/tomcat/10.1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/tomcat/10.1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/tomcat/10.1/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/libtomcat.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat-env.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/bitnami-templates/setenv.sh.tpl
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/entrypoint.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/postunpack.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/restart.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/run.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/setup.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/start.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/status.sh
  bitnami/tomcat/10.1/debian-12/rootfs/opt/bitnami/scripts/tomcat/stop.sh
  bitnami/tomcat/10.1/debian-12/tags-info.yaml
Labels: verify, bitnami, tomcat

#83213 [bitnami/scylladb] ScyllaDB 2025.2 is the new LTS
  bitnami/scylladb/2025.1/README.md
  bitnami/scylladb/2025.1/debian-12/Dockerfile
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/scylladb/2025.1/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/scylladb/2025.1/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/scylladb/2025.1/debian-12/prebuildfs/usr/sbin/uninstall_packages
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/libscylladb.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/scylladb-env.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/scylladb/entrypoint.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/scylladb/postunpack.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/scylladb/run.sh
  bitnami/scylladb/2025.1/debian-12/rootfs/opt/bitnami/scripts/scylladb/setup.sh
Labels: verify, bitnami, scylladb

#83180 [bitnami/versitygw] ci: :construction_worker: Add VIB files
  .vib/versitygw/goss/goss.yaml
  .vib/versitygw/goss/vars.yaml
  .vib/versitygw/goss/versitygw.yaml
  .vib/versitygw/vib-verify.json
Labels: verify, bitnami

#83181 [bitnami/nginx] Better match with kubernetes.io/tls secret type. (server.crt, server.key -> tls.crt, tls.key)
  bitnami/nginx/1.29/debian-12/rootfs/opt/bitnami/scripts/libnginx.sh
  bitnami/nginx/1.29/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-https-server-block.conf.tpl
  bitnami/nginx/1.29/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/default-https-server-block.conf
  bitnami/nginx/1.29/debian-12/rootfs/opt/bitnami/scripts/nginx/setup.sh
  bitnami/nginx/README.md
Labels: verify, nginx, in-progress

#83592 [bitnami/grafana-alloy] Deprecate branch 1.9
  bitnami/grafana-alloy/1.9/debian-12/Dockerfile
  bitnami/grafana-alloy/1.9/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-alloy/1.9/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-alloy/1.9/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-alloy/1.9/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/grafana-alloy/1.9/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami

#83578 Updated bitnami/openldap/README.md to help guid users in loading overlays
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#83689 chore: :fire: Remove tests from private containers
  .vib/grafana-pyroscope/goss/goss.yaml
  .vib/grafana-pyroscope/goss/grafana-pyroscope.yaml
  .vib/grafana-pyroscope/goss/vars.yaml
  .vib/grafana-pyroscope/vib-verify.json
  .vib/versitygw/goss/goss.yaml
  .vib/versitygw/goss/vars.yaml
  .vib/versitygw/goss/versitygw.yaml
  .vib/versitygw/vib-verify.json
Labels: verify, bitnami

#83756 [bitnami/jaeger] Fix tests for v1/v2 compatibility
  .vib/jaeger/goss/goss.yaml
  .vib/jaeger/goss/jaeger.yaml
  .vib/jaeger/goss/vars.yaml
Labels: verify, bitnami

#83816 [bitnami/grafana-image-renderer] Deprecate branch 3
  bitnami/grafana-image-renderer/3/debian-12/Dockerfile
  bitnami/grafana-image-renderer/3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/grafana-image-renderer/3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/grafana-image-renderer/3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/grafana-image-renderer/3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/grafana-image-renderer/3/debian-12/prebuildfs/usr/sbin/uninstall_packages
Labels: verify, bitnami

#83786 [bitnami/nginx] Add support for context-based configuration includes
  bitnami/nginx/1.29/debian-12/rootfs/opt/bitnami/nginx/conf/nginx.conf
  bitnami/nginx/1.29/debian-12/rootfs/opt/bitnami/scripts/nginx/postunpack.sh
  bitnami/nginx/README.md
Labels: verify, nginx, in-progress
