Repository bitnami/containers, pull requests merged in 2025-01, with the labels that each got.

#76021 [bitnami/static] Add vib file for static
  .vib/static/vib-verify.json
Labels: verify, bitnami

#76046 [bitnami/libgcc] Add vib file
  .vib/libgcc/vib-verify.json
Labels: verify, bitnami

#75937 Update bitnami/openldap/README.md
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap

#76132 [bitnami/sonarqube] Remove sonarqube 24
  bitnami/sonarqube/24/README.md
  bitnami/sonarqube/24/debian-12/Dockerfile
  bitnami/sonarqube/24/debian-12/docker-compose.yml
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/sonarqube/24/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/sonarqube/24/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/libpostgresqlclient.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/libsonarqube.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/postgresql-client-env.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/postgresql-client/setup.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/sonarqube-env.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/sonarqube/entrypoint.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/sonarqube/postunpack.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/sonarqube/run.sh
  bitnami/sonarqube/24/debian-12/rootfs/opt/bitnami/scripts/sonarqube/setup.sh
  bitnami/sonarqube/24/debian-12/rootfs/post-init.d/shell.sh
  bitnami/sonarqube/24/debian-12/rootfs/post-init.d/sql-postgresql.sh
  bitnami/sonarqube/24/debian-12/rootfs/post-init.sh
  bitnami/sonarqube/24/debian-12/tags-info.yaml
Labels: verify, bitnami, sonarqube

#76158 [bitnami/wildfly] Remove Wildfly 34
  bitnami/wildfly/33/README.md
  bitnami/wildfly/34/debian-12/Dockerfile
  bitnami/wildfly/34/debian-12/docker-compose.yml
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/34/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/34/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/34/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/34/debian-12/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/34/debian-12/tags-info.yaml
Labels: verify, bitnami

#76224 Add .vib/aspnet-min
  .vib/aspnet-min/vib-verify.json
Labels: verify, bitnami

#76266 [bitnami/php-fpm-min] Add php-fpm-min vib folder
  .vib/php-fpm-min/vib-verify.json
Labels: verify, bitnami

#76269 Add .vib/python-min
  .vib/python-min/vib-verify.json
Labels: verify, bitnami

#76236 [bitnami/clickhouse] add support for etc/config.d
  bitnami/clickhouse/24/debian-12/rootfs/opt/bitnami/scripts/clickhouse/postunpack.sh
  bitnami/clickhouse/24/debian-12/rootfs/opt/bitnami/scripts/libclickhouse.sh
  bitnami/clickhouse/README.md
Labels: verify, in-progress, clickhouse

#76234 [bitnami/clickhouse] Fix CLICKHOUSE_MOUNTED_DIR: unbound variable
  bitnami/clickhouse/24/debian-12/rootfs/opt/bitnami/scripts/libclickhouse.sh
Labels: verify, in-progress, clickhouse

#75906 [bitnami/etcd] Stop relying on files for state
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd-env.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/prestop.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/etcd/preupgrade.sh
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/libetcd.sh
  bitnami/etcd/README.md
Labels: verify, in-progress, etcd

#76448 Deprecate Cypress 13 branch
  bitnami/cypress/13/README.md
  bitnami/cypress/13/debian-12/Dockerfile
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/cypress/13/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/cypress/13/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/cypress/13/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/cypress/13/debian-12/tags-info.yaml
Labels: verify, bitnami, cypress

#76085 [bitnami/rabbitmq] Add environment variable to set password of rabbitmq ssl key file
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/librabbitmq.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq-env.sh
  bitnami/rabbitmq/README.md
Labels: verify, in-progress, rabbitmq

#76481 [bitnami/suitecrm] Remove GOSS duplicated file
  .vib/suitecrm/goss/suitecrm.yaml
Labels: verify, bitnami

#76483 [bitnami/suitecrm] Check correct upload_max_filesize
  .vib/suitecrm/goss/suitecrm.yaml
Labels: verify, bitnami

#76488 [bitnami/envoy] Deprecate envoy 1.29
  bitnami/envoy/1.29/README.md
Labels: verify, bitnami

#76500 [bitnami/envoy] Remove branch 1.32
  bitnami/envoy/1.32/README.md
  bitnami/envoy/1.32/debian-12/Dockerfile
  bitnami/envoy/1.32/debian-12/docker-compose.yml
  bitnami/envoy/1.32/debian-12/examples/frontend.yaml
  bitnami/envoy/1.32/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.32/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.32/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.32/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.32/debian-12/tags-info.yaml
Labels: verify, bitnami, envoy

#76501 [bitnami/nats] Prepare VIB tests for new scratch image
  .vib/nats/goss/goss.yaml
  .vib/nats/goss/nats.yaml
  .vib/nats/goss/vars.yaml
  .vib/nats/vib-verify.json
Labels: verify, bitnami

#67410 [bitnami/superset] Add VIB tests
  .vib/superset/goss/goss.yaml
  .vib/superset/goss/superset.yaml
  .vib/superset/goss/vars.yaml
  .vib/superset/vib-verify.json
Labels: verify, stale, on-hold, bitnami

#76506 [bitnami/appsmith] Remove wait-for-port binary check
  .vib/appsmith/goss/vars.yaml
Labels: verify, bitnami

#76507 [bitnami/kong][bitnami/harbor] Remove some binary checks
  .vib/harbor-core/goss/vars.yaml
  .vib/kong/goss/vars.yaml
Labels: verify, bitnami

#76513 [bitnami/java-min] ci: :construction_worker: Add VIB files
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#76621 [bitnami/ruby-min] Add vib folder for Ruby minimal
  .vib/ruby-min/vib-verify.json
Labels: verify, bitnami

#76609 [bitnami/nats] Recover Goss test for NATS
  .vib/common/goss/templates/check-app-version-no-shell-stderr.yaml
  .vib/common/goss/templates/check-app-version-no-shell-stdout.yaml
  .vib/nats/goss/goss.yaml
  .vib/nats/goss/nats.yaml
  .vib/nats/goss/vars.yaml
  .vib/nats/vib-verify.json
Labels: verify, bitnami

#76703 [bitnami/node-min] Add Goss test
  .vib/common/goss/templates/check-minimal.yaml
  .vib/common/goss/templates/check-openssl-fips.yaml
  .vib/node-min/goss/goss.yaml
  .vib/node-min/goss/node-min.yaml
  .vib/node-min/goss/vars.yaml
  .vib/node-min/vib-verify.json
  TESTING.md
Labels: verify, bitnami

#76761 [bitnami/python-min] Add Goss test
  .vib/python-min/goss/goss.yaml
  .vib/python-min/goss/python-min.yaml
  .vib/python-min/goss/vars.yaml
  .vib/python-min/vib-verify.json
Labels: verify, bitnami

#76762 [bitnami/php-fpm-min] Add Goss test
  .vib/php-fpm-min/goss/goss.yaml
  .vib/php-fpm-min/goss/php-fpm-min.yaml
  .vib/php-fpm-min/goss/vars.yaml
  .vib/php-fpm-min/vib-verify.json
Labels: verify, bitnami

#76763 [bitnami/ruby-min] Add Goss test
  .vib/ruby-min/goss/goss.yaml
  .vib/ruby-min/goss/ruby-min.yaml
  .vib/ruby-min/goss/vars.yaml
  .vib/ruby-min/vib-verify.json
Labels: verify, bitnami

#76765 fix(goss): Remove wait-for-port from checked binaries
  .vib/minio/goss/vars.yaml
Labels: verify, bitnami

#76769 [bitnami/java-min] Add Goss test
  .vib/common/goss/templates/check-minimal.yaml
  .vib/java-min/goss/HelloWorld.jar
  .vib/java-min/goss/goss.yaml
  .vib/java-min/goss/java-min.yaml
  .vib/java-min/goss/vars.yaml
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#76772 [bitnami/*] feat: add extra checks on minimal containers
  .vib/php-fpm-min/goss/vars.yaml
  .vib/python-min/goss/vars.yaml
  .vib/ruby-min/goss/vars.yaml
Labels: verify, bitnami

#76773 [bitnmi/java-min] bugfix: amend runtime parameters for vib verify
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#76782 [bitnami/minio] Remove branch 2024
  bitnami/minio-client/2024/README.md
  bitnami/minio-client/2024/debian-12/Dockerfile
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/minio-client/2024/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/minio-client/2024/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/minio-client/2024/debian-12/rootfs/opt/bitnami/scripts/libminioclient.sh
  bitnami/minio-client/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client-env.sh
  bitnami/minio-client/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/entrypoint.sh
  bitnami/minio-client/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/postunpack.sh
  bitnami/minio-client/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/run.sh
  bitnami/minio-client/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/setup.sh
  bitnami/minio-client/2024/debian-12/tags-info.yaml
  bitnami/minio/2024/README.md
  bitnami/minio/2024/debian-12/Dockerfile
  bitnami/minio/2024/debian-12/docker-compose.yml
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/minio/2024/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/minio/2024/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/minio/2024/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/libminio.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/libminioclient.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client-env.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/entrypoint.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/postunpack.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/run.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio-client/setup.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio-env.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio/entrypoint.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio/postunpack.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio/run.sh
  bitnami/minio/2024/debian-12/rootfs/opt/bitnami/scripts/minio/setup.sh
  bitnami/minio/2024/debian-12/tags-info.yaml
Labels: verify, bitnami

#76784 Deprecate MinIO/MinIO Client 2024
  bitnami/minio-client/2024/README.md
  bitnami/minio/2024/README.md
Labels: verify, bitnami

#76809 [bitnami/*-min] test: :white_check_mark: Make tests distro-generic
  .vib/common/goss/templates/check-minimal.yaml
  .vib/common/goss/templates/check-openssl-fips.yaml
  .vib/java-min/goss/java-min.yaml
  .vib/java-min/goss/vars.yaml
Labels: verify, bitnami

#76810 [TNZ-28332] Adapt spdx file test for Debian
  .vib/php-fpm-min/goss/vars.yaml
  .vib/python-min/goss/vars.yaml
  .vib/ruby-min/goss/vars.yaml
Labels: verify, bitnami

#76811 [bitnami/spring-cloud-dataflow] test: :white_check_mark: Disable version check
  .vib/spring-cloud-dataflow/goss/spring-cloud-dataflow.yaml
Labels: verify, bitnami

#76785 [bitnami/openldap] Document mountpoint for data persistence
  bitnami/openldap/README.md
Labels: verify, in-progress, openldap
