Repository bitnami/containers, pull requests merged in 2025-04, with the labels that each got.

#79226 [bitnami/ruby] Deprecate branch 3.1
  bitnami/ruby/3.1/README.md
Labels: verify, bitnami

#79078 [bitnami/discourse] Fix sidekiq volume mount in docker compose
  bitnami/discourse/docker-compose.yml
Labels: verify, solved, discourse

#79385 [bitnami/fluent-bit] Remove support for fluent-bit < 4
  bitnami/fluent-bit/3/README.md
  bitnami/fluent-bit/3/debian-12/Dockerfile
  bitnami/fluent-bit/3/debian-12/docker-compose.yml
  bitnami/fluent-bit/3/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/fluent-bit/3/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/fluent-bit/3/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/fluent-bit/3/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/fluent-bit/3/debian-12/tags-info.yaml
Labels: verify, bitnami

#79389 [bitnami/clickhouse-operator-*] feat: Add goss tests
  .vib/clickhouse-operator-metrics-exporter/goss/clickhouse-operator-metrics-exporter.yaml
  .vib/clickhouse-operator-metrics-exporter/goss/goss.yaml
  .vib/clickhouse-operator-metrics-exporter/goss/vars.yaml
  .vib/clickhouse-operator-metrics-exporter/vib-verify.json
  .vib/clickhouse-operator/goss/clickhouse-operator.yaml
  .vib/clickhouse-operator/goss/goss.yaml
  .vib/clickhouse-operator/goss/vars.yaml
  .vib/clickhouse-operator/vib-verify.json
Labels: verify, bitnami

#79415 [bitnami/clickhouse-keeper] feat: Add goss tests
  .vib/clickhouse-keeper/goss/clickhouse-keeper.yaml
  .vib/clickhouse-keeper/goss/goss.yaml
  .vib/clickhouse-keeper/goss/vars.yaml
  .vib/clickhouse-keeper/vib-verify.json
Labels: verify, bitnami

#79787 [bitnami/appsmith] Increase test timeout
  .vib/appsmith/goss/appsmith.yaml
Labels: verify, bitnami

#79964 Increase timeout for mlflow test
  .vib/mlflow/goss/mlflow.yaml
Labels: verify, bitnami

#79678 [bitnami] Update Bitnami logo URL
  README.md
Labels: verify, bitnami

#79965 [bitnami/java-min] Increase size threshold for java-min 24
  .vib/java-min/vib-verify.json
Labels: verify, bitnami

#79966 [bitnami/clickhouse-keeper] bugfix: goss tests
  .vib/clickhouse-keeper/goss/clickhouse-keeper.yaml
Labels: verify, bitnami

#80038 [bitnami/clickhouse] Deprecate branch 24 and 24.3
  bitnami/clickhouse/24.3/README.md
  bitnami/clickhouse/24/README.md
Labels: verify, bitnami

#80039 [bitnami/parse-dashboard] Deprecate branch 5 and 6
  bitnami/parse-dashboard/5/README.md
  bitnami/parse-dashboard/6/debian-12/Dockerfile
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/parse-dashboard/6/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/parse-dashboard/6/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/libparsedashboard.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/parse-dashboard-env.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/parse-dashboard/entrypoint.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/parse-dashboard/postunpack.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/parse-dashboard/run.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/parse-dashboard/setup.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/opt/bitnami/scripts/parse-dashboard/updatehost.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/post-init.d/shell.sh
  bitnami/parse-dashboard/6/debian-12/rootfs/post-init.sh
  bitnami/parse-dashboard/6/debian-12/tags-info.yaml
Labels: verify, bitnami

#79386 [bitnami/redis-sentinel] Allow setting tls-ca-cert-dir via ENV variable
  bitnami/redis-sentinel/7.4/debian-12/rootfs/opt/bitnami/scripts/libredissentinel.sh
  bitnami/redis-sentinel/7.4/debian-12/rootfs/opt/bitnami/scripts/redis-sentinel-env.sh
  bitnami/redis-sentinel/README.md
Labels: verify, in-progress, redis-sentinel

#80050 [bitnami/cadvisor] ci: :construction_worker: Add VIB files
  .vib/cadvisor/goss/goss.yaml
  .vib/cadvisor/goss/vars.yaml
  .vib/cadvisor/vib-verify.json
Labels: verify, bitnami

#80114 [bitnami/scylladb] Remove scylladb 6.2
  bitnami/scylladb/6.2/README.md
  bitnami/scylladb/6.2/debian-12/Dockerfile
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/scylladb/6.2/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/scylladb/6.2/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/libscylladb.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/scylladb-env.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/scylladb/entrypoint.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/scylladb/postunpack.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/scylladb/run.sh
  bitnami/scylladb/6.2/debian-12/rootfs/opt/bitnami/scripts/scylladb/setup.sh
  bitnami/scylladb/6.2/debian-12/tags-info.yaml
Labels: verify, bitnami, scylladb

#80115 [bitnami/wildfly] Deprecate branch 35
  bitnami/wildfly/35/debian-12/Dockerfile
  bitnami/wildfly/35/debian-12/docker-compose.yml
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/wildfly/35/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/wildfly/35/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/wildfly/35/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/java/entrypoint.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/java/postunpack.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/libwildfly.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/wildfly-env.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/wildfly/entrypoint.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/wildfly/postunpack.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/wildfly/run.sh
  bitnami/wildfly/35/debian-12/rootfs/opt/bitnami/scripts/wildfly/setup.sh
  bitnami/wildfly/35/debian-12/tags-info.yaml
Labels: verify, bitnami

#80116 [bitnami/moodle] Deprecate branch 4.3
  bitnami/moodle/4.3/README.md
Labels: verify, bitnami

#79986 [bitnami/influxdb] add config file format support / issue 79984
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/influxdb-env.sh
  bitnami/influxdb/2/debian-12/rootfs/opt/bitnami/scripts/libinfluxdb.sh
  bitnami/influxdb/README.md
Labels: verify, in-progress, influxdb

#80126 [bitnami/jupyterhub] Remove 4.x folders after 5.x release
  bitnami/jupyter-base-notebook/4/debian-12/Dockerfile
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/jupyter-base-notebook/4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/jupyter-base-notebook/4/debian-12/tags-info.yaml
  bitnami/jupyter-base-notebook/5/README.md
  bitnami/jupyterhub/4/debian-12/Dockerfile
  bitnami/jupyterhub/4/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/jupyterhub/4/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/jupyterhub/4/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/jupyterhub/4/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/jupyterhub/4/debian-12/tags-info.yaml
  bitnami/jupyterhub/5/README.md
Labels: verify

#80385 [bitnami/jupyterhub][bitnami/jupyter-base-notebook] Deprecate branch 4
  bitnami/jupyter-base-notebook/4/README.md
  bitnami/jupyterhub/4/README.md
Labels: verify, bitnami

#80389 [bitnami/wildfly] Remove test for JDBC drivers
  .vib/wildfly/goss/wildfly.yaml
Labels: verify, bitnami

#80419 [bitnami/grafana] fix(tests): Remove deprecated plugins from tests
  .vib/grafana/goss/vars.yaml
Labels: verify, bitnami

#80446 [bitnami/envoy-gateway] ci: :construction_worker: Add VIB files
  .vib/envoy-gateway/goss/goss.yaml
  .vib/envoy-gateway/goss/vars.yaml
  .vib/envoy-gateway/vib-verify.json
  .vib/envoy-ratelimit/goss/goss.yaml
  .vib/envoy-ratelimit/goss/vars.yaml
  .vib/envoy-ratelimit/vib-verify.json
Labels: verify, bitnami

#75942 [bitnami/nginx] shutting down gracefully
  bitnami/nginx/1.27/debian-12/Dockerfile
Labels: verify, nginx, on-hold

#80482 [bitnami/memcached-exporter] Update test command
  .vib/memcached-exporter/goss/vars.yaml
  .vib/memcached-exporter/vib-verify.json
Labels: verify, bitnami

#80500 [bitnami/memcached-exporter] goss: use stderr instead of stdout
  .vib/memcached-exporter/goss/goss.yaml
Labels: verify, bitnami

#80507 [bitnami/mysql] Deprecate branch 9.2
  bitnami/mysql/9.2/README.md
Labels: verify, bitnami

#80486 [bitnami/*] Adapt tests for scratch containers PATH
  .vib/argo-workflow-cli/goss/argo-workflow-cli.yaml
  .vib/argo-workflow-cli/goss/vars.yaml
  .vib/argo-workflow-controller/goss/argo-workflow-controller.yaml
  .vib/argo-workflow-controller/goss/vars.yaml
  .vib/chainloop-artifact-cas/goss/chainloop-artifact-cas.yaml
  .vib/chainloop-artifact-cas/goss/vars.yaml
  .vib/chainloop-control-plane-migrations/goss/chainloop-control-plane-migrations.yaml
  .vib/chainloop-control-plane-migrations/goss/vars.yaml
  .vib/chainloop-control-plane/goss/chainloop-control-plane.yaml
  .vib/chainloop-control-plane/goss/vars.yaml
  .vib/charts-syncer/goss/charts-syncer.yaml
  .vib/charts-syncer/goss/vars.yaml
  .vib/clickhouse-operator-metrics-exporter/goss/vars.yaml
  .vib/clickhouse-operator/goss/vars.yaml
  .vib/kserve-agent/goss/kserve-agent.yaml
  .vib/kserve-localmodel-controller/goss/kserve-localmodel-controller.yaml
  .vib/kserve-localmodelnode-agent/goss/kserve-localmodelnode-agent.yaml
  .vib/kserve-router/goss/kserve-router.yaml
  .vib/kube-rbac-proxy/goss/kube-rbac-proxy.yaml
  .vib/kube-rbac-proxy/goss/vars.yaml
  .vib/kubeapps-apprepository-controller/goss/kubeapps-apprepository-controller.yaml
  .vib/kubeapps-apprepository-controller/goss/vars.yaml
  .vib/kubeapps-asset-syncer/goss/kubeapps-asset-syncer.yaml
  .vib/kubeapps-asset-syncer/goss/vars.yaml
  .vib/nats/goss/nats.yaml
  .vib/nats/goss/vars.yaml
  .vib/node-min/goss/vars.yaml
  .vib/oras/goss/oras.yaml
  .vib/oras/goss/vars.yaml
  .vib/pinniped/goss/pinniped.yaml
  .vib/pinniped/goss/vars.yaml
  .vib/rabbitmq-cluster-operator/goss/rabbitmq-cluster-operator.yaml
  .vib/rabbitmq-cluster-operator/goss/vars.yaml
  .vib/rmq-default-credential-updater/goss/rmq-default-credential-updater.yaml
  .vib/rmq-default-credential-updater/goss/vars.yaml
  .vib/rmq-messaging-topology-operator/goss/rmq-messaging-topology-operator.yaml
  .vib/rmq-messaging-topology-operator/goss/vars.yaml
  .vib/sealed-secrets-controller/goss/sealed-secrets-controller.yaml
  .vib/sealed-secrets-controller/goss/vars.yaml
  .vib/sealed-secrets-kubeseal/goss/sealed-secrets-kubeseal.yaml
  .vib/sealed-secrets-kubeseal/goss/vars.yaml
  .vib/thanos/goss/thanos.yaml
  .vib/thanos/goss/vars.yaml
  .vib/trivy/goss/vars.yaml
  .vib/victoriametrics-vmagent/goss/victoriametrics-vmagent.yaml
  .vib/victoriametrics-vmalert/goss/victoriametrics-vmalert.yaml
  .vib/victoriametrics-vmauth/goss/victoriametrics-vmauth.yaml
  .vib/victoriametrics-vminsert/goss/victoriametrics-vminsert.yaml
  .vib/victoriametrics-vmstorage/goss/victoriametrics-vmstorage.yaml
Labels: verify, bitnami

#80545 [bitnami/kubectl] kubectl 1.33 new latest stable branch
  bitnami/kubectl/1.32/README.md
  bitnami/kubectl/1.32/debian-12/Dockerfile
  bitnami/kubectl/1.32/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/kubectl/1.32/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/kubectl/1.32/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/kubectl/1.32/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/kubectl/1.32/debian-12/tags-info.yaml
Labels: verify, bitnami, kubectl

#80559 Deprecate rabbitmq 4.0, envoy 1.30 and nginx 1.26
  .vib/rabbitmq/goss/vars.yaml
  bitnami/envoy/1.30/README.md
  bitnami/nginx/1.26/README.md
  bitnami/rabbitmq/4.0/debian-12/Dockerfile
  bitnami/rabbitmq/4.0/debian-12/config/advanced.config
  bitnami/rabbitmq/4.0/debian-12/docker-compose.yml
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/rabbitmq/4.0/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/librabbitmq.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq-env.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/apicheck.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/entrypoint.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/healthcheck.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/nodeshutdown.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/postunpack.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/run.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/setup.sh
  bitnami/rabbitmq/4.0/debian-12/rootfs/opt/bitnami/scripts/rabbitmq/waitforsafeshutdown.sh
  bitnami/rabbitmq/4.0/debian-12/tags-info.yaml
Labels: verify, bitnami

#80561 [bitnami/redis*] Recover 7.2 folder
  bitnami/redis-cluster/7.2/README.md
  bitnami/redis-sentinel/7.2/README.md
  bitnami/redis/7.2/README.md
Labels: verify, bitnami

#79675 [bitnami/zookeeper] Update libzookeeper.sh use is_mounted_dir_empty
  bitnami/zookeeper/3.9/debian-12/rootfs/opt/bitnami/scripts/libzookeeper.sh
Labels: verify, in-progress, zookeeper

#80620 [bitnami/envoy] Envoy 1.34 new latest stable
  bitnami/envoy/1.33/README.md
  bitnami/envoy/1.33/debian-12/Dockerfile
  bitnami/envoy/1.33/debian-12/docker-compose.yml
  bitnami/envoy/1.33/debian-12/examples/frontend.yaml
  bitnami/envoy/1.33/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
  bitnami/envoy/1.33/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
  bitnami/envoy/1.33/debian-12/prebuildfs/usr/sbin/install_packages
  bitnami/envoy/1.33/debian-12/prebuildfs/usr/sbin/run-script
  bitnami/envoy/1.33/debian-12/tags-info.yaml
Labels: verify, bitnami, envoy

#80585 [bitnami/phpmyadmin] override phpmyadmin ExecTimeLimit and MemoryLimit via environment variables
  bitnami/phpmyadmin/5/debian-12/rootfs/opt/bitnami/scripts/libphpmyadmin.sh
  bitnami/phpmyadmin/5/debian-12/rootfs/opt/bitnami/scripts/phpmyadmin-env.sh
Labels: verify, in-progress, phpmyadmin

#80457 [bitnami/etcd] Log snapshot filename
  bitnami/etcd/3.5/debian-12/rootfs/opt/bitnami/scripts/libetcd.sh
Labels: verify, in-progress, etcd

#80644 [bitnami/prometheus] Deprecate branch 2
  bitnami/prometheus/2/README.md
Labels: verify, bitnami

#80643 Deprecate branch 7.4 in Confluent Platform, KSQL and Schema Registry
  bitnami/ksql/7.4/README.md
  bitnami/schema-registry/7.4/README.md
Labels: verify, bitnami

#80650 Add prometheus 2.53 README
  bitnami/prometheus/2.53/README.md
Labels: verify, bitnami, prometheus
